<?php if (!$this->fatalError): ?>

<?= Form::open(['class' => 'layout']) ?>
<div class="layout-row">
    <?= $this->formRender() ?>
</div>

<div class="form-buttons">
    <div class="loading-indicator-container">
        <button class="btn btn-primary"
            type="submit"
            data-request="onSave"
            data-request-data="redirect:0, course_id: <?= (int)post('course_id') ?>, 'status_id': <?= (int)post('status_id') ?>"
            data-hotkey="ctrl+s, cmd+s"
            data-load-indicator=""
            data-request-success="
                var $dialog = $(this);
                $(this).hide();
                $('#workspace_frame').attr('src', '<?= Backend::url('igvs/courses/courses/update/' . (int)post('course_id') .'?q=comments' ) ?>');
                var $neddCommentCourse = true;
                $('#workspace_frame').load(function()
                {
                    if ($neddCommentCourse) {
                        $dialog.closest('.control-popup').trigger('close.oc.popup');
                        $neddCommentCourse = false;
                    }
                });
            ">
            <?= e(trans('backend::lang.form.save')) ?>
        </button>
        <a class="btn btn-default"
            data-dismiss="popup">
            <?= e(trans('backend::lang.form.cancel')) ?>
        </a>
    </div>
</div>
<?= Form::close() ?>

<?php else: ?>
    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('igvs/courses') ?>" class="btn btn-default">Return to courses list</a></p>
<?php endif ?>