<?php
use Igvs\Courses\Models\Course;
use Igvs\Courses\Models\Status;
use Igvs\Courses\Models\ModuleContent;

if ($course = Course::find(post('course_id'))) {

    if (!($status_id = post('status_id'))
        || ($status_id == $course->status_id)
        || !isset($course->getStatusOptions()[$status_id])
    ) {
        return;
    }
    $moduleCount = $course->modules()->where('status_id', $course->status_id)->count();
    $statuses = [];
    foreach (Status::whereIn('id', [$status_id, $course->status_id])->get() as $status) {
        $statuses[$status->id] = $status;
    }
    ?>
    <h4>
        Вы собираетесь
        <?= $this->mb_lcfirst($statuses[$status_id]->command) . 
        (is_null($course->status_id) ? '' : ' курс, находящийся в статусе "' . $this->mb_lcfirst($statuses[$course->status_id]->name)) ?>"
    </h4>
    <?php if ($moduleCount): ?>
    <gray>
        При этом
        <?= $moduleCount ?>
        <?= $this->declension($moduleCount, 'модул', ['ь','я','ей']) ?>
        также
        <?= $this->declension($moduleCount, 'установ', ['ит','ят','ят']) ?>
        свой статус
        "<?= $statuses[$status_id]->name ?>"
    </gray>
    <?php endif;
}
elseif ($module = ModuleContent::find(post('module_id'))) {
    $statuses = [];
    $status_id = post('status_id');
    foreach (Status::whereIn('id', [$status_id, $module->status_id])->get() as $status) {
        $statuses[$status->id] = $status;
    }
    ?>
    <h4>
        Вы собираетесь
        <?= $this->mb_lcfirst($statuses[$status_id]->command) . 
        (is_null($module->status_id) ? '' : ' модуль, находящийся в статусе "' . $this->mb_lcfirst($statuses[$module->status_id]->name)) ?>"
    </h4>
    <?php
}