<div class="panel no-padding-bottom border-top">
    <div class="form-buttons">
        <div class="pull-right">
            <?php if (!$hide_insert) { ?>
            <button
                type="button"
                data-command="popup-command"
                data-popup-command="insert"
                class="btn btn-primary">
                <?= e(trans('cms::lang.media.insert')) ?>
            </button>
            <?php } ?>

            <button
                type="button"
                data-command="popup-command"
                data-popup-command="crop-and-insert"
                class="btn btn-primary hide">
                <?= e(trans('cms::lang.media.crop_and_insert')) ?>
            </button>

            <button
                type="button"
                data-dismiss="popup"
                class="btn btn-default no-margin-right">
                <?= e(trans('backend::lang.form.cancel')) ?>
            </button>
        </div>
    </div>
</div>