<div class="panel no-padding-bottom border-top">
    <div class="form-buttons">
        <div class="pull-left" style="position: relative">
            <button
                    id="media-manager-copy-to-clipboard-copy-files"
                    type="button"
                    class="btn btn-default no-margin-right"
                    style="margin-right: 4px;">
                <?= Lang::get('igvs.courses::lang.default.command.copy_files') ?>
            </button>
            <button
                    id="media-manager-copy-to-clipboard-insert-files"
                    type="button"
                    class="btn btn-default no-margin-right"
                    style="margin-right: 4px;">
                <?= Lang::get('igvs.courses::lang.default.command.insert_files') ?>
            </button>
        </div>
        <div class="pull-right" style="position: relative">
            <button
                id="media-manager-copy-to-clipboard"
                type="button"
                class="btn btn-default no-margin-right"
                style="margin-right: 4px;">
                <?= trans('cms::lang.media.copy_path') ?>
            </button>
            <button
                id="media-manager-close-window"
                type="button"
                data-dismiss="popup"
                class="btn btn-default no-margin-right">
                <?= trans('cms::lang.media.close') ?>
            </button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        setTimeout(function(){
            $('#media-manager-copy-to-clipboard-copy-files').on('click', function(){

                var items = $('#MediaManager-ocmediamanager-item-list [class=selected]');
                if (items.length) {
                    var paths = [];

                    for (var i=0; i < items.length; i++) {
                        var public_url = $(items[i]).data('publicUrl');

                        if (public_url.substr(public_url.length-7) != 'common')
                            paths.push($(items[i]).data('publicUrl'));
                        else
                            $.oc.flashMsg({text: '<?= Lang::get('igvs.courses::lang.copy_message.common_exclude') ?>'});
                    }

                    parent.parent.setCookie('copy-files', paths.join('|'));


                    $.oc.flashMsg({text:'<?= Lang::get('igvs.courses::lang.default.command.copied') ?>'});
                    return;
                }
                $.oc.flashMsg({text:'<?= Lang::get('igvs.courses::lang.default.command.copied') ?>'});
                //Select element for coping to clipboard
            });

            $('#media-manager-copy-to-clipboard-insert-files').on('click', function() {
                var url_parts = window.location.pathname.split('/');
                var lesson_id = url_parts[url_parts.length-2];

                var files_path = parent.parent.getCookie('copy-files');
                if (!files_path || !files_path.length) {
                    $.oc.flashMsg({text: '<?= Lang::get('igvs.courses::lang.copy_message.copy_files_before') ?>'});
                    return;
                }

                $.request('onInsertFiles', {
                    confirm: "<?= Lang::get('igvs.courses::lang.copy_message.duplicate_notice') ?>: \r\n" + files_path.split('|').join("\r\n") + " \r\n\r\n<?= Lang::get('igvs.courses::lang.default.command.continue') ?>?",
                    data: {
                        id: lesson_id,
                        files_path: files_path
                    },
                    success: function(data) {
                        $.oc.flashMsg({text: '<?= Lang::get('igvs.courses::lang.copy_message.success_files_copied') ?>'});

                        parent.parent.deleteCookie('copy-files');

                        $('[data-control="toolbar"] [data-command="refresh"]').click();
                    },
                    error: function() {
                        console.log('onInsertFiles', 'error response from server');
                    }
                });
            });


            $('#media-manager-copy-to-clipboard').on('click', function() {
                var items = $('#MediaManager-ocmediamanager-item-list [class=selected]');
                if (!items.length) {
                    $.oc.flashMsg({text:'<?= Lang::get('igvs.courses::lang.copy_message.select_files_before') ?>'});
                    return;
                }

                var str = $(items[0]).data('path');
                str = str.substr(1, str.len);
                Clipboard.copy(str);

                $.oc.flashMsg({
                    text:'<?= Lang::get('igvs.courses::lang.default.command.copied') ?>: ' + $(items[0]).data('path')
                });

                $('#media-manager-close-window').click();
            });
        }, 100);
    });
</script>