<div class="layout-row min-size">
    <div class="control-toolbar toolbar-padded">
        <div class="toolbar-item toolbar-primary">
            <div data-control="toolbar">
                <div class="btn-group offset-right">
                    <button type="button" class="btn btn-primary oc-icon-upload" data-control="upload"
                        ><?= e(trans('cms::lang.media.upload')) ?></button>
                    <button type="button" class="btn btn-primary oc-icon-folder" data-command="create-folder"><?= e(trans('cms::lang.media.add_folder')) ?></button>
                </div>

                <button type="button" class="btn btn-default oc-icon-refresh empty offset-right" data-command="refresh"></button>

                <div class="btn-group offset-right">
                    <button type="button" class="btn btn-default oc-icon-reply-all" data-command="move"
                        ><?= e(trans('cms::lang.media.move')) ?></button>
                    <button type="button" class="btn btn-default oc-icon-trash" data-command="delete"
                        ><?= e(trans('cms::lang.media.delete')) ?></button>
                </div>

                <div class="btn-group offset-right" id="<?= $this->getId('view-mode-buttons') ?>">
                    <?= $this->makePartial('view-mode-buttons') ?>
                </div>
            </div>
        </div>
        <div class="toolbar-item" data-calculate-width>
            <div class="relative loading-indicator-container size-input-text">
                <input
                    type="text"
                    name="search"
                    value="<?= e($searchTerm) ?>"
                    class="form-control icon search growable"
                    placeholder="<?= e(trans('cms::lang.media.search')) ?>"
                    data-control="search"
                    autocomplete="off"
                    data-load-indicator
                    data-load-indicator-opaque
                />
            </div>
        </div>
    </div>

    <?php if ($this->moduleContentId): ?>
    <style>
    .toolbar-copy-file {
        padding: 0 20px 20px;
    }

    .toolbar-copy-file .select2.select2-container.select2-container--default {
        width: 25%;
        height: 36px;
        display: inline-block;
        /*margin: 0 5px 0 0;*/
    }

    .toolbar-copy-file .select2-container--default .select2-selection--single {
        height: 36px;
        padding: 7px 23px 9px 11px;
    }

    .toolbar-copy-file button {
        /*margin: 0 5px 0 0;*/
    }
    </style>

    <script>
    $(document).ready(function() {

        $('#cp-course-id').change(function() {
            var $this = $(this);
            $.request('<?= $this->alias ?>::onChangeCourse', {
                data: {course_id: $this.val()}
            });
        });

        $("#select-img").click(function () {
            
            var topicId = $("#cp-topic-id").val();

            if (!parseInt(topicId)) {
                $.oc.flashMsg({
                    'text': '<?= e(trans('cms::lang.media.warning_image_collection')) ?>',
                    'class': 'warning',
                    'interval': 2
                });
                return;
            }

            var url = '/storage/app/igvs/htmlContentList/' + topicId + '/' + topicId + '_topic.html?module_id=<?= $this->moduleContentId ?>'
            window.open(url);
        });

    });
    </script>

    <div class="toolbar-copy-file">
        <?php

            $res = \Igvs\Courses\Models\Course::select('id', 'code', 'title')
            ->with(['type' => function ($q) {
                    $q->where('name', 'GVS');
            }])
            ->whereIn('code', ['HD', 'FAB', 'HSC', 'LMV-L2', 'BA', 'FPC', 'CS'])
            ->whereRaw('parent_id = 0')
            ->orderBy('sort', 'asc')
            ->get();

            $courses = ['' => e(trans('cms::lang.media.select_course'))];
            foreach ($res as $v) {
                $courses[$v->id] = "<b>$v->code</b> $v->title";
            }

            echo \Form::select('copy_course_id', $courses, null, [
                'id' => 'cp-course-id',
                'class' => 'form-control custom-select',
            ]);
        ?>

        <?= \Form::select('copy_topic_id', ['' => e(trans('cms::lang.media.select_topic'))], null, [
                'id' => 'cp-topic-id',
                'class' => 'form-control custom-select',
            ]);
        ?>

        <a
            id="select-img"
            target="_blank"
            href="javascript:;"
            class="btn btn-default oc-icon-file-image-o">
            <?= e(trans('cms::lang.media.show_image_collection')) ?>
        </a>
    </div>
    <?php endif ?>

</div>
