<div
    id="<?= $this->getId() ?>"
    class="field-fileupload style-image-multi is-sortable is-multi <?= count($fileList) ? 'is-populated' : '' ?> <?= $this->previewMode ? 'is-preview' : '' ?>"
    data-control="fileupload"
    data-template="#<?= $this->getId('template') ?>"
    data-error-template="#<?= $this->getId('errorTemplate') ?>"
    data-sort-handler="<?= $this->getEventHandler('onSortAttachments') ?>"
    data-unique-id="<?= $this->getId() ?>"
    <?php if ($useCaption): ?>data-config-handler="<?= $this->getEventHandler('onLoadAttachmentConfig') ?>"<?php endif ?>
    <?php if ($acceptedFileTypes): ?>data-file-types="<?= $acceptedFileTypes ?>"<?php endif ?>
>


    <!-- Existing files -->
    <div class="upload-files-container">
        <?php foreach ($fileList as $file): ?>
            <div class="upload-object is-success" data-id="<?= $file->id ?>" <?= $file->isImage() ? 'data-type="img"' : '' ?> data-path="<?= $file->pathUrl ?>">
                <div class="icon-container image"
                    <?php if($file->isImage()): ?>
                        style="background-image:url('<?= $file->thumbUrl ?>')"
                    <?php endif ?>>
                </div>
                <div class="info">
                    <div class="filename">
                        <span data-dz-name><?= e($file->title ?: $file->file_name) ?></span>
                        <?php
                        //заменил на span - a.href открывается в новом окне. href="javascript:;" не работает
                        ?>
                        <span
                            class="upload-remove-button"
                            data-request="<?= $this->getEventHandler('onRemoveAttachment') ?>"
                            data-request-confirm="<?= e(trans('backend::lang.fileupload.remove_confirm')) ?>"
                            data-request-data="file_id: <?= $file->id ?>"
                            ><i class="icon-times"></i></span>
                    </div>
                    <p class="size"><?= e($file->sizeToString()) ?></p>
                </div>
                <div class="meta">
                    <a href="<?= $file->pathUrl ?>" class="drag-handle" download style="bottom: 75px;cursor:pointer"><i class="icon-download"></i></a>
                    <a href="javascript:;" class="drag-handle"><i class="icon-bars"></i></a>
                </div>
            </div>
        <?php endforeach ?>
    </div>
        <!-- Upload Button -->
        <?php
        //заменил на span - a.href открывается в новом окне. href="javascript:;" не работает
        ?>
        <span class="upload-button">
            <span class="upload-button-icon oc-<?= $emptyIcon ?>"></span>
        </span>
</div>

<!-- Template for new files -->
<script type="text/template" id="<?= $this->getId('template') ?>">
    <div class="upload-object dz-preview dz-file-preview">
        <div class="icon-container image"></div>
        <div class="info">
            <div class="filename">
                <span data-dz-name></span>
                <?php
                //заменил на span - a.href открывается в новом окне. href="javascript:;" не работает
                ?>
                <span
                    class="upload-remove-button"
                    data-request="<?= $this->getEventHandler('onRemoveAttachment') ?>"
                    data-request-confirm="<?= e(trans('backend::lang.fileupload.remove_confirm')) ?>"
                    ><i class="icon-times"></i></span>
            </div>
            <p class="size" data-dz-size></p>
        </div>
        <div class="meta">
            <a href="javascript:;" class="drag-handle"><i class="icon-bars"></i></a>
            <div class="progress-bar"><span class="upload-progress" data-dz-uploadprogress></span></div>
            <div class="error-message"><span data-dz-errormessage></span></div>
        </div>
    </div>
</script>