.academy-comments {
    
}

.academy-comments > label {/*название*/
    
}

.academy-comments > div {/*содержимое*/
    
}

.academy-comments .relation-manager {/*первый контейнер списка комментариев*/
    
}

.academy-comments .relation-toolbar > .list-widget{/*второй контейнер списка комментариев*/
    
}

.academy-comments .relation-toolbar > .list-widget > .control-list{/*третий контейнер списка комментариев*/
    
}

.academy-comments .relation-toolbar > .list-widget > .control-list > .table{/*четвертый контейнер списка комментариев*/
    
}

.academy-comments .relation-toolbar > .list-widget > .control-list > .table > head{/*шапка списка + th td*/ 
    
}

.academy-comments .relation-toolbar > .list-widget > .control-list > .table > body{/*тело списка + tr td*/
    
}

img.fr-dib {
    max-width: 100%;
    height: auto!important;
}

/*img.fr-dib.fr-draggable:active {
    position: fixed;
    top:0;
    left:0;
    z-index: 2;
    width:100%!important;
}*/