.dnd {
    opacity: 0;
}
.dnd-draggable {
    cursor: move! important;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
.dnd-draggable:hover .dnd {
    opacity: 1;
}