.check-widget {
    position: relative;
    outline: none;
    cursor: pointer;
}
.check-widget:before {
    content: "";
    display: inline-block;
    text-align: center;
    color: #fff;
    width: 18px;
    height: 18px;
    background-color: #FFF;
    border: 1px solid #d1d6d9;
    box-shadow: inset 0 1px 0 rgba(209,214,217,0.25), 0 1px 0 rgba(255,255,255,.5);
    overflow: hidden;
    vertical-align: sub;
    margin-right: 5px;
}
.check-widget.checked:before,
.check-widget.uncheck:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    border-color: #1f99dc;
    background-color: #1f99dc;
    font-size: 12px;
    line-height: 17px;
    border-width: 2px;
    box-shadow: none;
    border-radius: 3px;
    content: "\f00c";
}
.check-widget.uncheck:before {
    content: "\f068";
}
.check-widget.radio:before {
    border-radius: 18px;
}
.modal-widget {
    background-color: rgba(0,0,0,0.2);
}
.modal-widget button.close {
    margin: 20px;
}