<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('academy/tasks/projects') ?>"><?= Lang::get('academy.tasks::project.label') ?></a></li>
        <li><a href="<?= Backend::url('academy/tasks/tasks/index/' . $this->project_id) ?>"><?= Lang::get('academy.tasks::task.label') ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError):?>

    <?= Form::open(['class' => 'layout'])?>

        <div class="layout-row">
            <?= $this->formRenderOutsideFields() ?>
            <?= $this->formRenderPrimaryTabs() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-success="window.location.href = '<?= Backend::url('academy/tasks/tasks/clear/' . $this->project_id) ?>'"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Creating Type..."
                    class="btn btn-primary">
                    <?= e(trans('backend::lang.form.create')) ?>
                </button>
                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?>
                    <a href="<?= Backend::url('academy/tasks/tasks/clear/' . $this->project_id) ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
            </div>
        </div>

<?= Form::close() ?>

<?php else: ?>

<p class="flash-message static error"><?= e($this->fatalError) ?></p>
<p><a href="<?= Backend::url('academy/tasks/tasks/clear/' . $this->project_id) ?>" class="btn btn-default">Return to types list</a></p>

<?php endif ?>