<table style="background-color:#fff">
    <thead>
        <tr>
            <th style="padding: 3px 8px"><?= Lang::get('academy.tasks::history.field.data_param') ?></th>
            <th style="padding: 0 5px"><?= Lang::get('academy.tasks::history.field.data_value') . ' ' . Lang::get('academy.tasks::history.field.data_before') ?></th>
            <th style="padding: 0 5px"><?= Lang::get('academy.tasks::history.field.data_value') . ' ' . Lang::get('academy.tasks::history.field.data_after') ?></th>
        </tr>
    </thead>
    <tbody>
    <?php
        if(is_array($value))
        foreach($value as $key => $values):
            if(!($values = $formModel->translate($key, $values)))
                continue; ?>
        <tr>
            <th style="padding: 3px 8px"><?= $values[0] ?></th>
            <td style="padding: 0 5px"><?= $values[1] ?></td>
            <td style="padding: 0 5px"><?= $values[2] ?></td>
        </tr>
    <?php endforeach ?>
    <tbody>
</table>