<?php use Academy\Tasks\Models\Task; ?>
<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('academy/tasks/projects') ?>"><?= Lang::get('academy.tasks::project.label') ?></a></li>
    </ul>
<?php Block::endPut() ?>
<style>
    .list-scrollable-container > .list-scrollable {
        overflow: visible;
    }
</style>
<div
    style="
       display: table-cell;
       height: 1px;
    ">
    <div class="right-panel-academy" id="spoiler-academy-partial1"><?= (isset($this->params[0]) && $task = Task::find($this->params[0])) ? $this->makePartial('preview2', ['task' => $task]) : '' ?></div>
    <div style="overflow: hidden; padding-bottom: 500px">
        <?= $this->listRender() ?>
    </div>
</div>