<div class="control-popup modal fade in modal-target" style="display: block">
    <a class="popup-backdrop fade in" data-dismiss="popup" style="z-index:0"></a>
    <div class="modal-dialog size-adaptive modal-max-size" style="transform: inherit; width:100%;height:85%">
        <div class="modal-content" style="height:100%;width:100%">
            <div class="modal-header" style="box-sizing:content-box">
                <a class="close btn oc-icon-times" onclick="exitFullscreen()" data-dismiss="popup" style="padding:0"></a>
                <a class="close btn oc-icon-expand" style="padding:0" onclick="$(this).closest('.modal-dialog').toggleClass('modal-max-size');"></a>
                <a class="close btn oc-icon-television" onclick="launchFullScreen($(this).closest('.modal-content')[0]);" style="padding:0"></a>
                <a class="btn close oc-icon-download" href="<?= $src ?>" style="padding:0" download=""></a>
            </div>
            <div class="modal-contain" style="background: url('<?= $src ?>') no-repeat center center; background-size: contain"></div>
        </div>
    </div>
</div>