<?php if (!$value || !$model): ?>
<div class="form-control"></div>
<?php else: ?>
<a class="form-control"
    href="
    <?php switch ($field->valueFrom):
        case 'course': ?>
            <?= Backend::url('igvs/courses/' . $value . '/categories') ?>"><?= $model->{$field->valueFrom}->title ?></a
        <?php break;
        case 'topic':
        case 'act': ?>
            <?= Backend::url('igvs/courses/' . $model->{$field->valueFrom}->course_id . '/categories') ?>"><?= $model->{$field->valueFrom}->name ?>
        <?php break;
        case 'module': ?>
            <?= Backend::url('igvs/courses/' . $model->{$field->valueFrom}->course_id . '/categories#module_' . $value) ?>"><?= $model->{$field->valueFrom}->name ?>
    <?php endswitch; ?>
</a>
<?php endif; ?>