<?php
    use Academy\Tasks\Models\Task;
?>
<div data-control="toolbar" style="overflow:visible">
    <?php if($this->project):
        if($this->action == 'index'): ?>
        <a
            href="<?= Backend::url('academy/tasks/tasks/create/' . $this->project_id) ?>"
            class="btn btn-primary oc-icon-plus">
            <?= Lang::get('academy.tasks::task.create') ?>
        </a>

        <div class="dropdown">
            <a href="#" data-toggle="dropdown" class="btn btn-primary oc-icon-print"><?= Lang::get('academy.tasks::task.print') ?></a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                    <a class="oc-icon-list-ul" href="#" role="menuitem" tabindex="-1" data-control="popup" data-handler="pdf::onLoadSetup">
                        <?= e(trans('academy.tasks::task.config')) ?>
                    </a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="<?= Backend::url('academy/tasks/tasks/pdf/' . $this->project_id) ?>" class="oc-icon-file-pdf-o" download target="_blank">
                        <?= Lang::get('academy.tasks::task.pdf') ?>
                    </a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="<?= Backend::url('academy/tasks/tasks/html/' . $this->project_id) ?>" class="oc-icon-file-code-o" target="_blank">
                        <?= Lang::get('academy.tasks::task.html') ?>
                    </a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="<?= Backend::url('academy/tasks/tasks/doc/' . $this->project_id) ?>" class="oc-icon-file-word-o" download target="_blank">
                        <?= Lang::get('academy.tasks::task.doc') ?>
                    </a>
                </li>
                <li>
                    <a role="menuitem" tabindex="-1" href="<?= Backend::url('academy/tasks/tasks/xml/' . $this->project_id) ?>" class="oc-icon-file-excel-o" download target="_blank">
                        <?= Lang::get('academy.tasks::task.xml') ?>
                    </a>
                </li>
            </ul>
        </div>

        <?php else: ?>
        <a
            href="<?= Backend::url('academy/tasks/tasks/create/' . $this->project_id . '?clear=1') ?>"
            class="btn btn-primary oc-icon-plus">
            <?= Lang::get('academy.tasks::task.create') ?>
        </a>
        <?php endif ?>
    <?php endif ?>
</div>