<style>
    .right-panel-content-academy .layout {
        height: auto;
    }
    .spoiler-academy {
        display: none;
    }
    .spoiler-academy:checked + *{
        opacity: 0;
        pointer-events: none;
        display: none;
    }
    .right-panel-academy {
        height: 88%;
        max-width: 50%;
        overflow: auto;
        border: 1px solid #ddd;
        border-width: 1px 0 0 1px;
        border-radius: 5px;
        top: 12%;
        right: 0;
        position: fixed;
        z-index: 2;
        background-color: #f9f9f9;
    }
    .right-panel-academy-button {

        float: right;
        font-size: 20px;
        opacity: 0.5;
        cursor: pointer;
        margin-left: 10px;
    }
    .right-panel-academy-button:hover {

        opacity: 1;
    }
    .right-panel-content-academy {

        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        
        bottom: 0;
        overflow: auto;
    }
    .right-panel-hider-academy {

        width: 400px;
        max-width: 100%;
        height: 100%;
        transition-duration: 0.5s;
        position: relative;
        padding: 20px;

        display: table;
    }
    .right-panel-hider-academy > *{
        display: table-row;
    }
    .right-panel-hider-academy > * > *{
        display: table-cell;
        position: relative;
    }

    .right-panel-content-academy .form-tabless-fields {
        width: 100%;
        display: table;
    }
    .right-panel-content-academy .form-group {

        display: table-row;
        float: none;
    }
    .right-panel-content-academy .form-group > * {
        display: table-cell;
        width: 70%;
        position: relative;
    }
    .right-panel-content-academy .form-group > *:first-child {
        width: 30%;
    }
    .right-panel-content-academy .form-control:after {
        content:'';
        display: inline-block;
        height: 0;
    }
    .right-panel-academy-button + ul > li:first-child a {

        border-radius: 3px 3px 0 0;
        padding-top: 8px;
    }
    .right-panel-academy-button + ul > li:last-child a {

        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding-bottom: 8px;
    }
    .right-panel-academy-button + ul > li a {

        width:100%;
        margin: -1px 0;
        border-radius: 0;
        padding: 5px 16.5px;
    }
    .right-panel-academy-button + ul > li > *{
        width:100%;
    }
    table.table.data tbody tr.rowlink:hover td, table.table.data tbody tr:not(.no-data).selected td {
        background-color: inherit !important;
        color: #000;
    }
    table.table.data tbody tr.rowlink:nth-child(even):hover td, table.table.data tbody tr:nth-child(even) th {
        background-color: #ecf0f1 !important;
    }
    script {
        display: none!important;
    }
    .field-fileupload {
        display: block!important;
        margin-right: -68px;
        width: 333%!important;
    }
    .field-fileupload.style-file-multi .upload-object:hover h4 {
        padding-right: 15px;
    }
    .form-tabless-fields {
        overflow: hidden;
    }
    .resize-academy {
        display: none;
    }
    .resize-academy:checked ~ .right-panel-hider-academy {
        width:900px;
    }
</style>
<script>
    function widthChange(el) {
        $.cookie('academy_tasks_resize_status', $(el).prop("checked"),{expires: 7, path: '/'});
    }
</script>
<?php
    if (!isset($_COOKIE['academy_tasks_resize_status'])) {
        $_COOKIE['academy_tasks_resize_status'] = 'false';
    }
?>
<input type="checkbox" class="resize-academy" id="resize-academy1" onchange="widthChange(this)" <?= $_COOKIE['academy_tasks_resize_status'] == 'true' ? 'checked' : '' ?>>
<input type="checkbox" class="spoiler-academy" id="spoiler-academy1">
<div class="right-panel-hider-academy">
    <div>
        <div>
            <iframe style="display:none" name="tasklink"></iframe>
            <a style="cursor: pointer" target="tasklink" href="<?= Backend::url('academy/tasks/tasks/update/' . $task->id) ?>" onClick=" $.crud('academy/tasks/tasks/crudupdate/<?= $task->id ?>', {
                            size: 'adaptive',
                            success: function(data) {}
                        })">#<?= $task->id ?> <?= $task->name ?></a>
            <div style="float:right">
            <label
                class="icon-times right-panel-academy-button"
                for="spoiler-academy1">
            </label>
            <div style="position: relative; float: right">
                <div
                    data-toggle="dropdown"
                    class="right-panel-academy-button icon-bars">
                </div>
                <ul class="dropdown-menu" role="menu" style="right:0; left: auto">
                    <li role="presentation">
                        <span>
                            <a
                                class="btn btn-default oc-icon-commenting"
                                onClick=" $.crud('academy/tasks/tasks/comments/<?= $task->id ?>', {
                                    success: function(data) {}
                                })">
                                Комментарии
                            </a>
                        </span>
                    </li>
                    <li role="presentation">
                        <span>
                            <a
                                class="btn btn-default oc-icon-book"
                                onClick=" $.crud('academy/tasks/tasks/history/<?= $task->id ?>', {
                                    success: function(data) {},
                                    size: '1234'
                                })">
                                История изменений
                            </a>
                        </span>
                    </li>
                    <li role="presentation">
                        <span>
                            <a
                                class="btn btn-default oc-icon-exchange"
                                onClick=" $.crud('academy/tasks/tasks/related/<?= $task->id ?>', {
                                    success: function(data) {}
                                })">
                                Связанные задачи
                            </a>
                        </span>
                    </li>
                    <li role="presentation">
                        <span>
                            <a
                                class="btn btn-default oc-icon-sitemap"
                                onClick=" $.crud('academy/tasks/tasks/childs/<?= $task->id ?>', {
                                    success: function(data) {},
                                    size: '1234'
                                })">
                                Дочерние задачи
                            </a>
                        </span>
                    </li>
                    <?php
                        use Academy\Tasks\Models\Right;
                    if(Right::hasAccess($task->project_id, $this->user->id, 'task_delete')): ?>
                    <li role="presentation">
                        <span>
                            <a class="btn btn-default oc-icon-trash-o"
                                data-request-action="<?= Backend::url('academy/tasks/tasks/update/' . $task->id) ?>"
                                data-request-data="checked:[<?= $task->id ?>],redirect:0"
                                data-request="onDelete"
                                data-request-success="$.request('list::onRefresh');$('#spoiler-academy1').click()"
                                data-load-indicator="Deleting Type..."
                                data-request-confirm="<?= trans('academy.tasks::task.message.delete') ?>">
                                Удалить задачу
                            </a>
                        </span>
                    </li>
                    <?php endif ?>
                </ul>
            </div>
            <label
                class="icon-exchange right-panel-academy-button"
                for="resize-academy1">
            </label>
            </div>
        </div>
    </div>
    <div>
        <div style="height:100%">
            <div class="right-panel-content-academy">
                <script>
                    function resizeIframe(obj) {
                        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
                        $(obj.contentWindow).on("resize", function(){
                            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
                        });
                    }
                </script>
                <iframe
                    src="<?= Backend::url('academy/tasks/tasks/preview/' . $task->id .'?clear=1') ?>"
                    onload="resizeIframe(this)"
                    style="border:none;width:100%;">
                </iframe>
                <?php $this->initForm($task,'comments') ?>
                <?= Form::open(['class' => 'layout','url' => [Backend::url('academy/tasks/tasks/comments/' . $task->id)]]) ?>
                <?php $this->action = 'comments' ?>
                <?= $this->formRender() ?>
                <?= Form::close() ?>
            </div>
        </div>
    </div>
</div>