<style>
    .spoiler-academy {
        display: none;
    }
    .spoiler-academy:checked + *{
        width: 0!important;
        padding: 0;
    }
    .right-panel-academy {
        float: right;
        height: 100%;
        max-width: 50%;
        overflow: auto;
        border: 1px solid #ddd;
        border-width: 1px 0 0 1px;
        border-radius: 5px;
    }
    .right-panel-academy-button {

        float: right;
        font-size: 20px;
        opacity: 0.5;
        cursor: pointer;
        margin-left: 10px;
    }
    .right-panel-academy-button:hover {

        opacity: 1;
    }
    .right-panel-content-academy {

        position: absolute;
        left: 0;
        width: 100%;
        top: 55px;
        padding: 0 20px 20px 20px;
        bottom: 0;
        overflow: auto;
    }
    .right-panel-hider-academy {

        width: 400px;
        max-width: 100%;
        height: 100%;
        transition-duration: 0.5s;
        position: relative;
        padding: 20px;
    }

    .right-panel-content-academy .form-tabless-fields {

        display: table;
    }
    .right-panel-content-academy .form-group {

        display: table-row;
        float: none;
    }
    .right-panel-content-academy .form-group > * {

        display: table-cell;
    }
    .right-panel-content-academy .form-control {

    }
    .right-panel-academy-button + ul > li:first-child a {

        border-radius: 3px 3px 0 0;
        padding-top: 8px;
    }
    .right-panel-academy-button + ul > li:last-child a {

        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding-bottom: 8px;
    }
    .right-panel-academy-button + ul > li a {

        width:100%;
        margin: -1px 0;
        border-radius: 0;
        padding: 5px 16.5px;
    }
    .right-panel-academy-button + ul > li > *{
        width:100%;
    }
    table.table.data tbody tr.rowlink:hover td, table.table.data tbody tr:not(.no-data).selected td {
        background-color: inherit !important;
        color: #000;
    }
    table.table.data tbody tr.rowlink:nth-child(even):hover td, table.table.data tbody tr:nth-child(even) th {
        background-color: #ecf0f1 !important;
    }
</style>
<input type="checkbox" class="spoiler-academy" id="spoiler-academy1">
<div class="right-panel-hider-academy">
    <a style="cursor: pointer" onClick=" $.crud('academy/tasks/tasks/crudupdate/<?= $task->id ?>', {
                            size: 'giant',
                            success: function(data) {}
                        })"><?= $task->name ?> #<?= $task->id ?></a>
    <label
        class="icon-times right-panel-academy-button"
        for="spoiler-academy1">
    </label>
    <div style="position: relative; float: right">
        <div
            data-toggle="dropdown"
            class="right-panel-academy-button icon-bars">
        </div>
        <ul class="dropdown-menu" role="menu" style="right:0; left: auto">
            <li role="presentation">
                <span>
                    <a
                        class="btn btn-default oc-icon-commenting"
                        onClick=" $.crud('academy/tasks/tasks/comments/<?= $task->id ?>', {
                            success: function(data) {}
                        })">
                        Комментарии
                    </a>
                </span>
            </li>
            <li role="presentation">
                <span>
                    <a
                        class="btn btn-default oc-icon-exchange"
                        onClick=" $.crud('academy/tasks/tasks/related/<?= $task->id ?>', {
                            success: function(data) {}
                        })">
                        Связанные задачи
                    </a>
                </span>
            </li>
            <li role="presentation">
                <span>
                    <a
                        class="btn btn-default oc-icon-sitemap"
                        onClick=" $.crud('academy/tasks/tasks/childs/<?= $task->id ?>', {
                            success: function(data) {}
                        })">
                        Дочерние задачи
                    </a>
                </span>
            </li>
            <li role="presentation">
                <span>
                    <a
                        class="btn btn-default oc-icon-cog"
                        onClick=" $.crud('academy/tasks/tasks/crudupdate/<?= $task->id ?>', {
                            size: 'giant',
                            success: function(data) {}
                        })">
                        Изменить задачу
                    </a>
                </span>
            </li>
        </ul>
    </div>
    <div class="right-panel-content-academy">
        <?php $this->initForm($task,'preview') ?>
        <?= Form::open(['class' => 'layout','url' => [Backend::url('academy/tasks/tasks/preview/' . $task->id)]]) ?>
        <?php $this->action = 'preview' ?>
        <?= $this->formRenderPreview() ?>
        <?= Form::close() ?>
    </div>
</div>