<div
<?php if(isset($statuses[$value])): ?>
    style="background-color: <?= $statuses[$value]->color ?>"
    class="btn btn-sm oc-icon-<?= $statuses[$value]->icon ?>">
    <?= $statuses[$value]->name ?>
<?php else: ?>
    class="btn btn-sm">
    Выберите статус
<?php endif ?>
</div>
<!--ul class="dropdown-menu" role="menu" data-dropdown-title="Add something small">
    <?php foreach($statuses as $status):
        if($status->id == $value)
            continue; ?>
    <li role="presentation">
        <button
            class="btn btn-sm oc-icon-<?= $status->icon ?> status-command stat<?= $status->id ?>"

            <?php if($log_id && $statuses[$value]->is_logged): ?>
            data-request-success="$.popup({ajax: '<?= Backend::url('academy/tasks/statustimes/update/' . $log_id) ?>'})"
            <?php else: ?>
            data-request-success="$('<span data-request-action=<?= Backend::url('academy/tasks/tasks/preview/' . $task_id) ?>></span>').popup({
                handler: 'onRelationButtonCreate',
                extraData: '_relation_field: &#34;comments&#34;, _relation_extra_config: &#34;W10=&#34;'
            })"
            <?php endif ?>
            data-request="onStatusChange" 
            data-request-data="status_id:<?= $status->id ?>"
            role="menuitem">
            <?= $status->name ?>
        </button>
    </li>
    <style>
        .status-command {
            border-radius:0;
            width:100%
        }
        .status-command:hover:after {
            background-color: #eee!important;
        }
        .status-command.stat<?= $status->id ?>:before {
            color: <?= $status->color ?>!important;
            text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
        }
    </style>
    <?php endforeach ?>
</ul-->