<label style="width: 100%"><b><?= e($record->user->first_name . ' ' . $record->user->last_name . ' (' . $record->user->login . ') ') . '</b><div style="float: right">' . $value ?></div></label>
<div style="height:auto"><?= $record->text ?></div>
<?= $this->makePartial('$/academy/system/partials/fileColumn.htm',['value' => $record->files]) ?>