<?php Block::put('breadcrumb') ?>
    <style>
#Form .form-group > label {
    width: 26%;
    float: left;
}
#Form .form-group.span-full > label{
    width: 12.6%;
}
#Form .form-group > input {
    width: calc(87.5% - 15px);
}
</style>
    <ul>
        <li><a href="<?= Backend::url('academy/tasks/projects') ?>"><?= Lang::get('academy.tasks::project.label') ?></a></li>
        <li><a href="<?= Backend::url('academy/tasks/tasks/index/' . $this->project_id) ?>"><?= Lang::get('academy.tasks::task.label') ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError):?>

    <?= Form::open(['class' => 'layout'])?>

        <div class="layout-row">
            <?= $this->formRenderOutsideFields() ?>
            <?= $this->formRenderPrimaryTabs() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                        type="submit"
                        data-request="onSave"
                        data-hotkey="ctrl+s, cmd+s"
                        data-load-indicator="Creating Type..."
                        class="btn btn-primary">
                    <?= e(trans('backend::lang.form.create')) ?>
                </button>
                <button
                        type="button"
                        data-request="onSave"
                        data-request-data="close:1"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-load-indicator="Creating Type..."
                        class="btn btn-default">
                    <?= e(trans('backend::lang.form.create_and_close')) ?>
                </button>
                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('academy/tasks/tasks/index/' . $this->project_id) ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
    </div>
</div>

<?= Form::close() ?>

<?php else: ?>

<p class="flash-message static error"><?= e($this->fatalError) ?></p>
<p><a href="<?= Backend::url('academy/tasks/tasks/index' . $this->project_id) ?>" class="btn btn-default">Return to types list</a></p>

<?php endif ?>