<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('academy/tasks/projects') ?>"><?= Lang::get('academy.tasks::project.label') ?></a></li>
    <li><a href="<?= Backend::url('academy/tasks/tasks/index/' . $formModel->project_id) ?>"><?= Lang::get('academy.tasks::task.label') ?></a></li>
    <li><?= e(trans($this->pageTitle)) ?></li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>
<style>
.form-group > div,
.form-group > span,
.form-group > input {
    overflow: hidden;
    width: auto;
}
#Form .form-group > input {
    width: calc(72% - 10px);
}
#Form .form-group > label {
    float: left;
    width: 28%;
}
@media (min-width: 770px) {
#Form .form-group.span-full > label {
    width: 13.5%;
}
#Form .form-group.span-left > label {
    width: 28%;
}
#Form .form-group.span-full > input {
    width: calc(87.5% - 10px);
}
}
.academy-cms-widget-form-toolbar {
    z-index: 5;
}
</style>
    <?= Form::open() ?>
    <?= $this->formRender() ?>
    <?= Form::close() ?>
<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('igvs/courses/categories') ?>" class="btn btn-default">Return to categories list</a></p>

<?php endif ?>