<?php
use Academy\Tasks\Models\Project;

if(!$user = BackendAuth::getUser()) return;

if(empty($showAll) && !$user->is_superuser) {

    $tasks->where(function($query) use ($user) {

        $query->whereIn('project_id', Project::where('user_id', $user->id)->lists('id'))
            ->orWhere('user_id', $user->id)
            ->orWhere('responsible_id', $user->id);
    });
}

if(!$count = $tasks->count()) return;

$taskslist = [];
foreach($tasks->get() as $task)
    $taskslist[] = $task;

$currentStatus = $taskslist[0]->status()->first();
?>
<div
    data-toggle="dropdown"
    style="
        background-color: <?= $currentStatus ? $currentStatus->color : '' ?>;
        margin: 0 5px 0 0;
        color: #fff;
        padding: 3px 0;
        width: 24px;
        display: inline-block;
        font-size: 11px;
        text-align: center;
        cursor: pointer;
        "
    title="<?= $currentStatus ? e($currentStatus->name) : '' ?>"
    class="btn-sm empty oc-icon-<?= $currentStatus ? $currentStatus->icon : '' ?>">
</div>
<ul class="dropdown-menu" role="menu" style="left: auto;right:0">
    <?php foreach($taskslist as $task):
        $status = $task->status()->first();
    ?>
    <li role="presentation">
        <span>
        <a
            class="btn btn-sm oc-icon-<?= $status ? $status->icon : '' ?> status-command stat<?= $status ? $status->id : '' ?>"
            href="<?= Backend::url('academy/tasks/tasks/update/' . $task->id . '?clear=1') ?>"
            style="background-color: <?= $status ? $status->color : ''; ?>; margin-right:10px"
            <?= isset($target) ? 'target="' . $target . '"' : ''?>
            role="menuitem">
            <?= $task->name ?>
        </a>
        </span>
    </li>
    <style>
        .status-command {
            border-radius:0;
            width:100%;
            background-color:#fff;
        }
        .status-command:hover:after {
            background-color: #eee!important;
        }
    </style>
    <?php endforeach ?>
</ul>