<?php Block::put('breadcrumb') ?>
<style>
#Form .form-group > label {
    width: 26%;
    float: left;
}
#Form .form-group.span-full > label{
    width: 12.6%;
}
#Form .form-group > input {
    width: calc(87.5% - 15px);
}
</style>
<ul>
    <li><a href="<?= Backend::url('academy/tasks/projects') ?>"><?= Lang::get('academy.tasks::project.label') ?></a></li>
    <li><a href="<?= Backend::url('academy/tasks/tasks/index/' . $formModel->project_id) ?>"><?= Lang::get('academy.tasks::task.label') ?></a></li>
    <li><?= e($this->pageTitle) ?></li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

<?= Form::open(['class' => 'layout']) ?>

<div class="layout-row">
    <?= $this->formRender() ?>
</div>

<div class="form-buttons">
</div>

<?= Form::close() ?>

<?php else: ?>

<p class="flash-message static error"><?= e($this->fatalError) ?></p>
<p><a href="<?= Backend::url('academy/tasks/tasks/index/' . $formModel->project_id) ?>" class="btn btn-default">Return to types list</a></p>

<?php endif ?>