<?php
    use Igvs\Courses\Models\Info;
    if (!Info::exists($code)) {
        return;
    }
    $info = Info::where('code', $code)->first();
?>
<div id="info_<?= $info->id ?>">
<p class="flash-message static success"
    style="
        position:relative!important;
        left:0;
        z-index: 0;
        white-space: normal;
        margin: 0 20px 20px 20px!important;
    ">
    <?= $info->text ?>
    <button class="close"
        data-request="onInfoCheck"
        data-request-data="info_code: '<?= $code ?>'"
        type="button"
        aria-hidden="true">
        ×
    </button>
</p>
</div>
