<style>
    .newMessages {
        padding: 3px 7px;
        border-radius: 10px;
        background-color: #f00;
        color: #fff!important;
        margin-right: 5px;
    }
    .newMessages:empty {
        padding: 0;
    }
</style>
<?php
    $backendUriExpertise = \Config::get('cms.backendUriExpertise', 'backend');
    $is_expertise = \Session::get('igvs.courses.is_expertise_system', 0);
    $plugin_author_name = $is_expertise == 1 ? $backendUriExpertise : 'igvs';

    $user = BackendAuth::getUser();
?>
<?php foreach ($modules as $module): ?>

    <li class="module-content i-<?= $module->behavior ?>"
        data-record-id="<?= $module->id ?>"
        data-parent-id="<?= $module->parent_id ?: $module->copy_original_id ?>"
        data-course-id=<?= $module->course_id ?>
        data-module-code="<?= $module->code ?>"
        data-readonly_without_basecourse="<?= ($readonly = $module->isReadonly(['disable_check_base_course' => true])) ? 'true' : 'false' ?>"
        data-readonly="<?= ($readonly = $module->isReadonly()) ? 'true' : 'false' ?>"
        data-depth="2">

        <?php
            if ($isBuild = in_array($module->id, $build_modules))
                $callback(true);
        ?>

        <div class="record" class="record">

            <?php if ($readonly): ?>
                <a href="javascript:;" class="lock move"></a>
            <?php elseif ($coursePermissions['SortModuleContent'] && $module->isBaseCourse()): ?>
                <a href="javascript:;" class="move lock overlook_basecourse"></a>
            <?php elseif ($coursePermissions['SortModuleContent'] && $red_lock_visability_for_courses_admin): ?>
                <a href="javascript:;" class="move lock overlook_superuser"></a>
            <?php elseif ($coursePermissions['SortModuleContent']): ?>
                <a href="javascript:;" class="move"></a>
            <?php endif ?>
            <a
                class="colontitle"
                id="module_<?= $module->id ?>"
                href="<?= Backend::url($plugin_author_name . '/courses/contents/' . ($action = 'updateField'), ['id' => $module->id]) ?>"
                target="workspace_frame"
                onclick="frameRecreated(this)"
                title="<?= $module->name ?>">
                <?= "<b>{$module->code}</b> " . strip_tags($module->name) ?>
            </a>

            <div
                style="
                    display: inline-block;
                    float: right;
                    white-space: nowrap;
                    position: relative;
                ">
                <?php if($module->coursePropertyIsUseProject()): ?>
                <?=
                    !($user && $user->hasPermission('igvs.courses.expertise')) ? '' :
                    $this->makePartial('$/academy/tasks/controllers/tasks/taskcount.htm', [
                        'context' => 'module',
                        'id' => $module->id
                    ]) .
                    $this->makePartial('$/academy/tasks/controllers/tasks/tasklists.htm', [
                        'tasks' => $module->tasks()->where('progress','<',100)->whereNotNull('responsible_id'),
                        'target' => 'workspace_frame',
                        'clear' => true,
                        'project_id' => $module->course->project_id
                    ]);

                elseif($module->coursePropertyICanSeeExaminationSystem()): ?>
                <span id="module_status_<?= $module->id ?>">
                    <a
                        target="workspace_frame"
                        href="<?= Backend::url($plugin_author_name . '/courses/contents/updateField/' . $module->id . '?context=comments') ?>"
                        class="newMessages"><?= isset($read_comments[$module->id]) && $read_comments[$module->id] > 0 ? $read_comments[$module->id] : '' ?></a>
                    <?= $this->makePartial('$/igvs/courses/controllers/statuses/_statuslist.htm', [
                        'status_id' => $module->status_id,
                        'statuses' => $module->getStatusOptions(),
                        'module_id' => $module->id,
                    ]); ?>
                </span>
                <?php endif; ?>
            </div>

            <?php if ($currentBuildId): ?>
                <a
                    href="javascript:;"
                    class="chb-build"
                    data-control="chb-build-module"
                    data-value="<?= $isBuild ? '1' : '0' ?>">
                    <i class="<?= $isBuild ? 'icon-check-square' : 'icon-square-o' ?>"></i>
                </a>
            <?php endif ?>

        </div>

    </li>

<?php endforeach ?>
