<?php use Igvs\Courses\Models\Info; ?>
<?php foreach ($records as $row): ?>
<?php
    $record = $row->item;
    $isBuild2 = false;
    $isBuild3 = false;
    $isRenderChild = false;
    $readonly = $record->isReadonly();
    $red_lock_visability_for_courses_admin = $record->getRedLockVisabilityForCoursesAdmin();

    $user = BackendAuth::getUser();

    if (empty($currentCategoryId))
        $isRenderParent = true;

    //
    $html = '';
    ob_start(function($buffer) use(&$html){
        $html .= $buffer;
    });

    # records
    $childrens = $row->children;

    if ( count($childrens) ) {
        echo $this->makePartial('records', [
            'read_comments' => $read_comments,
            'build_modules' => $build_modules,
            'records' => $childrens,
            'parentRecord' => $record,
            'currentCategoryId' => $currentCategoryId,
            'allowEditCategories' => $allowEditCategories,
            'callback' => function($val) use (&$isBuild3) {
                $isBuild3 = $val;
            },
            'isRenderParent' => !empty($isRenderParent) || $currentCategoryId == $record->id,
            'renderChild' => function() use (&$isRenderChild) {
                $isRenderChild = true;
            },
        ]);
    }

    # modules
    $modules = $record->getModules();

    if ( count($modules) ) {
        echo $this->makePartial('$/igvs/courses/widgets/categorieswidget/partials/_modules.htm', [
            'build_modules' => $build_modules,
            'read_comments' => $read_comments,
            'modules' => $modules,
            'readonly' => $readonly,
            'red_lock_visability_for_courses_admin' => $red_lock_visability_for_courses_admin,
            'callback' => function($val) use (&$isBuild2) {
                $isBuild2 = $val;
            }
        ]);
    }

    if ($isBuild2)
        if (isset($callback)) $callback(true);

    ob_end_flush();

    if ($record->id == $currentCategoryId && isset($renderChild))
        $renderChild();

    if (!($record->id == $currentCategoryId) && empty($isRenderParent) && !$isRenderChild)
        continue;

    $check = \Session::get('tree_spoiler.' . (int)$record->parent_id . '_' . (int)$record->id, 1);
    if (!$this->canCreateModule
        && $record->parent_id
            && $record->canCreateModule()
    ) {
        $this->canCreateModule = true;
    }

    if (!$this->canCreateAct
        && !$record->parent_id
            && $record->canCreateAct()
    ) {
        $this->canCreateAct = true;
    }
?>

<li
    data-record-id="<?= $record->id ?>"
    data-parent-id="<?= $record->parent_id ?>"
    data-depth="<?= is_null($record->parent_id) ? 0 : 1 ?>"
    data-course-id="<?= $record->course_id ?>"
    data-readonly="<?= $readonly ? 'true' : 'false' ?>"
    <?= $user->hasPermission('igvs.courses.bag_method') ? 'data-size="1000"' : '' ?>
    data-isshort="<?= $record->coursePropertyICanSeeExaminationSystem() ? 'true' : 'false' ?>"
    data-editable="<?= $allowEditCategories && !$record->isReadonly(false, true) ? 'true' : 'false' ?>"
    class="category">

    <input
        type="checkbox"
        id="<?= (int)$record->parent_id.'_'.(int)$record->id?>"
        class="tree_spoiler"
        onchange="saveCook(this)"
        <?= $check==1?' checked':'' ?>>

    <div class="record">

        <label class="tree_spoiler_activate" for="<?= (int)$record->parent_id.'_'.(int)$record->id?>"></label>

        <?php if (!$readonly && $allowEditCategories && !$red_lock_visability_for_courses_admin): ?>
            <a href="javascript:;" class="move"></a>
        <?php endif ?>

        <?php if (!$readonly && $allowEditCategories && $red_lock_visability_for_courses_admin): ?>
            <a href="javascript:;" class="move lock overlook_superuser"></a>
        <?php endif ?>

        <?php if ($readonly && !$record->parent_id): ?>
            <i class="lock"></i>
        <?php endif ?>

        <?php
            $tasks = $record->parent_id ?
                $record
                    ->act_tasks()
                    ->whereNull('module_id') :
                $record
                    ->topic_tasks()
                    ->whereNull('act_id');

            $count = $record->parent_id ?
                $record
                    ->act_tasks()
                    ->whereNotNull('module_id')
                    ->distinct() :
                $record
                    ->topic_tasks()
                    ->whereNotNull('act_id')
                    ->distinct();

            $newChanges = $record->parent_id ?
                $record
                    ->act_tasks()
                    ->whereNotNull('module_id')
                    ->distinct() :
                $record
                    ->topic_tasks()
                    ->whereNotNull('act_id')
                    ->distinct();
        ?>
        <a
            class="colontitle"
            href="javascript:;">

            <?php if(!$record->parent_id): ?>
                <b><?= $record->code ?> </b>
            <?php endif ?>

            <?= strip_tags($record->name) ?>
        </a>
        <div
            style="
                display: inline-block;
                float: right;
                white-space: nowrap;
                position: relative;
            ">
            <?php if($record->coursePropertyIsUseProject()): ?>
            <?=
                !($user && $user->hasPermission('igvs.courses.expertise')) ? '' :
                $this->makePartial('$/academy/tasks/controllers/tasks/taskinclude.htm', [
                    'count' => $count->where('progress','<',100)->whereNotNull('responsible_id'),
                    'field' => $record->parent_id ? 'module_id' : 'act_id'
                ]) .
                $this->makePartial('$/academy/tasks/controllers/tasks/taskcount.htm', [
                    'context' => $record->parent_id ? 'act' : 'topic',
                    'id' => $record->id
                ]) .
                $this->makePartial('$/academy/tasks/controllers/tasks/tasklists.htm', [
                    'tasks' => $tasks->where('progress','<',100)->whereNotNull('responsible_id'),
                    'target' => 'workspace_frame',
                    'clear' => true,
                    'project_id' => $record->course->project_id
                ]);
            ?>
        <?php endif; ?>
        </div>

        <?php if ($currentBuildId): ?>
        <a
            href="javascript:;"
            class="chb-build"
            data-control="chb-build-category"
            data-value="<?= $isBuild2 || $isBuild3 ? '1' : '0' ?>">
            <i class="<?= $isBuild2 || $isBuild3 ? 'icon-check-square' : 'icon-square-o' ?>"></i>
        </a>
        <?php endif ?>

    </div>
    <ol>
        <?= $html ?>
    </ol>

</li>
<?php endforeach ?>
