<?php if (!empty($no_theme_modules)): ?>
<div class="container-flush">
    <div class="callout fade in callout-warning no-icon no-subheader">
        <button type="button" class="close" data-request="onCloseThemeWarning" data-request-data="name: 'backend_accesslogs_hint'" data-dismiss="callout" aria-hidden="true">×</button>
        <div class="content">
            <p><?= Lang::get('igvs.courses::lang.course.message.no_theme').' ('.$course->theme ?>):</p>
            <?= implode(',<br/> ', $no_theme_modules) ?>
        </div>
    </div>
</div>
<?php endif ?>
<?php
    $is_expertise = \Session::get('igvs.courses.is_expertise_system', 0);
    $backendUriExpertise = \Config::get('cms.backendUriExpertise', 'backend');
?>
<div>
    <input type="hidden" id="config_author_code" value="<?= $is_expertise ? $backendUriExpertise : 'igvs' ?>">
</div>
<div class="all_content">
    <div class="tree_content">
        <input type="checkbox" id="tree_size"<?= (!isset($_COOKIE['tree_show']) || (int)$_COOKIE['tree_show']==0?'':' checked') ?>>
        <div class="tree-list-container" id="tree_size_content">
            <?= 
                !(($user = \BackendAuth::getUser()) && $user->hasPermission('igvs.courses.expertise')) ? '' :
                Form::select('filterRubricator', [
                    'all' => 'Показывать весь рубрикатор',
                    'tasks' => 'Показывать рубрикатор с задачами',
                    'my_tasks' => 'Показывать рубрикатор с личными задачами'
                ],
                \Session::get('categoriesWidget.filterRubricator'/* . $course->id*/), [
                'data-request' => 'categoriesWidget::onFilterRubricator',
                'data-request-data' => 'courseId:' . $course->id,
                'class' => 'custom-select select-no-search',
                ]);
            ?>
            <div
                id="tree-list"
                class="control-treelist"
                data-control="igvs-treelist"
                data-handle="a.move">
                <iframe class="mesResize" name="frameResize"></iframe>

                <?= $this->makePartial('tree', [
                    'records' => $records
                ]) ?>
            </div>
        </div>
        <label class="showtl btn btn-primary" for="tree_size"></label>
    </div>
    <div id="workspace">
        <iframe
            name="workspace_frame"
            id="workspace_frame"
            webkitallowfullscreen="true"
            mozallowfullscreen="true"
            allowfullscreen="true"
            data-uiview=""
            frameborder="0"
            Xscrolling="no"
            src="<?php if ($tabs = get('q')): ?>
                <?= Backend::url("igvs/courses/courses/update/{$course->id}/?q={$tabs}") ?>
            <?php endif ?>"
            style="display: block">
        </iframe>
    </div>
</div>
<style>
    #workspace.loader {
        background: linear-gradient(0deg,#dddddb,#fbffff);
    }
    #workspace.loader > * {
        opacity: 0;
        pointer-events: none;
    }
    #workspace.loader:after {
        content: '';
        position: absolute;
        left: 50%;
        border-radius: 50%;
        top: 50%;
        background-size: contain;
        width: 10px;
        height: 10px;
        margin: -5px;
        #animation: rotate 1s infinite linear;
        box-shadow: 17px 0 rgba(0,0,0, .142),
                    12px 12px rgba(0,0,0, .285),
                    0 17px rgba(0,0,0, .428),
                    -12px 12px rgba(0,0,0, .571),
                    -17px 0 rgba(0,0,0, .714),
                    -12px -12px rgba(0,0,0, .857),
                    0 -17px #000;
        animation: rotate .75s steps(8, end) infinite;
    }
    @keyframes rotate {
        from {transform: rotateZ(0deg)}
        to {transform: rotateZ(360deg)}
    }
</style>
<script>
    //$('#tree_size_content').width($.cookie('tree_width') ? $.cookie('tree_width') : '');
    //$('#tree_size_content').css('width', $.cookie('tree_width') ? $.cookie('tree_width') : '');

    document.querySelector('#workspace_frame').addEventListener('load', function() {
        document.querySelector('#workspace').classList.remove('loader');
    });

    function frameRecreated(el)
    {
        /*$frame = document.getElementById('workspace_frame');
        $parent = $frame.parentNode;
        $parent.removeChild($frame);
        $frame = document.createElement('iframe');
        $frame.id = 'workspace_frame2';
        $frame.name = 'workspace_frame';
        $frame.setAttribute('webkitallowfullscreen','true');
        $frame.setAttribute('mozallowfullscreen','true');
        $frame.setAttribute('allowfullscreen','true');
        $frame.setAttribute('data-uiview','');
        $frame.setAttribute('frameborder','0');
        $frame.setAttribute('style','display: block');
        $parent.appendChild($frame);*/
    }

    frameResize.onresize = onresizeFunction;
    function onresizeFunction()
    {
        $.cookie('tree_show',+$('#tree_size').prop("checked"), { expires: 182, path: '/'});
    }

    function saveCook($el)
    {
        $.request('categoriesWidget::onChangeTreeSpoiler', {
            data: {
                id: $el.id,
                status: $el.checked
            }
        });
    }
    $('#tree-list').on('move.oc.treelist', function(ev, data){
        var
            $el,
            $item = data.item,
            moveData = {
                sourceNode: $item.data('recordId'),
                depth: $item.data('depth'),
                position: 'root',
                targetNode: 0,
                courseId: <?= $course->id ?>
            };

        if (($el = $item.next()) && $el.length) {
            moveData.position = 'before';
        } else if (($el = $item.prev()) && $el.length) {
            moveData.position = 'after';
        } else if (($el = $item.parents('li:first')) && $el.length) {
            moveData.position = 'child';
        }

        if ($el.length)
            moveData.targetNode = $el.data('recordId');

        var depth1 = (moveData.position == 'before' || moveData.position == 'after') && $el.data('depth') == moveData.depth;
        var depth2 = moveData.position == 'child' && $el.data('depth') == (moveData.depth - 1);

        var validation = $el.length && (depth1 || depth2);

        if (validation && ($el.data('depth') == 2) || ($el.data('depth') == 1 && moveData.position == 'child')) {
            $.request('categoriesWidget::onMoveModule', {
                data: moveData
            });
        } else if (validation) {
            $.request('categoriesWidget::onMoveCategory', {
                data: moveData
            });
        } else {
            $.request('categoriesWidget::onRefreshListTree', {
                data: moveData
            });
        }

    });
</script>