title = "Error page (500)"
url = "/preview/error"
layout = "default"
==
<?php

function onStart()
{
    $this['link'] = get('link');
    $this['code'] = get('code');
}

?>
==
<div class="jumbotron">
    <div class="container">
        <h1>Ошибка</h1>
        {% if code == '0' or code == '' %}
        <p>Не удалось открыть курс</p>
        {% endif %}

        {% if code == '1' %}
            <p>Ссылка {{ link }} устарела.</p>
        {% endif %}

        {% if code == '2' %}
            <p>Курс по ссылке {{ link }} не найден.</p>
        {% endif %}
    </div>
</div>