title = "Сессия потеряна"
url = "/session-lost"
is_hidden = 0
==
<?php
function onStart() {
    $local = \Session::get('igvs.courser.pilot_locale', 'en');
    $this['message'] = trans('igvs.courses::lang.default.session_lost', [], 'message', $local);
    $this['btn'] = trans('igvs.courses::lang.default.session_lost_signin', [], 'message', $local);
}
?>
==
<!DOCTYPE html>
<html>
    <head>
        <title>Время сессии истекло</title>
    
        
        <style type="text/css">
            .no-login {
                margin: 200px auto;
                padding: 15px;
                text-align: center;
            }
    
            h1 {
                color: #28a178;
                font-family: Roboto, Arial, Verdana;
                font-size: 21px;
                font-weight: normal;
            }
    
            a {
                display: inline-block;
                margin-top: 20px;
                padding: 5px;
                background-color: #28a178;
                color: white;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="no-login">
            <h1>{{message}}</h1>
            <a href="http://{{get('domain')}}/" target="_blank">{{btn}}</a>
        </div>
    
    </body>
</html>