<div class="form-group text-field span-full">
    <label><?= Lang::get('igvs.courses::lang.course.txt_field.build') ?></label>
    <?php
        $builds = ['' => '-- '.Lang::get('igvs.courses::lang.module.all_modules')] + $builds;
        echo Form::select('build_id', $builds, $current_build_id, [
            'class' => 'form-control custom-select',
            'id' => 'form-build',
        ]);
    ?>
</div>
