<a class="filter-scope <?= $scope->value ? 'active' : '' ?>"
    href="javascript:;"
    data-scope-name="<?= $scope->columnName ?>">
    <span class="filter-label"><?= e(trans($scope->label)) ?></span>
    <span class="filter-setting"><?= $scope->value ? ': ' . count($scope->value) : '' ?></span>
</a>