.control-filter-popover .filter-active-items a:before {
    color:#f00;
}
.control-filter-popover .filter-items a:before {
    color:#00f;
}

.control-filter-popover .filter-search .close {
    position: absolute;
    right: 8px;
    font-size: 37px;
    color: #000;
    z-index: 1;
    display: block;
}
.control-filter-popover .filter-search .form-control.icon.search{
    background: none;
}
.filter-setting {
    background-color: #926;
    color: #fff;
    padding: 0 4.4px;
    min-width: 12px;
    display: inline-block;
    border-radius: 3px;
}