<div is="academy-systsem-list-behavior">
    <?php if ($toolbar): ?>
        <template slot="toolbar">
            <?= $toolbar->render() ?>
        </template>
    <?php endif ?>
    <?php if (false && $filter): ?>
    <div slot="filter" is="<?= $this->getComponentName($filter) ?>"></div>
    <?php endif ?>
    <template slot="list">
        <?= $list->render() ?>
    </template>
</div>