<div class="button-column">
    <?php foreach ($column->config['buttons'] as $button): ?>
    <?php
        $search = $replace = [];
        foreach ($record->attributes as $k => $v)
        {
            $search[] = ':' . $k;
            $replace[] = $v;
        }
        $backend = isset($button['backend']) ? $button['backend'] : true;
        $target = isset($button['target']) ? $button['target'] : '';

        $url = str_replace($search, $replace, $button['url']);
        $url = $backend ? Backend::url($url) : $url;

        // other attributes
        $attr = "";
        foreach ($button as $k => $v) {
            $v = Lang::get($v);
            $v = str_replace($search, $replace, $v);
            if (!in_array($k, ['label', 'class', 'url', 'backend'])) {
                $attr .= "{$k}=\"{$v}\" ";
            }
        }
        ?>

    <a
            data-toggle="tooltip"
            data-placement="top"
            data-delay="100"
            title="<?= Lang::get($button['label']) ?>"
            href="<?= $url ?>"
            class="btn compact <?= $button['class'] ?>"

            target="<?= $target ?>"
    <?= $attr ?>
    >
    </a>
    <style>
        .btn.compact{
            padding: 0;
        }
    </style>

    <?php endforeach ?>
</div>
