<div class="layout responsive-sidebar">
    <div class="layout-cell">

        <div class="layout">
            <?php if ($breadcrumbContent = Block::placeholder('breadcrumb')): ?>
                <!-- Breadcrumb -->
                <div class="control-breadcrumb breadcrumb-flush">
                    <?= $breadcrumbContent ?>
                </div>
            <?php endif ?>

            <!-- Content -->
            <div class="layout-row">
                <div class="padded-container layout">
                    <?= Block::placeholder('form-contents') ?>
                </div>
            </div>
        </div>

    </div>
    <div class="layout-cell form-sidebar control-scrollpanel">
        <div class="layout-relative">
            <div class="layout-absolute">
                <div class="control-scrollbar" data-control="scrollbar">
                    <div class="padded-container">
                        <?= Block::placeholder('form-sidebar') ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .control-breadcrumb {margin: 0}
    .layout > .layout-cell.layout-container {padding: 0}
    #Form-secondaryTabs .layout-row.min-size > .nav.nav-tabs {
        font-size: 12px;
        text-transform: uppercase;
        padding: 12.5px 20px;
        background-color: #2b353e;
        margin: -20px -20px 0 -20px;
        text-align: right;
    }
    #Form-secondaryTabs .layout-row.min-size > .nav.nav-tabs * {
        background-color: transparent;
        font-weight:100;
        max-width: 100%;
    }
    #Form-secondaryTabs .layout-row.min-size > .nav.nav-tabs li.active a{
        color: #ecf0f1;
    }
    #Form-secondaryTabs .layout-row.min-size > .nav.nav-tabs li a{
        color: #9da3a7;
    }
</style>