<?php
    $this->addJs('/modules/backend/formwidgets/colorpicker/assets/vendor/colpick/js/colpick.js', 'core');
    $this->addCss('/modules/backend/formwidgets/colorpicker/assets/vendor/colpick/css/colpick.css', 'core');
    $this->addCss('/modules/backend/formwidgets/colorpicker/assets/css/colorpicker.css', 'core');
    $this->addJs('/modules/backend/formwidgets/colorpicker/assets/js/colorpicker.js', 'core');
    $availableColors = [
        '#1abc9c', '#16a085',
        '#2ecc71', '#27ae60',
        '#3498db', '#2980b9',
        '#9b59b6', '#8e44ad',
        '#34495e', '#2b3e50',
        '#f1c40f', '#f39c12',
        '#e67e22', '#d35400',
        '#e74c3c', '#c0392b',
        '#ecf0f1', '#bdc3c7',
        '#95a5a6', '#7f8c8d',
    ];
    $isCustomColor = !in_array($value, $availableColors);
    $name = $field->getName();
?>
<style>
    .field-colorpicker .special {
        position: relative;
    }
    .field-colorpicker > ul li label {
        display: block;
        width: 25px;
        height: 25px;
        border: 1px solid #cecece;
        margin: 0;
        cursor: pointer;
    }
    .field-colorpicker > ul li:hover label,
    .field-colorpicker > ul li.active label {
        border: 1px solid #ffffff;
    }
    .field-colorpicker > ul li label > input{
        display:none;
    }
</style>
<?php if ($this->previewMode): ?>
    <div class="form-control"><?= $value ?></div>
<?php else: ?>
    <div
        id="<?= $field->getId() ?>"
        class="field-colorpicker"
        data-control="colorpicker"
        data-data-locker="#<?= $field->getId('input') ?>">
        <ul>
            <?php foreach ($availableColors as $index => $color): ?>
                
                <li
                    class="<?= $color == $value ? 'active' : '' ?> special"
                    data-hex-color="<?= $color ?>">
                    <label style="background: <?= $color ?>">
                        <?= $color ?>
                        <input type="radio" name="<?= $name ?>"/>
                    </label>
                </li>
                
            <?php endforeach ?>
            
            <li
                class="custom-color <?= $isCustomColor ? 'active' : '' ?>"
                data-hex-color="<?= $isCustomColor ? $value : '#ffffff' ?>"
                data-custom-color>
                <span style="background: <?= $isCustomColor ? $value : '#ffffff' ?>"></span>
            </li>
            
        </ul>

        <input
            type="hidden"
            id="<?= $field->getId('input') ?>"
            name="<?= $name ?>"
            value="<?= $value ?>" />
    </div>
<?php endif ?>