<?php
    $field->config['type'] = &$field->config['dependsType'];
    $formName = $field->idPrefix == 'Form' ? 'form' : substr($field->idPrefix, 5);//"Form-$formName"
    $form = $this->widget->$formName;
    $form->addFields([$field->fieldName => $field->config]);
    $field = $form->getField($field->fieldName);
?>
<style>
    #<?= $field->getId('group') ?> > *:not(.<?= $field->type ?>-field):not(.loading-indicator) {
        display: none;
    }
</style>
<div class="<?= $field->type ?>-field">
<?= $form->makePartial('field', ['field' => $field]) ?>
</div>
<?php
    $field->config['type'] = 'partial';
    $form->addFields([$field->fieldName => $field->config]);