<div class="modal-header">
    <button type="button" class="close" data-dismiss="popup">&times;</button>
    <h4 class="modal-title"><?= e($this->pageTitle) ?></h4>
</div>
<style>
    body .form-buttons {
        padding-left: 0;
        padding-right: 0;
        float: right;
    }
    .form-buttons .btn {
        margin: 0 0 0 15px;
    }
</style>
<div class="modal-body">
    <?= $body ?>
</div>