<span style="float:left;margin-right:5px" id="<?= $field->getId() ?>-val"><?= e($field->value) ?> </span>
<div>
<input 
    min="<?= isset($field->config['min']) ? $field->config['min'] : '' ?>"
    max="<?= isset($field->config['max']) ? $field->config['max'] : '' ?>"
    id="<?= $field->getId() ?>"
    name="<?= $field->getName() ?>"
    value="<?= e($field->value) ?>"
    oninput="$('#<?= $field->getId() ?>-val').html($(this).val())"
    type="range">
</div>