<?php $this->addCss('/modules/backend/formwidgets/colorpicker/assets/css/colorpicker.css') ?>
<div class="field-colorpicker">
    <ul><li><span style="background: <?= e($value) ?>"></span></li></ul>
</div>