<?php
    $this->addCss('/plugins/academy/system/assets/css/drag_and_drop.css');
    $this->addJs('/plugins/academy/system/assets/js/drag_and_drop.js');
?>
<div class="icon-bars dnd" id="dnd-id-<?= $record->id ?>">
    <script>
        $('#dnd-id-<?= $record->id ?>')
            .closest('tr')
            .attr('draggable', 'true')
            .attr('record_id', '<?= $record->id ?>')
            .attr('name', '<?= $column->columnName ?>')
            .addClass('dnd-draggable');
    </script>
</div>