<?php
    $fieldOptions = $field->options();
    if(!count($fieldOptions)) {
        $options = 'get' . $field->fieldName . 'Options';
        if(!method_exists($formModel, $options))
            $options = 'getDropdownOptions';
        $fieldOptions = $formModel->$options($field->fieldName);
    }
    $useSearch = $field->getConfig('showSearch', true);
    $emptyOption = $field->getConfig('emptyOption', $field->placeholder);

    $keys = array_keys($formModel->attributes);
    foreach($keys as $id => $key)
        $keys[$id] = ':' . $key;
    $values = array_values($formModel->attributes);
?>
<!-- Dropdown -->
<?php if ($this->widget->form->previewMode): ?>
    <div class="form-control"><?= (isset($fieldOptions[$field->value])) ? e(trans($fieldOptions[$field->value])) : '' ?></div>
<?php else: ?>
    <select
        id="<?= $field->getId() ?>"
        name="<?= $field->getName() ?>"
        class="form-control custom-select <?= $useSearch ? '' : 'select-no-search' ?>"
        <?= $field->getAttributes() ?>
        <?= $field->placeholder ? 'data-placeholder="'.e(trans($field->placeholder)).'"' : '' ?>
        >
        <?php if ($emptyOption): ?>
            <option value=""><?= e(trans($emptyOption)) ?></option>
        <?php endif ?>
        <?php foreach ($fieldOptions as $value => $option): ?>
            <?php
                if (!is_array($option)) $option = [$option];
            ?>
            <option
                <?= $value == $field->value ? 'selected="selected"' : '' ?>
                <?php if (isset($option[1])): ?>data-<?=strpos($option[1],'.')?'image':'icon'?>="<?= $option[1] ?>"<?php endif ?>
                value="<?= $value ?>"
            ><?= e(trans($option[0])) ?></option>
        <?php endforeach ?>
    </select>
    <script>
        $('#<?= $field->getId() ?>').on("change", function() {

            switch($(this).val()) {
                <?php foreach($field->config['actions'] as $value => $action): ?>
                case '<?= e($value) ?>':
                    <?= str_replace($keys, $values, $action) ?>;
                    break;
                <?php endforeach ?>
            }
        });
    </script>
<?php endif?>