<?php
    if(!function_exists('fileColumnCssNeed')) {
        function fileColumnCssNeed()
        {
            static $css;
            return $css = isset($css) ? 0 : 1;
        }
    }

    if(fileColumnCssNeed()): ?>
<style>
    .academy-files {
        display: inline-block;
        padding: 5px 10px;
        border:1px solid #ddd;
        background-color: #fff;
        margin-bottom: 5px;
        color: #000 !important;
    }
    .academy-files:before {
        margin-right: 10px;
        color: #4ae;
    }
    .academy-files:hover {
        color:#fff!important;
        background-color: #4ae
    }
    .academy-files:hover:before {
        color: #fff;
    }
    .modal-target:target {
        display: block;
    }
    .modal-max-size {
        max-width:1000px;
        max-height:500px;
    }
    .modal-contain {
        position: absolute;
        top:70px;
        left:20px;
        right:20px;
        bottom:20px;
    }
</style>
<?php endif;
    $mimeToIcon = [
        'text/plain' => 'text',
        'text/html' => 'code',
        'text/css' => 'code',

        'application/javascript' => 'code',
        'application/json' => 'code',
        'application/xml' => 'code',
        'application/x-shockwave-flash' => 'code',

        'image/png' => 'image',
        'image/jpeg' => 'image',
        'image/gif' => 'image',
        'image/bmp' => 'image',
        'image/vnd.microsoft.icon' => 'image',
        'image/tiff' => 'image',
        'image/svg+xml' => 'image',

        'application/zip' => 'archive',
        'application/x-rar-compressed' => 'archive',
        'application/x-msdownload' => 'archive',
        'application/vnd.ms-cab-compressed' => 'archive',

        'audio/mpeg' => 'audio',
        'video/quicktime' => 'video',
        'video/x-flv' => 'video',

        'application/pdf' => 'pdf',
        'image/vnd.adobe.photoshop' => 'image',
        'application/postscript' => 'code',

        'application/msword' => 'word',
        'application/rtf' => 'code',
        'application/vnd.ms-excel' => 'excel',
        'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' => 'excel',
        'application/vnd.ms-powerpoint' => 'powerpoint',

        'application/vnd.oasis.opendocument.text' => 'code',
        'application/vnd.oasis.opendocument.spreadsheet' => 'code',
    ];
    $needModal = [
        'image/png',
        'image/jpeg',
        'image/gif',
        'image/bmp',
        'image/vnd.microsoft.icon',
        'image/tiff',
        'image/svg+xml',
    ];
    foreach($value as $file):
        if(in_array($file->content_type, $needModal)): ?>
            <a class="academy-files icon-file<?= isset($mimeToIcon[$file->content_type]) ? '-' . $mimeToIcon[$file->content_type] : '' ?>-o"
                onClick="window.top.$.popup({
                ajax: '/' + window.location.pathname.split('/')[1] + '/academy/tasks/tasks/getImage',
                extraData: {src: '<?= Backend::url('academy/system/files/get/' . $file->id) ?>'}
            });">
                <?= $file->file_name ?>
            </a>
        <?php else: ?>
            <a class="academy-files icon-file<?= isset($mimeToIcon[$file->content_type]) ? '-' . $mimeToIcon[$file->content_type] : '' ?>-o"
                target="_self"
                href="<?= Backend::url('academy/system/files/get/' . $file->id) ?>"
                download>
                <?= $file->file_name ?>
            </a>
        <?php endif;
    endforeach ?>