<div>
    <a<?php
    $keys = array_keys($formModel->attributes);
    foreach($keys as $id => $key)
        $keys[$id] = ':' . $key;
    $values = array_values($formModel->attributes);
    if(isset($field->config['attributes']))
        foreach($field->config['attributes'] as $key => $value)
            echo '
        ' . e($key) . '="' . e(str_replace($keys, $values, $value)) . '"' ?>>
        <?= e($field->label) ?>
    </a>
</div>
<style>#<?= $field->getId() ?>-group > label{opacity:0}</style>