title = "Main"
url = "/"
layout = "custom-front"
is_hidden = 0
==
function onStart() {

    $this['backend_url'] = \Backend::url('');
    $this['user'] = \BackendAuth::getUser();
    $this['logo_name'] = \Config::get('cms.expertiseThemeLogoName', '');
    $this['main_button'] = \Config::get('cms.expertiseMainButton', 1);
    $this['work_company'] = \Config::get('cms.expertiseThemePoo', '');
    $this['work_company2'] = \Config::get('cms.expertiseThemePoo2', '');
    $this->page['title'] = $this['work_company2'];
}
==
<header class="header">
    <div class="top-header">
        <div class="logo-block">
            <div class="logo"><img src="{{ 'assets/custom-front/img'|theme }}/{{ logo_name }}" alt="logo" style="height: 43px;"></div>
            <div class="logo-text">{{ work_company2 }}</div>
        </div>
        <div class="title-block">{{ work_company }}</div>
    </div>
    <div class="bottom-header">
        <div class="personal-account"><a href="/cp">Личный кабинет</a></div>
        <div class="link-admin"><a href="#">{% if user %}{{ user.getFullNameAttribute() }}{% endif %}</a></div>
    </div>
</header>
<section class="content">
    <div class="container">
        {% if main_button == 1 %}
        <a href="/cp" class="link-is">
                    <span class="title-is">
                        <span class="img-is"></span>
                        <span class="text-is">Информационная система "Экспертиза"</span>
                    </span>
            <span class="desc-is">Система служит для проведения анализа, оценки качества и степени готовности цифровых учебных материалов</span>
        </a>
        {% elseif main_button == 2 %}
        <a href="/cp" class="link-is">
                    <span class="title-is">
                        <span class="img-is"></span>
                        <span class="text-is">Информационная система «Разработка учебных материалов и&nbsp;контрольно-оценочных средств»</span>
                    </span>
            <span class="desc-is">Система позволяет разрабатывать цифровые учебные материалы:  теоретические модули, интерактивные практические задания, контрольно-оценочные средства</span>
        </a>
        {% endif %}
    </div>
</section>