==
<?php
function onStart() {

$this['expertise_theme'] = \Config::get('cms.expertiseTheme', 'default');

}
?>
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ this.page.title }}</title>
    <link rel="stylesheet" href="{{ 'assets/custom-front/css/normalize.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/custom-front/css/fonts.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/custom-front/css/style-'|theme }}{{ expertise_theme }}.css">
</head>
<body>
<div class="wrapper">

    {% page %}

</div>
</body>
</html>