/* record */
.control-treelist li > div.record {
    margin: 0;
}

/* tree-list container */
.tree-list-container {
    max-width:100%;
    width:25%;
    height:97%;
    float:left;
    margin-right:20px;;
    transition-duration: 0.5s;
    overflow: auto;
    resize: horizontal;
    min-width: 300px;
}
.tree-list-container:active {
    transition-duration: 0s;
}
.mesResize
{
    position: absolute;
    left:0;
    width:100%;
    height: 0;
    border:0
}
#tree-list {
    width: 100%;
    position: relative;
}
#tree-list:hover .tree_spoiler_activate:before
{
    opacity: 1;
}

/* checkbox */
#tree-list .record a.chb-build {
    font-size:15px;
    margin-right: 7px;
    text-decoration: none;
    color: silver;
    padding-left: 7px;
}

#tree-list .record a.chb-build:hover {
    text-decoration: none;
    color: #0181b9;
}

#tree-list .record a.chb-build:visited {
    color: silver;
}

#tree-list .lock {
    display: inline-block;
    padding: 7px 0 7px 10px;
    text-decoration: none;
    color: #bdc3c7;
}

#tree-list .lock:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f023";
    font-size: 16px;
}
#tree-list .lock.overlook_superuser:before {
    color: red;
}
#tree-list .lock.overlook_basecourse:before {
    color: orange;
}

.all_content {
    position: absolute;
    top:100px;
    bottom:0;
    left:5px;
    right:0;
}
.tree_content {
    display: inline;
    position: relative;
}
/* modules */
#tree_size {
    display:none;
}
#tree_size:checked + * {
    width:0;
    max-width: 0;
    min-width: 0;
}
#tree_size:checked + * + .showtl:after {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}
#tree_size:checked + * + .showtl {
    padding:10px 0;
}
.showtl {
    position: absolute;
    right:8px;
    top:60px;
    padding:10px 0!important;
    border-radius:0 2px 2px 0;

}
.tree_spoiler {
    display: none;
}
.tree_spoiler + * + * {
    display:none;
}
.tree_spoiler_activate {
    padding: 10px;
}
.tree_spoiler:checked + * >.tree_spoiler_activate:before {
    -webkit-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    color:#000;
}
.tree_spoiler_activate:before {
    -webkit-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    color: #fff;
    text-shadow: 0 0 1px #000;
    font-family: FontAwesome;
    content: "◢";
    font-size: 10px;
    font-weight: 100;
    position: relative;
    display: inline-block;
    transition-duration: 0.5s;
    //opacity: 0;
}

.tree_spoiler:checked + * + *
{
    display:block
}
.showtl:before {
    content: '';
    height: 200%;
    width: 1px;
    position: absolute;
    top: -50%;
    left: 0;
    box-shadow: -4px 0 8px 0 #000;
}
.showtl:after {
    -webkit-transform: rotateZ(180deg);
    display: inline-block;
    transform: rotateZ(180deg);
    transition-duration: 2s;
    content:'➢';
    font-size: 15px;
}
#tree-list li.module-content *
{
    outline:none;
    text-decoration:none;
}
#tree-list li.module-content.i-test {
    background: #DDFFDD;
}
#tree-list li.module-content.active.i-test,
#tree-list li.module-content.i-test:target
{
    background: #5d8;
}
#tree-list li.module-content.i-check {
    background: #FFFBE2;
}
#tree-list li.module-content.active.i-check,
#tree-list li.module-content.i-check:target
{
    background: #ee5;
}
#tree-list li.module-content.i-ask {
    background: #FFE6E6;
}
#tree-list li.module-content.active.i-ask,
#tree-list li.module-content.i-ask:target
{
    background: #f88;
}
#tree-list li.module-content.active.i-practice,
#tree-list li.module-content.i-practice:target
{
    background: #ddd;
}
#tree-list li.module-content.i-practice
{
    background: #f0f0f0;
}


.control-treelist li > div.record {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.control-treelist li > div.record > a.move {
}

#tree-list .record a.colontitle {
    padding: 10px;
    overflow-x: hidden;
    width: 100%;
}

#tree-list .record a.colontitle b{
    font-weight: 600;
}

/* workspace */
#workspace {
    overflow: hidden;
    position: relative;
    height: 100%;
}

#workspace iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    display: none;
}

/* container-flush */
.container-flush {
    position: absolute;
    bottom: 10px;
    right: 0;
    z-index: 10;
}
@media all and (max-width: 1550px) {
    .toolbar .btn {
        font-size:0;
        padding-right: 8px;
    }
}