.filerScopeText {
    outline: none;
    cursor: pointer;
}
.filerScopeText .close {
    outline: none;
}
.filerScopeText .control-popover {
    top: 100%;
}
.filerScopeText .control-filter-popover ul {
    padding: 0;
    height: auto;
    overflow: auto;
    max-height: 200px;
    margin: 0
}
.filerScopeText .control-filter-popover ul li {
    padding: 7px 15px;
    cursor: pointer;
    display: block;
    text-transform: none;
}
.filerScopeText li:hover {
    background-color: #4da7e8;
    color: #FFFFFF;
}
.filerScopeText li:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}
.filerScopeText .filter-items li:not(.loading):before {
    content: "\f067";
    color: #00f;
}
.filerScopeText .filter-active-items li:before {
    content: "\f00d";
    color: #f00;
}