<?php
    $size = get('size');
    $css = !is_numeric($size) ? 'class="modal-dialog size-'.$size.'"' :
        'class="modal-dialog size-adaptive" style="max-width:'.$size.'px;"';
?>

<div <?= $css ?>>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" id="btn-header-close">&times;</button>
            <h4 class="modal-title"><?= $this->pageTitle ?></h4>
        </div>

        <?= $this->fatalError ? '' : Form::open() ?>

        <div class="modal-body">
            <?php if (!$this->fatalError): ?>
                <style>
                    [data-cmd="mmImageManager"],
                    [data-cmd="mmVideoManager"],
                    [data-cmd="mmAudioManager"],
                    [data-cmd="mmFileManager"],
                    [data-cmd="paragraphStyle"] {
                        display: none!important;
                    }
                </style>
                <?= $this->formRender() ?>
                <?= $this->dataValues ?>
            <?php else: ?>
                <p class="flash-message static error"><?= e($this->fatalError) ?></p>
            <?php endif ?>
        </div>

        <div class="modal-footer">

            <?php if (!$this->fatalError && $this->runButton): ?>
                <button
                    id="btn-save"
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-request-success="parent.$.crud.options.success(data); parent.$.crud.close();" 
                    data-request-complete="parent.$.crud.options.complete(data)"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Saving user_poll..."
                    class="btn btn-primary">
                    <?= e(trans($this->runButton)) ?>
                </button>
            <?php endif ?>

            <button
                id="btn-close"
                type="button"
                class="btn btn-default">
                <?= e(trans('backend::lang.form.close')) ?>
            </button>

        </div>

        <?= $this->fatalError ? '' : Form::close() ?>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btn-header-close, #btn-close").click(function () {
            parent.$.crud.close();
        });

        $('#btn-close').hotKey({
            hotkey: 'esc',
            callback: function() {
                if (!$("body>.redactor-box-fullscreen").length) {
                    parent.$.crud.close();
                }
            }
        });
    });

</script>