<?php
    use Igvs\Courses\Models\Status;

    if ((count($statuses) == 1 && !is_null($status_id))
    || (!isset($statuses[$status_id]) && !is_null($status_id))
    ) {
        return;
    }
    foreach (Status::whereIn('id', array_keys($statuses))->get() as $status) {
        $statuses[$status->id] = $status;
    }
    if (is_null($status_id)) {
        $status = (object)[
            'icon' => 'exclamation',
            'name' => 'Выберите статус',
            'color' => '#f88'
        ];
    }
    else {
        $status = $statuses[$status_id];
        unset($statuses[$status_id]);
    }
    if (count($statuses) == 1):
        $status = reset($statuses);
?>
<div class="btn btn-primary oc-icon-<?= $status->icon ?> btn-change-course-status"
    data-control="popup"
    data-request-action="<?= Backend::url('igvs/courses/coursecomments/create/') ?>"
    data-handler="onModalCreate"
    data-extra-data="course_id: <?= $course_id ?>, status_id: <?= $status->id ?>"
    style="margin-right:10px"
    data-size="huge">
    <?= $status->command ?>
</div>
<?php
    return;
    endif;

?>
<div
    data-toggle="dropdown"
    style="background-color: <?= $status->color ?>"
    class="btn btn-primary oc-icon-<?= $status->icon ?>">
    Изменить статус курса
</div>
<style>
    .status-command {
        border-radius:0;
        width:100%;
        background-color:#fff;
    }
    .status-command:hover:after {
        background-color: #eee!important;
    }
    .btn-change-course-status {
        background-color: <?= $status->color ?>;
    }
</style>
<div class="dropdown-menu" role="menu" style="margin-top: 17px">
    <?php foreach($statuses as $status): ?>
    <div role="presentation">
        <span>
        <a
            class="btn btn-sm oc-icon-<?= $status->icon ?> status-command stat<?= $status->id ?>"
            data-control="popup"
            data-request-action="<?= Backend::url('igvs/courses/coursecomments/create/') ?>"
            data-handler="onModalCreate"
            data-extra-data="course_id: <?= $course_id ?>, status_id: <?= $status->id ?>"
            data-size="huge"
            href="javascript:;"
            data-disposable=""
            role="menuitem">
            <?= $status->command ?>
        </a>
        </span>
    </div>
    <style>
        .status-command.stat<?= $status->id ?>:before {
            background-color: <?= $status->color ?>!important;
        }
        .status-command.stat<?= $status->id ?> {
            background-color: <?= $status->color ?>!important;
        }
    </style>
    <?php endforeach ?>
</div>