<?php
    use Igvs\Courses\Models\Status;

    if (!isset($statuses[$status_id]) && !is_null($status_id)) {
        return;
    }
    foreach (Status::getStatuses(array_keys($statuses)) as $status) {
        $statuses[$status->id] = $status;
    }
    if (is_null($status_id)) {
        $status = (object)[
            'icon' => 'exclamation',
            'name' => 'Выберите статус',
            'color' => '#f88'
        ];
    }
    else {
        $status = $statuses[$status_id];
        unset($statuses[$status_id]);
    }
?>
<div
    data-toggle="dropdown"
    style="
        background-color: <?= $status->color ?>;
        margin: 0 5px 0 0;
        color: #fff;
        padding: 3px 0;
        width: 24px;
        display: inline-block;
        font-size: 11px;
        text-align: center;
        cursor: pointer;
        "
    title="<?= e($status->name) ?>"
    class="btn-sm empty oc-icon-<?= $status->icon ?>">
</div>
<style>
    .status-command {
        font-size: inherit!important;
        border-radius:0;
        width:100%;
        background-color:#fff;
    }
    .status-command:hover:after {
        background-color: #eee!important;
    }
</style>
<ul class="dropdown-menu" role="menu" style="left: auto;right:0">
    <?php foreach($statuses as $status): ?>
    <li role="presentation">
        <span>
        <a
            class="btn btn-sm oc-icon-<?= $status->icon ?> status-command stat<?= $status->id ?>"
            data-control="popup"
            data-request-action="<?= Backend::url('igvs/courses/coursecomments/create_content/') ?>"
            data-handler="onModalCreate"
            data-extra-data="module_id: $(this).closest('.module-content').attr('data-record-id'), status_id: <?= $status->id ?>"
            style="background-color: <?= $status->color ?>; margin-right:10px"
            data-size="huge"
            href="javascript:;"
            data-disposable=""
            role="menuitem">
            <?= $status->command ?>
        </a>
        </span>
    </li>
    <style>
        .status-command.stat<?= $status->id ?>:before {
            background-color: <?= $status->color ?>!important;
        }
        .status-command.stat<?= $status->id ?> {
            background-color: <?= $status->color ?>!important;
        }
    </style>
    <?php endforeach ?>
</ul>
