body {
    background-color: transparent;
    height: auto;
}

.modal-dialog {
    animation: dialog-open 0.3s 1;
    -webkit-animation: dialog-open 0.3s 1;
}

@keyframes dialog-open {
    0%      { transform: scale(0.7, 0.7); opacity: 0.3;}
    100%    { transform: scale(1, 1); opacity: 1;}
}

@-webkit-keyframes dialog-open {
    0%      { transform: scale(0.7, 0.7); opacity: 0.3;}
    100%    { transform: scale(1, 1); opacity: 1;}
}

div.redactor-dropdown,
div#redactor-modal-overlay, div#redactor-modal-box, div#redactor-modal {
    z-index: 1050 !important;
}