.crud-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 1050;
}

.crud-dialog .popup-backdrop.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto;
    background-color: transparent;
}

.crud-dialog iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow:  hidden;
}

.crud-dialog.dialog-close {
    animation: dialog-close 0.3s 1 forwards;
    -webkit-animation: dialog-close 0.3s 1 forwards;
}

@keyframes dialog-close {
    0%      { opacity: 1; }
    100%    { opacity: 0;}
}

@-webkit-keyframes dialog-close {
    0%      { opacity: 1; }
    100%    { opacity: 0;}
}

.crud-dialog.dialog-close iframe {
    animation: dialog-close-iframe 0.3s 1 forwards;
    -webkit-animation: dialog-close-iframe 0.3s 1 forwards;
}

@keyframes dialog-close-iframe {
    0%      { transform: scale(1, 1); }
    100%    { transform: scale(0.7, 0.7);}
}

@-webkit-keyframes dialog-close-iframe {
    0%      { transform: scale(1, 1); }
    100%    { transform: scale(0.7, 0.7);}
}

.crud-dialog.dialog-close .loading {
    display: none;
}

.hidden {
    display: none;
}