<div class="report-widget">
    <h3>Hard info</h3>

    <div
        class="control-chart"
        data-control="chart-pie"
        data-size="200"
        data-center-text="<?= $chart['centerText'] ?>">
        <ul>
            <?php foreach ($chart['data'] as $label => $value): ?>
                <li><?= $label ?> <span><?= $value ?> GB</span></li>
            <?php endforeach ?>
        </ul>
    </div>
</div>