<?php
    use Igvs\Courses\Models\ModuleContentHistory;
    use Igvs\Courses\Models\ModuleContent;
    use Backend\Models\User;

    $select1 = $select2 =[];

    foreach ($versions as $num => $groups) {
        switch ($num) {
            case 0:
                $select2[] = '<optgroup label="Текущее значение">';
                if (!$autoselect) {
                    $select1[] = '<optgroup label="Текущее значение">';
                }
                break;
            case 1:
                $select1[] = $select2[] = '<optgroup label="История текущего модуля">';
                break;
            default:
                $select1[] = $select2[] = '<optgroup label="Родитель ' . ($num - 1) . '-го уровня">';
        }
        foreach ($groups as $version) {
            if (!isset($users[$version->user_id])) {
                $user = User::where('id',$version->user_id)->select('first_name','last_name')->first();
                if ($user) {
                    $users[$version->user_id] = $user->first_name.' '.$user->last_name;
                }
                else {
                    $users[$version->user_id] = 'Unspecified User';
                }
            }
            if ($version->id == $version1->id) {
                $select2[] = '<option value="'.$version->id.'" disabled>'.$version->created_at.' : '.$users[$version->user_id].'</option>';
                if ($num > 0 || !$autoselect) {
                    $select1[] = '<option value="'.$version->id.'" selected>'.$version->created_at.' : '.$users[$version->user_id].'</option>';
                }
            }
            elseif ($version->id == $version2->id) {
                if ($num > 0 || !$autoselect) {
                    $select1[] = '<option value="'.$version->id.'"' . (!$autoselect ? ' disabled' : '') . '>'.$version->created_at.' : '.$users[$version->user_id].'</option>';
                }
                $select2[] = '<option value="'.$version->id.'" selected>'.$version->created_at.' : '.$users[$version->user_id].'</option>';
            }
            else {
                $last = $select2[] = '<option value="'.$version->id.'">'.$version->created_at.' : '.$users[$version->user_id].'</option>';
                if ($num > 0 || !$autoselect) {
                    $select1[] = $last;
                }
            }
        }
        $select2[] = '</optgroup>';
        if ($num > 0 || !$autoselect) {
            $select1[] = '</optgroup>';
        }
    }
    $select1 = implode('', $select1);
    $select2 = implode('', $select2);

    function create_diff_string($str,$edit)
    {
        $str = htmlspecialchars($str);
        $b = '';
        $a = '';
        if(isset($edit['diff']))
        {
            $b = max(0,$edit['diff']['b']-1);
            $a = strlen($str)-$edit['diff']['a'];
            $str = substr_replace($str,'<span class="seledit">',$edit['diff']['a'],0);
            if($b==0 || $a==0)
                $str = $str.'</span>';
            else
            if($b==$a)
                $str = substr_replace($str,'</span>',-$b,0);
            else
            if($b<$a)
                $str = substr_replace($str,'</span>',-$b,0);
            else
                $str = substr_replace($str,'</span>',-$a,0);
        }
        return $str;
    }
    function get_diff_string($curr,$prev)
    {
        $curr = htmlspecialchars($curr);
        $prev = htmlspecialchars($prev);
        $return = [];
        for($i=0;$i < strlen($curr) && $i < strlen($prev);$i++)
        {
            if($curr[$i]!=$prev[$i])
            {
                $return['a'] = $i;
                break;
            }
        }
        if(!isset($return['a']))
            $return['a'] = min(strlen($curr),strlen($prev));
        $pl = strlen($prev)-strlen($curr);
        if($pl!=0 && strlen($prev)==0 || strlen($curr)==0)
            $return['b'] = 0;
        else
        for($i=strlen($curr)-1;$i>=0;$i--)
        {
            if($curr[$i]!=$prev[$i+$pl] || $i<=0 || $i+$pl<=0 || $i+1==$return['a'] || $i+$pl+1==$return['a'])
            {
                $return['b'] = strlen($curr)-$i;
                break;
            }
        }
        if(!isset($return['b']))
            $return['b'] = 0;
        return $return;
    }
	function is_assoc($array)
	{
		$i = 0;
		foreach($array as $pos => $val)
		{
			if($i !== $val['key'])
				return false;
			$i++;
		}
        return true;
	}
    function is_assoc2($array)
    {
        $i = 0;
        foreach($array as $pos => $val)
        {
            if($i !== $pos)
                return false;
            $i++;
        }
        return true;
    }
//<?
    function print_array($edit,$arr,$step='',&$return=[],$diff=null,$keys='')
    {
		$pos = count($return)-1;
		if(is_string($edit))
		{//тут мы сохраняем всегда в последний результат
			if(is_array($arr))
			{
				if(is_assoc2($arr))
				{
					$return[$pos]['v'].= '[';
					foreach($arr as $key => $val)//<?
					{
						$return[$pos]['v'].= '
'.$step.'<span class="'.$edit.'">';//<?
                        print_array('',$val,$step.'  ',$return);
                        $return[$pos]['v'].= '</span>,';//<?
                    }
                    $return[$pos]['v'].= '
'.$step.']';
                }
                else
                {
                    $return[$pos]['v'].= '{';
                    foreach($arr as $key => $val)//<?
                    {

                        $stat = is_array($edit) && isset($edit[$key]['stat']) && !is_array($edit[$key]['stat']) ? $edit[$key]['stat'] : '';


                        $return[$pos]['v'].= '
'.$step.'<span class="red">"</span><span class="key '.$stat.'">'.htmlspecialchars($key).'</span><span class="red">"</span>: <span class="'.$stat.'">';
                        print_array('',$val,$step.'  ',$return);
                        $return[$pos]['v'].= '</span>,';
                    }
                    $return[$pos]['v'].= '
'.$step.'}';
                }
            }
            else
            if(is_numeric($arr))
                $return[$pos]['v'].= '<span class="numb">'.create_diff_string($arr,$diff).'</span>';
            elseif(is_bool($arr))
                $return[$pos]['v'].= '<span class="numb">'.($arr?'true':'false').'</span>';
            else
                $return[$pos]['v'].= '<span class="red">"</span>'.create_diff_string($arr,$diff).'<span class="red">"</span>';//<?
            if($edit!='' && $edit!='ok')
            {
                $return[$pos]['c'] = $keys;
                $return[$pos]['t'] = $edit;
            }
        }
        else
        {
            $assoc = is_assoc($edit);
            if($pos<0)
            {
                $pos++;
                $return[$pos]['v'] = '';
            }
            if($assoc)
                $return[$pos]['v'].= '[';
            else
                $return[$pos]['v'].= '{';

            foreach($edit as $val)
			{
                $return[]['v'] = '';
                $pos++;

			    if($val['stat']!='del')
			    {
			        if(!isset($arr[$val['key']]))
			        {
                        print_r($arr);
                        exit;
			        }
			        $return[$pos]['v'].= $step.($assoc?'':'<span class="red">"</span><span class="key'.(is_string($val['stat'])?' '.$val['stat']:'').'">'.$val['key'].'</span><span class="red">"</span>: ');//<?
                    print_array($val['stat'],$arr[$val['key']],$step.'  ',$return,(isset($val['diff'])?$val:null),$keys.'['.$val['key'].']');
                    $pos = count($return)-1;
			        $return[$pos]['v'].=',';
				}
				else
				{
                    $return[$pos]['c'] = $keys.'['.$val['key'].']';
                    $return[$pos]['t'] = $val['stat'];
				}
			}
            if($assoc)
                $return[$pos]['v'].='
'.$step.']';
            else
                $return[$pos]['v'].='
'.$step.'}';
		}
	}
    function array_difference($curr,$prev)
    {
		if(!is_array($curr) || !is_array($prev))
		{
			if(is_array($curr) == is_array($prev))
				return ($curr == $prev);
			else
				return false;
		}

		$return = [
			'curr' => [],//<?
            'prev' => [],//<?
            //'arow' => [],//<?
        ];

        //получает массив, в котором ключи являются позицией ключа исходного массива, а значение - ключем исходного массива
        $c_keys = array_keys($curr);
        $p_keys = array_keys($prev);

        $ikeys = array_intersect_key($curr,$prev);
        /*$return['arow'] = $ikeys;//совпадающие ключи двух массивов
        foreach($ikeys as $key => $val)//<?
        {
            $ikeys[$key] = $c_keys[$key];
        }*/

        //получаем оригинальные массивы, но с числовыми ключами
        $c_vals = array_values($curr);
        $p_vals = array_values($prev);

        //получает массив, в котором ключи являются ключами исходного массива, а значение - массивом позиций ключа исходного массива
        $c_keys_pos = array_flip($c_keys);
        $p_keys_pos = array_flip($p_keys);

        //пробегаемся по всем ключам текущей версии
        $newPos = 0;
        foreach($c_keys_pos as $key => $pos)//<?
        {
            //если раньше не было такого ключа
            if(!isset($p_keys_pos[$key]))
            {
                $return['curr'][$newPos] = ['stat'=>'new','key'=>$key];//<?
                $return['prev'][$newPos] = ['stat'=>'del','key'=>$key];//<?
            }
            else//определяем куда переместились ключи
            {
                $ad = array_difference($c_vals[$pos],$p_vals[$p_keys_pos[$key]]);

                if($ad === false)
                {
                    if(!is_array($c_vals[$pos]) && !is_array($p_vals[$p_keys_pos[$key]]))
                    {
                        $diff = get_diff_string(strval($c_vals[$pos]),strval($p_vals[$p_keys_pos[$key]]));
                        $return['curr'][$newPos] = ['stat'=>'edit','pos'=>$p_keys_pos[$key],'diff'=> $diff,'key'=>$key];//<?
                        $return['prev'][$newPos] = ['stat'=>'edit','pos'=>$pos,'diff'=> $diff,'key'=>$key];//<?
                    }
                    else
                    {
                        $return['curr'][$newPos] = ['stat'=>'edit','pos'=>$p_keys_pos[$key],'key'=>$key];//<?
                        $return['prev'][$newPos] = ['stat'=>'edit','pos'=>$pos,'key'=>$key];//<?
                    }
                }
                else
                if($ad === true)
                {
                    $return['curr'][$newPos] = ['stat'=>'ok','pos'=>$p_keys_pos[$key]-$pos,'key'=>$key];//<?
                    $return['prev'][$newPos] = ['stat'=>'ok','pos'=>$pos-$p_keys_pos[$key],'key'=>$key];//<?
                }
                else
                {
                    $return['curr'][$newPos] = ['stat'=>$ad['curr'], 'key' => $key];//<?
                    $return['prev'][$newPos] = ['stat'=>$ad['prev'], 'key' => $key];//<?
                }
            }
            $newPos++;
        }
        foreach($p_keys_pos as $key => $pos)//<?
        {
            if(!isset($c_keys_pos[$key]))
            {
                $return['prev'][$newPos] = ['stat'=>'new', 'key' => $key];//<?
                $return['curr'][$newPos] = ['stat'=>'del', 'key' => $key];//<?
                $newPos++;
            }
        }
        return $return;
    }
    if(isset($version1->data['colontitle']))
        unset($version1->data['colontitle']);
    if(isset($version1->data['practice']))
        unset($version1->data['practice']);


    if(isset($version2->data['colontitle']))
        unset($version2->data['colontitle']);
    if(isset($version2->data['practice']))
        unset($version2->data['practice']);

    if(!is_array($version1->data))
        $version1->data = [];
    if(!is_array($version2->data))
        $version2->data = [];
    $ret = array_difference($version1->data,$version2->data);
    //print_r($ret);


    $curr = [];
    $prev = [];
    print_array($ret['curr'],$version1->data,'',$curr,$version2->id==0);
    print_array($ret['prev'],$version2->data,'',$prev,false);

    $jsonCount = 0;
    foreach($curr as $val)
    {
        if(isset($val['c']))
            $jsonCount++;
    }

?>
<!doctype>
<html>
<head>
</head>
<body>
    <style>
        body,html {
            margin: 0;
            padding: 0;
        }
        .table {
            display: inline-table;
            width: 100%;
            max-height: 100%;
            margin: 0;
            table-layout: fixed;
            box-sizing: border-box;
        }
        .table > * {
            display: table-row;
        }
        .table > * > *{
            display: table-cell;
            position: relative;
        }
        .body {
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            overflow: auto;
            border: 1px solid #000;
            border-left:0;

        }
        .body:after {
            content:'';
            display: block;
            overflow: hidden;
            width: 100%;
        }
        .menu > *
        {
            PADDING: 5px 0;
            box-sizing: border-box;
        }
        .json > *{
            line-height: 14px;

        }
        .json > .edit{
            background-color: rgba(200,200,255,.2);
        }
        .json > .del{
            background-color: rgba(255,200,200,.2);
        }
        .json > .new{
            background-color: rgba(200,255,200,.2);
        }
        .json{
            border:none;
            border-left: 1px solid #000;
            padding: 10px 0;
        }
        .json > * > *{
            word-wrap: break-word;
            white-space: pre-wrap;
            font-family: monospace;
            font-size: 12px;
            box-sizing: border-box;
        }
        .json span.new {
            background-color: rgba(190,240,190,1);
        }
        .json span.ok {
            color: #000;
        }
        span.edit {
            background-color: rgba(255,200,200,1);
            //color:#fff
        }
        .json span.del {
            background-color: rgba(190,240,190,1);
        }
        .json span.seledit {
            background-color: rgba(200,200,255,1);
            padding: 0 1px;
        }
        .json span.key {
            font-weight: 900;
            color:#00f;
        }
        .json span.numb {
            color:#00f;
        }
        .json span.red {
            color:#F00;
        }
        .json.table {
        }
        button,
        .button {
            display: inline-block;
            font-weight: normal;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            white-space: nowrap;
            padding: 9px 16.5px !important;
            line-height: 1.42857143;
            border-radius: 2px;
            -webkit-user-select: none;

            color: #ffffff;
            background-color: #4da7e8;
            border-color: #369ce5;
            font-size: 13px;
            border: none;
            text-align: left;
            outline: none !important;
        }
        select {
            display: inline-block;
            font-weight: normal;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            white-space: nowrap;
            padding: 9px 16.5px!important;
            line-height: 1.42857143;
            border-radius: 2px;
            -webkit-user-select: none;

            color: #000;
            background-color: #fff;
            border:1px solid #999;
            font-size: 13px;
            text-align: left;
            outline: none !important;
        }
        button:hover {
            background-color: #2995e3;

        }
        .button.white {
            background-color: #ddd;
            color:#999;
        }
        .button.white:hover {
            background-color: #aaa;
        }
        .button.red{
            background-color: red;
        }
        .button.red:hover{
            background-color: #b33;
        }
        .spoiler,
        .spoiler:not(:checked) + *
        {
            display:none;
        }
        .dialog{
            position: fixed;
            top:50%;
            left:50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            z-index: 2;

            background-color: #f9f9f9;
            padding: 17px !important;
            border-radius: 5px;
            text-align: center;
            overflow: hidden;
            box-shadow: 0 0 200px 0 #000;
        }
        .dialog > div
        {
            margin-top: 20px;
        }
        .json .arrow > span
        {
            display: inline-block;
            background: none;
            color:forestgreen;
        }
        .arrow input
        {
            display: none;
        }
        .arrow input:not(:checked) + span:before
        {
            content:'✔';
        }
        .arrow > span:before,
        .arrow > span:after {
            font-size: 30px;
            line-height: 15px;;
            vertical-align: sub;
            background: none;
        }
        .arrow > span:after {
            content: '➔';
        }
        .arrow > span.del:after{
            font-size: 19px;
            vertical-align: baseline;
            content: '❌';
            color:#ff4c42;
        }
        .arrow > span.new:after{
            content: '➕';
            font-size: 19px;
            vertical-align: baseline;
        }
        .midlecol,
        .json.table .arrow
        {
            width:100px;
            padding: 0 !important;
            text-align: center;
        }
        .json.table .arrow {
            text-align: center;
            vertical-align: middle;
            border:1px #000;
            border-style: none solid;
        }
        .json.table > * > *
        {
            border:1px transparent;
            border-style: solid none;
            padding: 0 10px;
        }
        .json.table > *:nth-child(1n):hover > *
        {
            border-color: #000;
            background-color: #eee;
        }
        #applebut.disabled{
            opacity: 0.5;
            pointer-events: none;
        }
        .version{
            padding-right: 20px;
        }
        .version * > *{
        padding: 2px 10px;}
        .modal {
            position: fixed;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background-color: rgba(0,0,0,0.5);
            z-index: 100;

        }
    </style>
    <div>
        <div>
            <form method="post" class="table" style="height:100%;position:relative">
                <div>
                    <div class="menu">
                        <div class="table version">
                            <div>
                                <div>
                                    <select
                                            onchange="selectNext(this)"
                                            name="version1"
                                            class="form-control custom-select select2-hidden-accessible">
                                        <?= $select1 ?>
                                    </select>
                                    <label onClick="apleHider(this)">
                                        <input type="hidden" name="autoselect" value="0">
                                        <input id="autoselect" type="checkbox" name="autoselect" value="1"<?= $autoselect ? ' checked ' : '' ?>>
                                        <?= trans('igvs.courses::lang.history.command.auto_select'); ?>
                                    </label>
                                    <?php if ($version2->id == 0 && !$read): ?>
                                        <input type="checkbox" id="appleDialog" class="spoiler">
                                        <div class="modal">
                                            <div class="dialog">
                                                <?= trans('igvs.courses::lang.history.message.apply') ?>
                                                <div>
                                                    <label class="button white" for="appleDialog">Cancel</label>
                                                    <button formtarget="_parent" formaction="../versionback/<?= $version2->content_id ?>">Ok</button>
                                                </div>
                                            </div>
                                        </div>
                                    <?php endif ?>
                                </div>
                                <div class="midlecol">
                                    <?php if (!$read && !$is_trashed): ?>
                                        <label id="applebut" class="button red<?= $version2->id != 0 ? ' disabled' : '' ?>" for="appleDialog">
                                            <?= trans('igvs.courses::lang.history.command.apply') ?>
                                        </label>
                                    <?php endif ?>
                                </div>
                                <div>
                                    <select
                                            onchange="apleHider(this)"
                                            id="prevVersion"
                                            name="version2"
                                            class="form-control custom-select select2-hidden-accessible">
                                        <?= $select2 ?>
                                    </select>
                                    <button id="compbut" class="btn btn-primary" style="font-size: 30px;line-height: 18px;display:none">↺</button>
                                    <?= $version2->id == 0 ? trans('igvs.courses::lang.history.txt_field.current_version') : '' ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="height: 100%">
                        <div class="body">
                            <div class="table json">
                                <?php foreach ($fields as $name => $label): ?>
                                <div>
                                    <div><b><?= $this->str_pad($label, $fieldLength) ?>: </b>"<span<?= $version1->$name != $version2->$name ? ' class="edit"' : '' ?>><?= $version1->$name ?></span>"</div>
                                    <div class="arrow"></div>
                                    <div><b><?= $this->str_pad($label, $fieldLength) ?>: </b>"<span<?= $version1->$name != $version2->$name ? ' class="edit"' : '' ?>><?= $version2->$name ?></span>"</div>
                                </div>
                                <?php endforeach ?>
                                <?php foreach ($curr as $pos => $item): ?>
                                    <div class="<?= isset($curr[$pos]['c']) ? $curr[$pos]['t'] : '' ?>">
                                        <div><?= $item['v'] ?></div>
                                        <label class="arrow">
                                            <?php if (isset($curr[$pos]['c'])): ?>
                                                <input type="checkbox" name="diff<?= $curr[$pos]['c'] ?>" value="1">
                                                <span class="<?= $curr[$pos]['t'] ?>"></span>
                                            <?php endif ?>
                                        </label>
                                        <div><?= $prev[$pos]['v'] ?></div>
                                    </div>
                                <?php endforeach ?>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script>
            //document.getElementById('compbut').setAttribute("style","display:none");
            function selectNext(el)
            {
                if (document.getElementById('autoselect').checked) {
                    var option = document.getElementById('prevVersion').options[el.selectedIndex];
                    option.disabled = false;
                    option.selected = 'true';
                }
                document.getElementById('compbut').click();
            }
            function apleHider(el)
            {
                document.getElementById('compbut').click();
            }
        </script>
    </body>
</html>