<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('igvs/courses/types') ?>"><?= Lang::get('igvs.courses::lang.type.types') ?></a></li>
    <li><?= e($this->pageTitle) ?></li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

<div class="form-preview">
    <?= $this->formRenderPreview() ?>
</div>

<?php else: ?>

<p class="flash-message static error"><?= e($this->fatalError) ?></p>
<p><a href="<?= Backend::url('igvs/courses/types') ?>" class="btn btn-default">Return to types list</a></p>

<?php endif ?>