<?php foreach ($columns as $key => $column): ?>
    <?php if ($showSorting && $column->sortable): ?>
        <th class="list-cell-name-<?= $column->getName() ?> list-cell-type-<?= $column->type ?> <?= $this->sortColumn==$column->columnName?'sort-'.$this->sortDirection.' active':'sort-desc' ?>"
            <?php if ($column->width): ?>
            style="width: <?= $column->width ?>"
            <?php endif ?>>
            <span style="position: relative">
            <?= $this->renderScopeElement($column) ?>
            <a
                href="javascript:;"
                data-request="<?= $this->getEventHandler('onSort') ?>"
                data-stripe-load-indicator
                style="position:absolute;margin-left:6px;top:10px;bottom:10px;width:10px;z-index:1"
                data-request-data="sortColumn: '<?= $column->columnName ?>', page: <?= $pageCurrent ?>">
            </a>
            </span>
        </th>
    <?php else: ?>
        <th class="list-cell-name-<?= $column->getName() ?> list-cell-type-<?= $column->type ?>"
            <?php if ($column->width): ?>
            style="width: <?= $column->width ?>"
            <?php endif ?>>
            <span><?= $this->getHeaderValue($column) ?></span>
        </th>
    <?php endif ?>
<?php endforeach ?>