<div class="form-inline">
<?= $this->renderGroupSelect() ?>
</div>
<div class="control-list list-scrollable" data-control="listwidget">
    <table class="table data" data-control="rowlink">
        <thead>
            <?= $this->makePartial('list_head_row') ?>
        </thead>
        <tbody>
            <?php if (count($records)): ?>
                <?= $this->makePartial('list_body_rows') ?>
            <?php else: ?>
                <tr class="no-data">
                    <td colspan="<?= $columnTotal ?>" class="nolink">
                        <p class="no-data"><?= $noRecordsMessage ?></p>
                    </td>
                </tr>
            <?php endif ?>
        </tbody>
    </table>
    <?php if ($showPagination): ?>
        <div class="list-footer">
            <div class="list-pagination">
                <?= $this->makePartial('list_pagination') ?>
            </div>
        </div>
    <?php endif ?>
</div>
