<?php
    $treeLevelClass = $showTree ? 'list-tree-level-'.$treeLevel : '';
    $expanded = $showTree ? $this->isTreeNodeExpanded($record) : null;
?>
<?php if (is_array($record)): ?>
    <tr>
        <?= $this->makePartial('list_body_tree', [
            'record_key' => $record['level_key'] . '_' . $record['key'],
            'expanded' => $expanded,
            'childCount' => $record['count'],
            'treeLevel' => $treeLevel
        ]) ?>
        <td style="padding: 0 10px" colspan="<?= $columnTotal + count($this->groups) - $treeLevel - 1; ?>"><b><?= e($record['label']) . ' (' . $record['count'] . ')' ?></b></td>
    </tr>
<?php else: ?>
    <tr class="<?= $treeLevelClass ?> <?= $this->getRowClass($record) ?>" id="<?= $this->getId($record->getKey()) ?>">
        <?= $this->makePartial('list_body_row_container', [
            'expanded' => $expanded,
            'showCheckboxes' => $showCheckboxes,
            'record' => $record,
            'showTree' => $showTree,
            'columns' => $columns,
            'showSetup' => $showSetup,
            'treeLevel' => $treeLevel
        ]) ?>
    </tr>
<?php endif ?>
<?php
    if ($showTree && $expanded) {
        if (!$showTree) {
            $childRecords = null;
        }
        elseif (is_array($record)) {
            $childRecords = $this->getChildren($record);
        }
        elseif (is_numeric($showTree)) {
            $childRecords = $record->getChildren();
        }
    echo $this->makePartial('list_body_rows', ['records' => $childRecords, 'treeLevel' => $treeLevel+1]);
}