<?php if ($showCheckboxes): ?>
    <?= $this->makePartial('list_body_checkbox', ['record' => $record]) ?>
<?php endif ?>

<?php if ($showTree): ?>
    <?= $this->makePartial('list_body_tree', [
        'record_key' => $record->getKey(),
        'expanded' => $expanded,
        'childCount' => is_numeric($showTree) && $record->getChildCount(),
        'treeLevel' => $treeLevel
    ]) ?>
<?php endif ?>

<?php
    $index = 0;
    $onClick = null;
    foreach ($columns as $key => $column):
        $index++;
        $column = $this->modifyColumn($record, $column);
        $classes = [
            'list-cell-index-' . $index,
            'list-cell-name-' . $column->getName(),
            'list-cell-type-' . $column->type,
            $column->cssClass,
        ];
        if ($column->clickable) {
            $classes[] = 'nolink';

            if (!$onClick) {
                if ($this->recordOnClick) {
                    $onClick = $this->getRecordOnClick($record);
                }
                elseif ($this->recordUrl) {
                    $onClick = 'onclick="document.location.href=\'' . $this->getRecordUrl($record) . '\'"';
                }
                $onClick .= ' style="cursor:pointer"';
            }
        }
?>
    <td class="<?= implode(' ', $classes) ?>"
        data-title="<?= e(trans($column->label)) ?>"
        <?= $column->clickable ? $onClick : '' ?>>
        <?= $this->getColumnValue($record, $column) ?>
    </td>
<?php endforeach ?>

<?php if ($showSetup): ?>
    <td class="list-setup"></td>
<?php endif ?>