<?php
    if (!is_array($this->groups)) {
        $needTree = true;
        $beforeCount = 0;
    }
    else {
        $needTree = !!$childCount;
        $beforeCount = min($treeLevel + !$needTree, count($this->groups));
    }
?>
<?php if ($beforeCount > 0): ?>
<td class="tree-group-prev" colspan="<?= $beforeCount ?>"></td>
<?php endif ?>
<?php if ($needTree): ?>
<td class="list-tree tree-group">
    <a
        href="javascript:;"
        data-request="<?= $this->getEventHandler('onToggleTreeNode') ?>"
        data-stripe-load-indicator
        data-request-data="node_id: '<?= $record_key ?>', status: <?= $expanded ? 1 : 0 ?>">
        <?php if (!$childCount): ?>
            <a class="list-expand-collapse"><i class="icon-square-o"></i></a>
        <?php elseif ($expanded): ?>
            <a class="list-expand-collapse"><i class="icon-minus-square-o"></i></a>
        <?php else: ?>
            <a class="list-expand-collapse"><i class="icon-plus-square-o"></i></a>
        <?php endif ?>
    </a>
</td>
<?php endif ?>