<a class="range <?= isset($after) || isset($before) ? 'active' : '' ?> dropdown" href="javascript:;">
    <span data-toggle="dropdown" class="oc-icon-filter">
        <span class="filter-label"><?= e(trans($scope->label)) ?></span>
        <?= isset($afterStr) && isset($beforeStr) ? ':' : '' ?>
        <span class="filter-setting"><?= isset($afterStr) && isset($beforeStr) ? ($afterStr . ' → ' . $beforeStr) : '' ?></span>
    </span>
    <ul class="dropdown-menu" role="menu">
        <li role="presentation">
            <form method="post" data-request="<?= $this->getEventHandler('onFilterUpdate') ?>" id="scope-filter-<?= $scope->getId() ?>">
                <input type="hidden" name="scopeName" value="<?= $scope->columnName ?>">
                <div id="controlFilterPopover" class="control-filter-popover control-filter-date-popover --range">
                    <div class="filter-search loading-indicator-container size-input-text">
                        <div class="field-datepicker"
                            data-control="datepicker"
                            data-min-date="<?= isset($scope->config['minDate']) ? $scope->config['minDate'] : '2000-01-01 00:00:00' ?>"
                            data-max-date="<?= isset($scope->config['maxDate']) ? $scope->config['maxDate'] : '2099-12-31 00:00:00' ?>">
                            <div class="input-with-icon right-align">
                                <i class="icon icon-calendar-o"></i>
                                <input class="form-control align-right"
                                    type="text"
                                    autocomplete="off"
                                    placeholder="<?= trans('academy.cms::listfilter.before') ?>"
                                    data-datepicker>
                                <input type="hidden"
                                    name="options[dates][]"
                                    value="<?= isset($after) ? $after : null ?>"
                                    data-datetime-value>
                            </div>
                        </div>
                        <div class="field-datepicker"
                            data-control="datepicker"
                            data-min-date="<?= isset($scope->config['minDate']) ? $scope->config['minDate'] : '2000-01-01 00:00:00' ?>"
                            data-max-date="<?= isset($scope->config['maxDate']) ? $scope->config['maxDate'] : '2099-12-31 00:00:00' ?>">
                            <div class="input-with-icon right-align">
                                <i class="icon icon-calendar-o"></i>
                                <input class="form-control align-right"
                                    type="text"
                                    autocomplete="off"
                                    placeholder="<?= trans('academy.cms::listfilter.after') ?>"
                                    data-datepicker>
                                <input type="hidden"
                                    name="options[dates][]"
                                    value="<?= isset($before) ? $before : null ?>"
                                    data-datetime-value>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="control-filter-popover control-filter-date-popover --range">
                <div class="filter-buttons">
                    <button class="btn btn-block btn-primary"
                        form="scope-filter-<?= $scope->getId() ?>">
                        <?= trans('academy.cms::listfilter.filter') ?>
                    </button>
                    <button class="btn btn-block btn-secondary"
                        data-request="<?= $this->getEventHandler('onFilterUpdate') ?>"
                        data-request-data="scopeName: '<?= $scope->columnName ?>'">
                        <?= trans('academy.cms::listfilter.reset') ?>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</a>