<a class="filter-scope <?= $scope->value ? 'active' : '' ?>  oc-icon-filter"
    href="javascript:;"
    data-scope-name="<?= $scope->columnName ?>">
    <span class="filter-label"><?= $this->getHeaderValue($scope) ?></span>
    <?= $scope->value ? ':' : '' ?>
    <span class="filter-setting"><?= $scope->value ? count($scope->value) : '' ?></span>
</a>