<tr>
    <?php foreach ($columns as $key => $column): ?>
        <?php if ($showSorting && $column->sortable): ?>
            <th
                <?php if ($column->width): ?>style="width: <?= $column->width ?>"<?php endif ?>
                class="<?= $listWidget->sortColumn==$column->columnName?'sort-'.$listWidget->sortDirection.' active':'sort-desc' ?> list-cell-name-<?= $column->getName() ?> list-cell-type-<?= $column->type ?>"
                >
                <a
                    href="javascript:;"
                    data-request="onNotifierSort"
                    data-stripe-load-indicator
                    data-request-data="sortColumn: '<?= $column->columnName ?>', class: '<?= str_replace(['\\', '@'], ['\\\\', '\@'], $class) ?>', definition: '<?= str_replace(['\\', '@'], ['\\\\', '\@'], $definition) ?>'">
                    <?= $listWidget->getHeaderValue($column) ?>
                </a>
            </th>
        <?php else: ?>
            <th
                <?php if ($column->width): ?>style="width: <?= $column->width ?>"<?php endif ?>
                class="list-cell-name-<?= $column->getName() ?> list-cell-type-<?= $column->type ?>"
                >
                <span><?= $listWidget->getHeaderValue($column) ?></span>
            </th>
        <?php endif ?>
    <?php endforeach ?>
</tr>
