<?= Form::open() ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= e(trans('backend::lang.list.setup_title')) ?></h4>
    </div>
    <div class="modal-body">
        <p class="help-block before-field"><?= e(trans('backend::lang.list.setup_help')) ?></p>

        <div class="control-simplelist with-checkboxes is-sortable" data-control="simplelist">
            <ul>
                <?php foreach ($setupDefinition as $num => $setup): ?>
                    <li>
                        <div class="checkbox custom-checkbox">
                            <input
                                type="hidden"
                                name="column_order[][<?= e($setup['class']) ?>]"
                                value="<?= e($setup['definition']) ?>" />
                            <input
                                id="<?= $this->getId('setupCheckbox-'.$num) ?>"
                                name="visible_columns[<?= e($setup['class']) ?>][<?= e($setup['definition']) ?>]"
                                value="true"
                                <?= $setup['visible'] ? 'checked' : '' ?>
                                type="checkbox" />
                            <label
                                class="choice"
                                for="<?= $this->getId('setupCheckbox-'.$num) ?>">
                                    <?= e(trans($setup['title'])) ?>
                            </label>
                        </div>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-primary"
            data-request="onApplyNotifierSetup"
            data-dismiss="popup"
            data-stripe-load-indicator>
            <?= e(trans('backend::lang.form.apply')) ?>
        </button>
        <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
            <?= e(trans('backend::lang.form.cancel')) ?>
        </button>
    </div>
<?= Form::close() ?>