tr:hover .academy-lists-item-editable {
    border-bottom: dashed 1px #08c;
    color:#48c;
    display: inline-block;
    min-width: 20px;
    cursor: pointer;
    min-height: 10px;
}
.tree-group {
    position: relative;
}
table.table.data tbody tr td:first-child {
    padding: 0!important;
}
.tree-group:before {
    content: '';
    width: 24px;
    height:50%;
    position: absolute;
    border: 1px solid #000;
    border-left: none;
    border-bottom: none;
    top: 50%;
    right:50%;
}
table.table.data tbody tr.rowlink td.tree-group-prev,
table.table.data tbody tr td.tree-group-prev,
table.table.data tbody tr:not(.no-data):hover td.tree-group-prev {
    background: repeating-linear-gradient(
        to right,
        transparent,
        transparent 10px,
        #000 1px,
        #000 11px,
        transparent 1px,
        transparent 23px
    )!important;
    background-position: 10px;
    position: relative;
}
table.table.data tbody tr td.tree-group-prev:before {
    content:'';
    width: 24px;
    border-bottom: 1px solid #000;
    position: absolute;
    top:50%;
    right:-12px;
}
table.table.data tbody .no-padding,
table.table.data tbody .no-padding *{
    padding: 0;
}
.tree-group .icon-plus-square-o, 
.tree-group .icon-minus-square-o {
    background-color: #fff;
    position: relative;
}
.inline-block {
    display: inline-block;
}
.filter-setting {
    background-color: #926;
    color: #fff;
    padding: 0 4.4px;
    min-width: 12px;
    display: inline-block;
    border-radius: 3px;
}