subject = "Изменение статуса Курса"
==

<p>Здравствуйте, {{ name }}.</p>

{% if prev_status %}
<p>Статус Курса изменился с <b>{{ prev_status }}</b> на <b>{{ now_status }}</b></p>
{% else %}
<p>Статус Курса стал <b>{{ now_status }}</b></p>
{% endif %}

<p>Комментарий
{% if comment_description %}
    : "{{ comment_description|raw }}".
{% else %}
    отсутствует.
{% endif %}
</p>

<p>
    {% if all_files == 0 %}
    Сопутствующие файлы отсутствуют.
    {% elseif attached_files == all_files %}
    Все сопуствующие файлы прикреплены к письму.
    {% else %}
    Общий размер файлов больше 5 мегабайт, поэтому к письму были прикреплены только <b>{{ attached_files }}</b> из <b>{{ all_files }}</b> файлов.
    {% endif %}
</p>

<p>Курс: {{ course_title }}</p>

<p>Код курса: {{ course_code }}</p>

{% if link %}
<!--<p>Перейти к Курсу: <a target="_blank" href="{{ link }}">ссылка</a>.</p>-->
{% endif %}

<p></p>
