subject = "Добавление или изменение роли в Курсе"
==

<p>Здравствуйте, {{ name }}.</p>

{% if roles|length %}
<p>Ваша роль в Курсе стала следующей: {{ roles }}</p>
{% else %}
<p>Ваша роль в Курсе обновилась.</p>
{% endif %}

<p>Курс: {{ course_title }}</p>

<p>Код курса: {{ course_code }}</p>

{% if link %}
<!--<p>Перейти к Курсу: <a target="_blank" href="{{ link }}">ссылка</a>.</p>-->
{% endif %}

<p></p>
