.filerScopeText .pikaday {
    position: absolute;
    top: 100%;
    right: 0;
}
.filerScopeText .pikaday .pika-single {
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
}
table.table.data thead .filerScopeText .pikaday td {
    padding: 0!important;
    border: none!important;
}