<?php if (count($model->logs)) { ?>
    <?php foreach ($model->logs as $log) { ?>
            <div>
                <pre>
                    <?= $log->message ?>
                </pre>
            </div>
    <?php } ?>
<?php } else { ?>
        <div>
            No logs
        </div>
<?php } ?>