<?php

//namespace Igvs\Courses\Models;
use Igvs\Courses\Models\ModuleContent;
use Igvs\Courses\Models\Module;
use Igvs\Courses\Models\ModuleTheme;

$id = $formModel->id;
$theme_name = $formModel->theme;

$module_contents = ModuleContent::where('course_id', $id)
->orderBy('sort')
->get();

$modules_ids = $module_contents->lists('module_id');
$modules_list = $module_contents->lists('module_id', 'version');

$query_modules_cloud = '';
$modules_list_i = 1;
foreach($modules_list as $k => $v) {
    $query_modules_cloud .= ' (module_id = "' . $v . '" AND version = "' . $k . '")';

    if ($modules_list_i < count($modules_list)) {
        $query_modules_cloud .= ' OR ';
    }
    $modules_list_i++;
}

$modules_templates = Module::whereIn('id', $modules_ids)->get();
//$modules_templates = Module::whereRaw($query_modules_cloud)->get();

$modules_names = array_combine($modules_templates->lists('id'), $modules_templates->lists('name'));

$modules_themes = ModuleTheme::whereIn('module_id', $modules_templates->lists('id'))
                    ->get();

$modules_themes_accos = [];
foreach($modules_themes as $v)
{
    $modules_themes_accos[] = $v->module_id . $v->name;
}

$themes = array_unique($modules_themes->lists('name'));
$themes = array_flip($themes);
unset($themes['_default']);
$themes = array_flip($themes);


?>
<table class="module_data">
    <tr>
        <th rowspan="2"><?= Lang::get('igvs.courses::lang.default.txt_field.name') ?></th>
        <th rowspan="2"><?= Lang::get('igvs.courses::lang.module.txt_field.name') ?></th>
        <th colspan="<?= count($themes) ?>"><?= Lang::get('igvs.courses::lang.default.txt_field.themes') ?></th>
    </tr>
    <tr>
        <?php foreach ($themes as $v) { ?>
        <?php if ($v == '_default') continue; ?>
        <th class="build_name"><?= $v ?></th>
        <?php } ?>
    </tr>
    <?php foreach($module_contents as $mc_v) { ?>
            <tr class="data-row">
                <td><?= $mc_v->name ?></td>
                <td><?= $modules_names[$mc_v->module_id] ?></td>
                <?php foreach($themes as $v) { ?>
                <td class="status <?= $theme_name == $v ? 'active' : '' ?>" data-build_id="<?= $v ?>">
                    <?php if (in_array($mc_v->module_id . $v, $modules_themes_accos)) : ?>
                        <i class="icon-check-square"></i>
                    <?php endif ?>
                </td>
                <?php } ?>
            </tr>
    <?php } ?>

</table>