@font-face {
	font-family: 'PT Serif';
	src: url('ptf55f.eot');
	src: url('ptf55f.eot?#iefix') format('embedded-opentype'),
		 url('ptf55f.woff') format('woff'),
		 url('ptf55f.ttf') format('truetype'),
		 url('ptf55f.svg#pt_serifregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PT Serif';
	src: url('ptf56f.eot');
	src: url('ptf56f.eot?#iefix') format('embedded-opentype'),
		 url('ptf56f.woff') format('woff'),
		 url('ptf56f.ttf') format('truetype'),
		 url('ptf56f.svg#pt_serifitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'PT Serif';
	src: url('ptf75f.eot');
	src: url('ptf75f.eot?#iefix') format('embedded-opentype'),
		 url('ptf75f.woff') format('woff'),
		 url('ptf75f.ttf') format('truetype'),
		 url('ptf75f.svg#pt_serifbold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PT Serif';
	src: url('ptf76f.eot');
	src: url('ptf76f.eot?#iefix') format('embedded-opentype'),
		 url('ptf76f.woff') format('woff'),
		 url('ptf76f.ttf') format('truetype'),
		 url('ptf76f.svg#pt_serifbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}