<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('academy/tasks/projects') ?>"><?= Lang::get('academy.tasks::project.label') ?></a></li>
        <li><?= Lang::get('academy.tasks::user.label') ?></li>
    </ul>
<?php Block::endPut() ?>
<?= $this->listRender() ?>