#Form .form-group {
    padding: 0;
}
#Form .form-group > label {
    margin-right: 10px;
    font-style: italic;
    font-size: 14px;
    padding-top: 10px;
    color: #646464;
}
#Form .form-group > label:after {
    content: ':'!important;
    margin-left: -3px;
    font-size: 14px!important;
}
#Form .section-field h4 {
    #font-weight: 900;
    #font-size: 14px;
}
#Form .form-group.is-required > label:after {
    line-height: 20px;
    vertical-align: baseline;
    margin-left: -2px;
    display: inline-block;
}
#Form .form-group > div,
#Form .form-group > span,
#Form .form-group > input {
    overflow: hidden;
    width: auto;
}
#Form .academy-cms-widget-form-toolbar {
    top: 100%!important;
}
#Form .form-group-preview .form-control {
    background-color: transparent;
    border-color: transparent;
}
#Form .section-field {
    padding-top: 20px;
}