<style>
    .modal-body {
        min-height: 100px;
    }
</style>

<?php
    $handler = post('mode');
?>

<div id="checkUpdatesPopup">
    <?= Form::open(['id' => 'updateForm']) ?>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="popup">&times;</button>
            <h4 class="modal-title"><?= Lang::get('igvs.courses::lang.module.command.updates_modules') ?></h4>
        </div>

        <div id="updateContainer">
            <div class="modal-body">

                <div class="loading-indicator-container">
                    <p>&nbsp;</p>
                    <div class="loading-indicator transparent">
                        <div><?= e(trans('system::lang.updates.update_loading')) ?></div>
                        <span></span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup">
                    <?= e(trans('backend::lang.form.cancel')) ?>
                </button>
            </div>
        </div>

    <?= Form::close() ?>
</div>

<script>
    var htmlLoader = '';

    var updateModules = {
        check: function() {
            var $form = $('#updateForm'),
                    self = this;

            $form.request('<?= $handler ?>').done(function() {
                // self.evalConfirmedUpdates()
            });
        }
    }

    $('#checkUpdatesPopup').on('popupComplete', function() {
        htmlLoader = $('#updateContainer').html();
        updateModules.check();
    });

    $("body").on("click", "#update-apply", function() {
        $("#updateContainer").html(htmlLoader);
        console.log($(this).data().handler);
        $.request($(this).data().handler);
    });
</script>