<?php Block::put('breadcrumb') ?>
    <a download="" href="<?= Backend::url('academy/popp/popp/printdoc/' . $formModel->id) ?>" class="icon-print" style="float: right; margin: 10px; color: #fff; font-size: 21px"></a>
    <ul>
        <li><a href=".."><?= e(trans('academy.popp::popp.label')) ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>
<?= $this->makePartial('style') ?>
<?php if (!$this->fatalError):?>

    <?= Form::open(['class' => 'layout'])?>

        <div class="layout-row">
            <?= $this->formRender() ?>
            <input type="hidden" name="formSyllabuses_loaded" value="0">
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                        type="submit"
                        data-request="onSave"
                        data-hotkey="ctrl+s, cmd+s"
                        data-load-indicator="Saving Type..."
                        class="btn btn-primary">
                    <?= e(trans('backend::lang.form.save')) ?>
                </button>
                <button
                        type="button"
                        data-request="onSave"
                        data-request-data="close:1"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-load-indicator="Creating Type..."
                        class="btn btn-default">
                    <?= e(trans('backend::lang.form.save_and_close')) ?>
                </button>
                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('academy/popp/popp') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
            </div>
        </div>

<?= Form::close() ?>

<?php else: ?>

<p class="flash-message static error"><?= e($this->fatalError) ?></p>
<p><a href="<?= Backend::url('academy/popp/popp') ?>" class="btn btn-default">Return to types list</a></p>

<?php endif ?>