
/* Roboto */

@font-face {
	font-family: 'Roboto';
	src: url('roboto_regular.eot');
	src: url('roboto_regular.eot?#iefix') format('embedded-opentype'),
		 url('roboto_regular.woff') format('woff'),
		 url('roboto_regular.ttf') format('truetype'),
		 url('roboto_regular.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('roboto_italic.eot');
	src: url('roboto_italic.eot?#iefix') format('embedded-opentype'),
		 url('roboto_italic.woff') format('woff'),
		 url('roboto_italic.ttf') format('truetype'),
		 url('roboto_italic.svg#robotoitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('roboto_bold.eot');
	src: url('roboto_bold.eot?#iefix') format('embedded-opentype'),
		 url('roboto_bold.woff') format('woff'),
		 url('roboto_bold.ttf') format('truetype'),
		 url('roboto_bold.svg#robotobold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('roboto_bold_italic.eot');
	src: url('roboto_bold_italic.eot?#iefix') format('embedded-opentype'),
		 url('roboto_bold_italic.woff') format('woff'),
		 url('roboto_bold_italic.ttf') format('truetype'),
		 url('roboto_bold_italic.svg#robotobold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

/* Roboto Thin */

@font-face {
	font-family: 'Roboto Thin';
	src: url('roboto_thin.eot');
	src: url('roboto_thin.eot?#iefix') format('embedded-opentype'),
		 url('roboto_thin.woff') format('woff'),
		 url('roboto_thin.ttf') format('truetype'),
		 url('roboto_thin.svg#robotothin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Thin';
	src: url('roboto_thin_italic.eot');
	src: url('roboto_thin_italic.eot?#iefix') format('embedded-opentype'),
		 url('roboto_thin_italic.woff') format('woff'),
		 url('roboto_thin_italic.ttf') format('truetype'),
		 url('roboto_thin_italic.svg#robotothin_italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

/* Roboto Light */

@font-face {
	font-family: 'Roboto Light';
	src: url('roboto_light.eot');
	src: url('roboto_light.eot?#iefix') format('embedded-opentype'),
		 url('roboto_light.woff') format('woff'),
		 url('roboto_light.ttf') format('truetype'),
		 url('roboto_light.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Light';
	src: url('roboto_light_italic.eot');
	src: url('roboto_light_italic.eot?#iefix') format('embedded-opentype'),
		 url('roboto_light_italic.woff') format('woff'),
		 url('roboto_light_italic.ttf') format('truetype'),
		 url('roboto_light_italic.svg#robotolight_italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

/* Roboto Medium */

@font-face {
	font-family: 'Roboto Medium';
	src: url('roboto_medium.eot');
	src: url('roboto_medium.eot?#iefix') format('embedded-opentype'),
		 url('roboto_medium.woff') format('woff'),
		 url('roboto_medium.ttf') format('truetype'),
		 url('roboto_medium.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Medium';
	src: url('roboto_medium_italic.eot');
	src: url('roboto_medium_italic.eot?#iefix') format('embedded-opentype'),
		 url('roboto_medium_italic.woff') format('woff'),
		 url('roboto_medium_italic.ttf') format('truetype'),
		 url('roboto_medium_italic.svg#robotomedium_italic') format('svg');
	font-weight: normal;
	font-style: italic;
}
