<div class="nested-form <?= $this->usePanelStyles ? 'panel-styles' : '' ?>">
    <div class="form-group span-left">
        <?= $this->formWidget->render() ?>
    </div>
    <div class="form-group span-left">
        <?= $this->formWidget->render() ?>
    </div>
</div>
