<?= Form::open(['id' => 'createForm']) ?>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="popup">&times;</button>
    <h4 class="modal-title"><?= $title ?></h4>
</div>

<?php if (!$this->fatalError): ?>

<div class="modal-body">
    <?= $this->formRender() ?>
</div>
<div class="modal-footer">
    <button
            type="submit"
            data-request="onCreateModule"
            data-request-data="redirect:0"
            data-hotkey="ctrl+s"
            data-hotkey-mac="cmd+s"
            data-popup-load-indicator
            class="btn btn-primary">
        <i class="fa fa-save"></i> <?= e(trans('backend::lang.form.create')) ?>
    </button>

    <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
        <i class="fa fa-times"></i> <?= e(trans('backend::lang.form.cancel')) ?>
    </button>
</div>

<?php else: ?>

<div class="modal-body">
    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
</div>
<div class="modal-footer">
    <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
        <i class="fa fa-times"></i> <?= e(trans('backend::lang.form.close')) ?>
    </button>
</div>

<?php endif ?>

<script>
    setTimeout(
        function () {
            $('form input.form-control[type="text"]')[0].focus();
        },
        500
    );

    //$(document).ready(function(){

        $("form [name='ModuleContent[module]']").change(function() {
            $.request('onLoadVersions', {
                data: {
                    module_id: $(this).val()
                }
            })
        });

        if ($("form [name='ModuleContent[module]']").length) {
            $("form [name='ModuleContent[module]']").change();
        }

    //});
</script>

<?= Form::close() ?>
