<style>
    /* Designer */
    #designer {
        height: 100%;
    }
    #designer iframe {
        width: 100%;
        height: 100%;
    }

    #designer .designer-container {
        position: relative;
        padding: 0px 40px 0px 0px;
        height: 100%;
    }

    /* toolbar */
    #designer .designer-toolbar {
        list-style: none;
        position: absolute;
        top: 18px;
        right: 20px;
        padding: 0px;
    }

    #designer .designer-toolbar a {
        opacity: 0.7;
        filter: alpha(opacity=70);
        color: #666;
        text-decoration: none;
        font-size: 16px;
        margin-right: -20px;
    }

    #designer .designer-toolbar li {
        /*border: 1px solid black;*/
        text-align: center;
        margin-bottom: 10px;
    }

    #designer .designer-toolbar a:hover {
        opacity: 1.0;
        filter: alpha(opacity=100);
        color: #666;
        text-decoration: none;
    }
    #Form-field-ModuleContent-src-group {
        height: 100%;
    }
</style>

<div id="designer">
    <div class="designer-container">

        <ul class="designer-toolbar">
            <li>
                <a
                    data-placement="left"
                    data-toggle="tooltip"
                    title="<?= e(trans('cms::lang.editor.enter_fullscreen')) ?>"
                    id="btn-fullscreen"
                    href="javascript:;">
                    <i class="icon-desktop"></i>
                </a>
            </li>

            <li
                data-placement="left"
                data-control="mediafinder"
                data-disposable=""
                data-toggle="tooltip"
                title="<?= Lang::get('igvs.courses::lang.media.command.open') ?>">

                <a
                    class="find-button files-button"
                    href="javascript:;">
                    <i class="icon-folder-open"></i>
                </a>
            </li>

            <li
                data-placement="left"
                data-toggle="tooltip"
                title="<?= Lang::get('igvs.courses::lang.module.command.preview') ?>">
                <a href="/preview/<?= $formModel->course_id ?>#<?= $formModel->id ?>" target="_blank">
                    <i class="icon-eye"></i>
                </a>
            </li>

            <?php if (in_array($formModel->behavior, ['check', 'test'])
//                && ($this->user->isSuperUser()
//                    || $this->user->hasPermission('igvs.courses.link_to_theory_module'))
                && ($formModel->module->getIsSpecial($formModel->getModuleVersion()))): ?>
            <li
                data-placement="left"
                data-toggle="tooltip"
                title="<?= Lang::get('igvs.courses::lang.module.command.link_to_theory_module') ?>"
                data-control="popup"
                data-handler="onLinkToTheoryModuleForm"
                data-request-data="course_id: '<?= $formModel->course_id ?>'">
                <a href="#">
                    <i class="icon-link"></i>
                </a>
            </li>
            <?php endif; ?>

            <?php if ($formModel->module && $formModel->module->specification): ?>
                <li
                    data-placement="left"
                    data-toggle="tooltip"
                    title="<?= Lang::get('igvs.courses::lang.default.command.help') ?>">
                    <a href="<?= $formModel->module->specification->getPath() ?>" target="_blank">
                        <i class="icon-question-circle"></i>
                    </a>
                </li>
            <?php elseif ($this->user->hasPermission('igvs.courses.bag_method')): ?>
            <li>
                <a
                    id="btn-help"
                    data-placement="left"
                    data-toggle="tooltip"
                    title="<?= Lang::get('igvs.courses::lang.default.command.help') ?>"
                    target="_blank"
                    href="/plugins/igvs/courses/assets/other/Spravka_21.06.18.pdf"
                    style="pointer-events: auto;">
                    <i class="icon-question-circle"></i>
                </a>
            </li>
            <?php endif ?>
        </ul>

        <iframe
            id="iframe-constructor"
            webkitallowfullscreen="true"
            mozallowfullscreen="true"
            allowfullscreen="true"
            data-uiview=""
            frameborder="0"
            scrolling="no"
            src="<?= Backend::url('igvs/courses/contents/designer', ['id' => $formModel->id]) ?>?lang=<?= Config::get('app.locale'); ?>&t=<?= time() ?>">
        </iframe>

    </div>
</div>
<style>
    .control-popup.modal.fade.in
    {
        overflow-y: auto;
    }
</style>
<script>

    function launchFullScreen(element) {
        if (element.requestFullScreen) {
            element.requestFullScreen();
        } else if (element.mozRequestFullScreen) {
            element.mozRequestFullScreen();
        } else if (element.webkitRequestFullScreen) {
            element.webkitRequestFullScreen();
        }
    }

    $("#btn-fullscreen").click(function() {
        launchFullScreen(document.getElementById("iframe-constructor"));
    });
    document.addEventListener('DOMContentLoaded', function() {
        var buttonSave = document.querySelector('[data-request="onSave"]');
        var loaderExist = false;
        var div = document.createElement('div');
        div.setAttribute('class', 'loading-indicator');
        div.innerHTML = '<div>Saving module...</div><span></span>';
        var waitSaving = function(event) {
            if (window.contentLoaded && !loaderExist) {
                loaderExist = true;
                buttonSave.parentNode.insertBefore(div, buttonSave);
                setInterval(waitSaving, 200);
                if (event) {
                    event.stopPropagation();
                    event.preventDefault();
                    return false;
                }
            }
            else if (!window.contentLoaded && loaderExist) {
                div.parentNode.removeChild(div);
                buttonSave.save();
                loaderExist = false;
            }
        }
        buttonSave.addEventListener('click', waitSaving);
    });

    $('li[data-control="mediafinder"]').bind('click',function(){
        setTimeout(function() {
            $('div[data-control="media-manager"] button.btn[data-command="delete"]').bind('click', function(){
                res = '';
                $('#MediaManager-ocmediamanager-item-list tr.selected[data-type="media-item"]').each(function(indx, element){
                    res+= $(element).attr('data-title')+'; ';
                });
                if($('div.sweet-alert > div.mytext').length>0)
                    $('div.sweet-alert > div.mytext').text(res);
                else
                    $("div.sweet-alert > h2").after("<div class='mytext'>" + res + "</div>");
            });
        }, 1500);
    });
    //alert('ok');
</script>
