<style>
    .modal-body {
        min-height: 100px;
    }
</style>

<div>
    <?= Form::open(['id' => 'updateForm']) ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= Lang::get('igvs.courses::lang.module.command.link_to_theory_module') ?></h4>
    </div>

    <div>
        <div class="modal-body">

            <div class="loading-indicator-container hidden">
                <p>&nbsp;</p>
                <div class="loading-indicator transparent">
                    <div><?= e(trans('system::lang.updates.update_loading')) ?></div>
                    <span></span>
                </div>
            </div>

            <div class="layout-row">
                <div class="form-tabless-fields">
                    <div class="form-group text-field span-full" id="link-to-theory-form">
                        <select class="form-control custom-select select2-hidden-accessible" name="structure_id" data-disposable="data-disposable" tabindex="-1" aria-hidden="true">
                            <?php
                            $is_selected = false;
                            $selected = '';
                            $act_id = 0;

                            $temp_topic = '';
                            $temp_act = '';
                            $output = '';
                            ?>
                            <?php foreach ($structure as $item): ?>
                                <?php $spacer = str_repeat("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", $item['depth']); ?>
                                <?php
                                $output = '';
                                $temp_module = '';
                                $selected = '';
                                if (isset($item['id']))
                                    $act_id = $item['id'];

                                $behavior = isset($item['behavior']) ? $item['behavior'] : '';
                                $value = $item['depth'] == 2 ? $item['code'] : 0;

                                if (!$is_selected
                                    && $behavior == 'ask'
                                    //((!strlen($link_to_theory_module_form) && $act_id == $module_act) ||(
                                    && strlen($link_to_theory_module_form)
                                    && $link_to_theory_module_form == $value
                                    //))
                                    ) {
                                    $selected = 'selected';
                                    $is_selected = true;
                                }


                                $title = $spacer . $item['title'];
                                $disabled = $item['depth'] != 2 && (!isset($item['disabled']) || (isset($item['disabled']) && $item['disabled'])) ? 'disabled' : '';

                                switch ($item['depth']) {
                                    case 0:
                                        $temp_topic = "<option value='{$value}' {$disabled} {$selected}>{$title}</option>";
                                        break;

                                    case 1:
                                        $temp_act = "<option value='{$value}' {$disabled} {$selected}>{$title}</option>";
                                        break;

                                    case 2:
                                        if ($item['behavior'] == 'ask')
                                            $temp_module = "<option value='{$value}' {$disabled} {$selected}>{$title}</option>";

                                        if (strlen($temp_module)) {
                                            if (strlen($temp_topic)) {
                                                $output .= $temp_topic;
                                                $temp_topic = '';
                                            }
                                            if (strlen($temp_act)) {
                                                $output .= $temp_act;
                                                $temp_act = '';
                                            }

                                            $output .= $temp_module;
                                        }
                                        break;
                                }

                                ?>
                            <?= $output ?>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <button
                    type="button"
                    id="btn-save-link-to-theory"
                    class="btn btn-primary"
            >
                <?= Lang::get('igvs.courses::lang.default.command.save') ?>
            </button>

            <div
                    id="btn-preparation-link-to-theory"
                    class="loading-indicator size-small"
                    style="display: inline-block; position: relative; padding-bottom: 0px; padding-top: 0px;display: none;">
                <span></span>
                <div><?= Lang::get('igvs.courses::lang.default.command.preparation') ?>...</div>
            </div>

            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup">
                <?= e(trans('backend::lang.form.cancel')) ?>
            </button>

        </div>
    </div>

    <?= Form::close() ?>
</div>