<div data-control="toolbar">
    <button
        href="javascript:;"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        #data-request-confirm="Удалить выбранные записи?"
        data-request="onUpdateVersion"
        data-request-success="$el.prop('disabled', true)"
        data-stripe-load-indicator=""
        onclick="
            var result = $('.list-checkbox input[type=&quot;checkbox&quot;]', $('tbody', $('.control-list'))).map(function() {
                var $el = $(this);
                if ($el.is(':checked')) {
                    return {module_id: $el.val(), version_id: this.closest('tr').querySelector('select').value}
                }
            });
            var versions = {};
            for (var i = 0; i < result.length; i++) {
                versions[result[i].module_id] = result[i].version_id;
            }
            $(this).data('request-data', {versions: versions})"
        class="btn btn-success oc-icon-refresh">
        <?= Lang::get('igvs.courses::lang.default.command.update') ?>
    </button>
</div>
<style>
table.table.data .list-checkbox .custom-checkbox {
    left: 15px;
}
table.table.data thead .list-checkbox .custom-checkbox {
    left: -4px;
}
</style>