<style>
    .logging {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        box-sizing: border-box;
        border:none;
    }
</style>
<iframe class="logging" src="../../../logfiles/view/<?= $model->id ?>"></iframe>