<?php
    use Igvs\Courses\Models\Course;
    use Igvs\Courses\Models\Module;
    use Igvs\Courses\Models\TemplatesGroup;

    if (!$model->group) {
        $groups = $model->getGroupOptions();
        reset($groups);
        $model->group = key($groups);
    }

    $is_inclusive = 0;
    $post = post();

    if (isset($formModel->course)) {
        $is_inclusive = $formModel->course->is_inclusive;
    } elseif (isset($post['ModuleContent']) && isset($post['ModuleContent']['course_id'])) {
        $course = Course::find($post['ModuleContent']['course_id']);

        if ($course) {
            $is_inclusive = $course->is_inclusive;
        }
    }

    $templates = Module::where('group_id', $model->group)
        ->has('constructor_versions')
        ->where('is_inclusive', $is_inclusive)
        ->lists('name_ru', 'id');

    if(!$value || !isset($templates[$value])) {
        reset($templates);
        $model->module_id = $val = key($templates);
    }
    else {
        $val = $value;
    }
    $page = array_search($val, array_keys($templates));
?>
<style>
    .template-block {
        background-color: #fff;
        border: 1px solid #ddd;
        position: relative;
        overflow: hidden;
        height: 288px;
        text-align: center;
    }
    .template-block > div {
        left:100%;
        position: absolute;
        opacity: 0;
        z-index: -1;
        top: 0;
        text-align: center;
        padding: 40px 40px 0 40px;
        font-size: 1px;
        width:100%;
        bottom: 0;
    }
    .template-block > div:after {
        display: inline-block;
        width:100%;
        content:'';
    }
    .template-block > input:checked + label + div {
        z-index: 0;
        opacity: 1;
        left:0;
        //position: relative;
        //transition-duration: 0.5s;
    }
    .template-block > input,
    .template-block > div > input {
        display:none;
    }
    .template-block > label {
        display: inline-block;
        width:30px;
        height: 10px;
        background-color: #4ae;
        opacity: 0.5;
        margin-top: 250px;
        z-index: 3;
        position: relative;
        cursor: pointer;
    }
    .template-block > input:checked + label {
        opacity: 1;
    }
    .template-block > div > input + label > div {
        max-height: 133px;
        overflow: hidden;
    }
    .template-block > div > input + label {
        white-space: normal;
        vertical-align: top;
        text-align: center;
        width: 285px;
        font-size: 15px;
        min-height: 220px;
        display: inline-block;
        position: relative;
        margin: 0 3px;
    }
    .template-block > div > input + label:before {
        border-radius: 50%;
        border: 3px solid #eee;
        width:25px;
        height:25px;
        position: absolute;
        background-color: #fff;
        right: 77px;
        top: -15px;
        font-size: 22px;
        overflow: hidden;
        line-height: 19px;
        text-align: center;
        color:transparent;
        transition-duration: 0.5s;
    }
    .template-block > div > input:checked + label:before {
        color:#3a5;
    }

    .template-block > div > label > span {
        transition-duration: 0.5s;
        cursor: pointer;
    }
    .template-block > div > label:hover > span {
        box-shadow: inset 0 0 100px 0 rgba(42,128,197,0.5);
    }
    .template-block > div > label > span {

        width: 134px;
        height: 93px;
        padding: 8px;
        border: 1px solid #eee;
        display: inline-block;
        box-sizing: content-box;
        background: center no-repeat;
    }
    .template-block > div > label.nav-block {
        position: absolute;
        height: 100%;
        width: auto;
        white-space: nowrap;
        color: #aaa;
        opacity: 0;
        transition-duration: 0.5s;
        top:0;
        cursor: pointer;
    }
    .template-block:hover > div > label.nav-block {
        opacity: 1;
    }
    .template-block > div > label.nav-block:before {
        vertical-align: middle;
        display: inline-block;
        font-size: 50px
    }
    .template-block > div > label.nav-block:after {
        vertical-align: middle;
        height:100%;
        content:'';
        display: inline-block;
    }

    .prev.nav-block {
        left: 10px;
    }
    .next.nav-block {
        right: 10px;
    }

    .template-block.disabled {
        background-color: #eee;
        pointer-events: none;
    }

    .template-block.disabled .template-pages-toggle-item {
        display: none;
    }
</style>
<div class="template-block <?= $field->disabled ? 'disabled' : '' ?>">
<?php
    $n = 0;
    $c = 3;
    foreach($templates as $id => $name) {

        if($n % $c == 0) {

            if ($n > 0) {
                if (count($templates) > $c) {
                    echo '
                        <label class="prev nav-block icon-angle-left" for="'.$field->getId(floor(($n > $c ? $n-1 : count($templates)+$c-1) / $c)-1).'"></label>
                        <label class="next nav-block icon-angle-right" for="'.$field->getId(floor($n / $c)).'"></label>';
                }
                echo '</div>';
            }
            echo '
    <input
        type="radio"'.($page - ($page % $c) == $n ? '
        checked' :'' ).'
        name="'.$field->getId().'-block"
        id="'.$field->getId(floor($n / $c)).'">
    <label class="template-pages-toggle-item"
        for="'.$field->getId(floor($n / $c)).'">
    </label>
    <div>';
        }

        echo '
        <input
            id="'.$field->getId(floor($n / $c).'-'.$id).'"
            name="'.$field->getName().'"
            value="'.$id.'"'.($id == $val ? '
            checked' :'' ).'
            type="radio">
        <label
            class="icon-check-circle"
            for="'.$field->getId(floor($n / $c).'-'.$id).'">
            <span
                style="background-image:url(\'/plugins/igvs/courses/assets/images/templates/'.$id.'.png?ac=' . time() . '\')">
            </span>
                <div>'.htmlspecialchars($name).'</div>
        </label>';
        $n++;
    }
    if ($n > 0) {
        if (count($templates) > $c) {
            echo '
                <label class="prev nav-block icon-angle-left" for="'.$field->getId(floor(($n > $c ? $n-1 : count($templates)+$c-2) / $c)-1).'"></label>
                <label class="next nav-block icon-angle-right" for="'.$field->getId(0).'"></label>';
        }
        echo '</div>';
    }
?>
</div>