<style>
    .vtimes {
        display: inline-block;
        width: auto;
        overflow: auto;
        height: 100%;
        float: left;
        margin-right: 10px;
    }
    .vtimes > * {
        display: block;
        margin: 2px 0;
        width: 175px;
        max-width: 100%;
        transition-duration: 0.5s;
        text-decoration: none;
    }
    .vtimes > p
    {
        padding-top: 20px;
        text-align: center;
    }
    .vtimes1 > *:hover {
        background-color: #1e693a;
        color:#fff;
        text-decoration: none;
    }
    .versionkeeper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 5px;
        overflow: hidden;
    }
    .vkcontent {
        height: 100%;
        display: block;
        overflow: hidden;
        position: relative;
    }
    .vkcontent > iframe{
        border:none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
</style>

<div class="versionkeeper">
    <div class="vkcontent">
        <iframe id="versionkeeper" name="versionkeeper" src="../../versionKeeper/<?= $model->id ?>"></iframe>
    </div>
</div>