<?php
    $url = $model->getDesignerUrl();
?>
<?php if ($url): ?>

    <iframe
        id="iframe-designer"
        webkitallowfullscreen="true"
        mozallowfullscreen="true"
        allowfullscreen="true"
        frameborder="0"
        scrolling="no"
        src="<?= $url ?>?t=<?= time() ?>">
    </iframe>

<?php else: ?>

    <div class="flex-container">
        <div class="flex-block" style="text-transform: uppercase">
            <?= Lang::get('igvs.courses::lang.designer.message.coming_soon') ?>
        </div>
    </div>

<?php endif ?>
