<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href=".."><?= trans('igvs.courses::content.name') ?></a></li>
        <li><?= $model->code ?>: <?= $model->name ?></li>
    </ul>
<?php Block::endPut() ?>
<style>
    .fr-container {
        position: absolute;
        top:40px;
        left:0;
        right:0;
        bottom:20px;
    }
    iframe {
        border: none;
        width: 100%;
        height: 100%;
    }
</style>
<div class="fr-container"><iframe src="<?= \Backend::url('igvs/courses/contents/versionKeeper/' . $model->id) ?>"></iframe></div>