<?php
    $course = Igvs\Courses\Models\Course::find($formModel->course_id);
    $readOnly = $formModel->isReadonly();
?>

<style>
.readOnly {
    pointer-events: none;
    opacity: 0.7;
}
</style>

<?php if (!isset($this->params[1])) {
    $this->params[1] = null;
} ?>
<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout','id' => 'my_message']) ?>

        <div class="layout-row <?= $readOnly && $this->params[1] != 'comments' ? 'readOnly' : '' ?>">
            <?= $this->formRender() ?>
        </div>
        <div class="form-buttons">
            <?php if (is_null($formModel->deleted_at)): ?>
            <div class="loading-indicator-container">

                <?php if (!$readOnly): ?>
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Saving module..."
                    data-request-before-update="beforeUpdate()"
                    data-request-success="afterUpdate()"
                    class="btn btn-primary">
                    <?= Lang::get('igvs.courses::lang.default.command.save') ?>
                </button>
                <?php endif ?>

                <a
                    id="preview-module"
                    href="/preview/topic/<?= $formModel->course->getPreviewId() ?>/<?= $formModel->category->parent_id ?>#<?= $formModel->id ?>"
                    target="_blank"
                    class="btn btn-primary oc-icon-eye">
                    <?= Lang::get('igvs.courses::lang.module.command.preview') ?>
                </a>
            </div>
        <?php endif ?>
        </div>

    <?= Form::close() ?>

<script>
    $('#preview-module').hotKey({
        hotkey: 'ctrl+q, cmd+q',
        callback: function() {
            window.open('/preview/<?= $formModel->course_id ?>#<?= $formModel->id ?>');
        }
    });
</script>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('igvs/courses/' . $course->id . '/categories') ?>" class="btn btn-default">Return to modules list</a></p>

<?php endif ?>

<script>
$(document).ready(function(){
    $("form [name='ModuleContent[module]']").change(function() {
        $.request('onLoadVersions', {
            data: {
                module_id: $(this).val()
            }
        })
    })
});
</script>
<script>
    function launchFullScreen(element) {
        if (element.requestFullScreen) {
            element.requestFullScreen();
        } else if (element.mozRequestFullScreen) {
            element.mozRequestFullScreen();
        } else if (element.webkitRequestFullScreen) {
            element.webkitRequestFullScreen();
        }
    }

    function cancelFullScreen(element) {
        if (element.cancelFullScreen) {
            element.cancelFullScreen();
        } else if (element.webkitCancelFullScreen) {
            element.webkitCancelFullScreen();
        } else if (element.mozRequestFullScreen) {
            element.mozRequestFullScreen();
        } else if (element.exitFullscreen) {
            element.exitFullscreen();
        }
    }

    $(".fullscreen-enable a").click(function() {
        launchFullScreen(window.parent.document.getElementById('content'));
    });

    $(".fullscreen-disable a").click(function() {
        cancelFullScreen(window.parent.document);
    });

    function editorCancelFullScrenn() {
        $('#CodeEditor-formData-data').removeClass('editor-fullscreen');
        $(".fullscreen-disable").hide();
        $(".fullscreen-enable").show();
    }

    window.parent.window.addEventListener("mozfullscreenchange", function() {
        if (!window.parent.document.mozIsFullScreen) {
            editorCancelFullScrenn();
        }
    });
    window.parent.window.addEventListener("fullscreenchange", function() {
        if (!window.parent.document.isFullScreen) {
            editorCancelFullScrenn();
        }
    });
    window.parent.window.addEventListener("webkitfullscreenchange", function() {
        if (!window.parent.document.webkitIsFullScreen) {
            editorCancelFullScrenn();
        }
    });

    $('.editor-toolbar > ul').append('' +
            '<li data-control="mediafinder" data-disposable="">' +
            '   <a class="find-button files-button" data-original-title="<?= Lang::get('igvs.courses::lang.media.command.open') ?>" href="javascript:;" onClick="name_modification()">' +
            '       <i class="icon-folder-open"></i>' +
            '       <abbr title="no hotkey"><?= Lang::get('igvs.courses::lang.media.command.open') ?></abbr>' +
            '   </a>' +
            '</li>');
    $('.editor-toolbar').css({
        right: '30px'
    });

    function name_modification()
    {
        setTimeout(function() {
            $('div[data-control="media-manager"] button.btn[data-command="delete"]').bind('click', function(){
                res = '';
                $('#MediaManager-ocmediamanager-item-list tr.selected[data-type="media-item"]').each(function(indx, element){
                    res+= $(element).attr('data-title')+'; ';
                });
                if($('div.sweet-alert > div.mytext').length>0)
                    $('div.sweet-alert > div.mytext').text(res);
                else
                    $("div.sweet-alert > h2").after("<div class='mytext'>" + res + "</div>");
            });
        }, 1500);
    }

    function beforeUpdate(){
        if($('#CodeEditor-formData-data').length) {
            var editor = $('#CodeEditor-formData-data').codeEditor('getEditorObject'),
                    text = editor.getValue();

            try {
                JSON.parse(text);
            } catch (e) {
                try {
                    eval('var codeeditor_text = ' + text + ';');
                    text = JSON.stringify(codeeditor_text, "", 4);
                } catch (e) {
                    text = editor.getValue();
                }
            }

            editor.getSession().setValue(text);
        }
    }
    function afterUpdate(){
        var obj = $(window.parent.document).find('#tree-list .module-content.active .colontitle');
        //alert($(obj).attr('id'));
        var Code = $($(window.document).find('#Form-field-ModuleContent-code')).val();
        var Name = $($(window.document).find('#Form-field-ModuleContent-name')).val();
        //obj.innerHtml = newName;
        $(obj).html('<b>'+Code+'</b> '+Name);
    }
</script>
<style>
    .field-codeeditor .editor-toolbar > ul > li {
        float: none;
    }
    .control-tabs > div.tab-content > div.tab-pane {
        padding: 0;
    }
</style>
