<div class="modal-header">
    <button type="button" class="close" data-dismiss="popup">&times;</button>
    <h4 class="modal-title"><?= $title ?></h4>
</div>

<?php if (!$this->fatalError): ?>

    <div class="modal-body">
        <?= $this->formRenderPreview() ?>
    </div>

<?php endif ?>

<div class="modal-footer">
</div>