<?= Form::open(['id' => 'updateForm']) ?>

<input type="hidden" name="record_id" value="<?= $recordId ?>"/>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="popup">&times;</button>
    <h4 class="modal-title"><?= $title ?></h4>
</div>

<?php if (!$this->fatalError): ?>

<div class="modal-body">
    <?= $this->formRender() ?>
</div>
<div class="modal-footer">
    <button
            type="submit"
            data-request="onUpdate"
            data-request-data="redirect:0"
            data-hotkey="ctrl+s"
            data-hotkey-mac="cmd+s"
            data-popup-load-indicator
            class="btn btn-primary">
        <i class="fa fa-save"></i> <?= e(trans('backend::lang.form.save')) ?>
    </button>

    <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
        <i class="fa fa-times"></i> <?= e(trans('backend::lang.form.cancel')) ?>
    </button>
</div>

<?php else: ?>

<div class="modal-body">
    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
</div>
<div class="modal-footer">
    <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
        <i class="fa fa-times"></i> <?= e(trans('backend::lang.form.close')) ?>
    </button>
</div>

<?php endif ?>

<script>
    setTimeout(function () {
        $('#updateForm input.form-control[type="text"]')[0].focus()
    }, 500);
</script>

<?= Form::close() ?>
