img.fr-dib {
    cursor: pointer;
    border-radius: 1px;
    max-width: 100%!important;
    height: auto!important;
}
img.fr-dib:hover {
    box-shadow: 0 0 5px 0 #999
}
/*div:not(.fr-element) > p > img.fr-dib.fr-dib:active {
    box-shadow: 0 0 0 1000px #000;
    border-radius: 0;
    position: fixed;
    width: auto!important;
    height: auto!important;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    opacity: 1;
}*/
.richeditor-preview-size-huge > .form-control{
    height: 287px;
    overflow: auto;
}
.fr-box.fr-fullscreen .fr-toolbar.fr-top {
    position: relative;
}
.academy-files {
    display: inline-block;
    padding: 5px 10px;
    border:1px solid #ddd;
    background-color: #fff;
    margin-bottom: 5px;
    color: #000 !important;
}
.academy-files:before {
    margin-right: 10px;
    color: #4ae;
}
.academy-files:hover {
    color:#fff!important;
    background-color: #4ae
}
.academy-files:hover:before {
    color: #fff;
}
.modal-target:target {
    display: block;
}
.modal-max-size {
    max-width:1000px;
    max-height:500px;
}
.modal-contain {
    position: absolute;
    top:70px;
    left:20px;
    right:20px;
    bottom:20px;
}
.list-expand-collapse .icon-square-o {display: none}

.module-content td:not(.tree-group-prev) {
    position: relative;
    z-index: 1;
}
.module-content td:not(.tree-group-prev) {
    box-shadow: inset 0 0 0 1000px rgba(238,238,238,.5);
}
.module-content.behavior-practice td:not(.tree-group-prev) {
    box-shadow: inset 0 0 0 1000px rgba(187,238,255,.5);
}
.module-content.behavior-check td:not(.tree-group-prev) {
    box-shadow: inset 0 0 0 1000px rgba(238,238,85,.2);
}
.module-content.behavior-test td:not(.tree-group-prev) {
    box-shadow: inset 0 0 0 1000px rgba(85,221,136,.2);
}
.module-content.behavior-ask td:not(.tree-group-prev) {
    box-shadow: inset 0 0 0 1000px rgba(255,136,136,.15);
}
.module-content.template-player td:not(.tree-group-prev) {
    box-shadow: inset 0 0 0 1000px rgba(255,187,187,.5);
}

#updown {
    height: 9px;
    width: 14px;
    position: fixed;
    top: 40px;
    left: 44px;
    cursor: pointer;
}
#updown:before {
    color: #fff;
    font-size: 30px;
    text-shadow: 0 0 1px #000;
    opacity: 0.5;
}
#updown:hover:before {
    opacity: 1;
}
#updown.up:before {
    content: '▲';
}
#updown.down:before {
    content: '▼';
}