<div data-control="toolbar">
    <a
        href="<?= Backend::url('academy/popp/cities/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= e(trans('backend::lang.relation.add')) ?>
    </a>
    <button
        id="btn-remove"
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-confirm="<?= trans('backend::lang.list.delete_selected_confirm') ?>"
        data-request="onDelete"
        data-request-success="$el.prop('disabled', true)"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.relation.delete')) ?>
    </button>
</div>