<?php $this->layout = 'plugins/academy/system/layouts/clear' ?>
<style>
    .as-modal {
        background: center no-repeat;
        width:100%;
        height:100%;
        background-size:contain;
    }
</style>
<div class="as-modal"
    style="background-image:url('<?= Backend::url('academy/system/files/get/' . $file_id) ?>')">
</div>