{% set courses = __SELF__.data.courses %}
{% set build_courses_ids = __SELF__.data.build_courses_ids %}
{% set build_id = __SELF__.build_id %}
{% set build_name = __SELF__.build_name %}

{% partial 'Catalogue::head_panel' %}

<style>
	.no_courses_notice {
		text-align: center;
	}
</style>

<header class="catalogue_header">
	<div class="row_product">
		{% if build_courses_ids|length == 0 %}
			<div class="no_courses_notice">
				No cources selected for {{ build_name }}.
			</div>
		{% endif %}

		{% for item in courses %}
			{% if item.id in build_courses_ids %}
				{% if (item.public_status == 'published') %}
					<a href="/catalogue/{{ build_id }}/{{ item.id }}" class="catalogue_main catalogue_main--available">
						<div style="background-image: url({{ item.image.path }})" class="catalogue_main_img"></div>
						<div class="catalogue_main_heading">
							<span class="catalogue_main_heading_text">Product available now</span>
							<span class="after"></span>
						</div>
						<div class="catalogue_main_name">{{ item.title }}</div>
					</a>
				{% endif %}
				{% if (item.public_status == 'soon') %}
					<a href="/catalogue/{{ build_id }}/{{ item.id }}" class="catalogue_main">
						<div style="background-image: url({{ item.image.path }})" class="catalogue_main_img"></div>
						<div class="catalogue_main_heading">
							<span class="catalogue_main_heading_text">Coming soon</span>
							<span class="after"></span>
						</div>
						<div class="catalogue_main_name">{{ item.title }}</div>
					</a>
				{% endif %}
	        {% endif %}
		{% endfor %}
    </div>

    <div class="breakline">&nbsp;<br><br><br></div>
</header>