{% set item = __SELF__.data.item %}
{% set topics = __SELF__.data.topics %}
{% set build_id = __SELF__.build_id %}
{% set course_id = __SELF__.course_id %}
{% set topic_count = __SELF__.data.counts.topic_count %}
{% set iact_count = __SELF__.data.counts.iact_count %}
{% set ipractice_count = __SELF__.data.counts.ipractice_count %}

{% partial 'Catalogue::head_panel' %}
<div class="catalogue-item_container">
    <section class="catalogue-item_main">
        <aside class="catalogue-item_image">
           <div class="whatwedo_catalogue_element small" style="background-image: url('{{ item.image.path }}')" title="{{ item.title }}">
               <span class="whatwedo_catalogue_name">i-GVS !!!</span>
            </div>
            <a href="/preview/{{ build_id }}/{{ course_id }}" target="_blank" title="Preview" class="catalogue-item_demo">Preview</a>
            <h2 class="product_desc">current edition statistics</h2>
            <div class="product_holder">
                
				<div class="product_desc-item">
                    <div class="product_ribbon">
                        <div class="product_ribbon_text">Topic count</div>
                    </div>
                    <div class="product_content">
                        <div class="product_count">{{ topic_count }}</div>
                        <div class="product_text">Each topic equals to a unit of <br> the curriculum. 19 topics <br> cover most of the curriculum.</div>
                    </div>
                </div>
                <div class="product_desc-item">
                    <div class="product_ribbon">
                        <div class="product_ribbon_text">i-ACT count</div>
                    </div>
                    <div class="product_content">
                        <div class="product_count">{{ iact_count }}</div>
                        <div class="product_text">Each i-ACT equals to an <br> approx. 1-hour and 15<br> minutes training session.</div>
                    </div>
                </div>
                <div class="product_desc-item">
                    <div class="product_ribbon">
                        <div class="product_ribbon_text">i-Practice count</div>
                    </div>
                    <div class="product_content">
                        <div class="product_count">{{ ipractice_count }}</div>
                        <div class="product_text">Each i-Practice simulates a <br> real workshop activity and <br> has a practical and an <br> assessment module.</div>
                    </div>
                </div>
            </div>
        </aside>
        <section class="catalogue-item_main">
            <h2 class="catalogue-item_title">{{ item.title }}</h2>
            <div class="catalogue-topic-list">
                {% for item_topic in topics %}
                    {% if build_id != '' %}
                        <a href="/preview/topic/{{ build_id }}/{{ course_id }}/{{ item_topic.id }}" target="_blank">{{ item_topic.code }}</a>
                    {% else %}
                        <a href="/preview/topic/{{ course_id }}/{{ item_topic.id }}" target="_blank">{{ item_topic.code }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="catalogue-item_table">
                <div class="catalogue-item_table_item">
                    <div class="catalogue-item_table_item-left">Qualification Credit Framework level:</div>
                    <div class="catalogue-item_table_item-right">Level {{ item.level_qualification }}</div>
                </div>
				<div class="catalogue-item_table_item">
                    <div class="catalogue-item_table_item-left">Approximate guided learning hours:</div>
                    <div class="catalogue-item_table_item-right">{{ item.learning_hours }}</div>
                </div>
                <div class="catalogue-item_table_item">
                    <div class="catalogue-item_table_item-left">Launch date:</div>
                    <div class="catalogue-item_table_item-right">{{ item.launch_date | date("d M Y") }}</div>
                </div>

				
                 <div class="catalogue-item_table_item">
                    <div class="catalogue-item_table_item-left">Version number:</div>
                    <div class="catalogue-item_table_item-right">{{ item.version }}</div>
                </div>
                <div class="catalogue-item_table_item">
                    <div class="catalogue-item_table_item-left">Who is this i-GVS for?</div>
                    <div class="catalogue-item_table_item-right">{{ item.for_whom | raw }}</div>
                </div>
                <div class="catalogue-item_table_item">
                    <div class="catalogue-item_table_item-left">Support materials:</div>
                    <div class="catalogue-item_table_item-right">{{ item.support_materials | raw}}</div>
                </div>
                <div class="catalogue-item_table_item">
                    <div class="catalogue-item_table_item-left">Who does this i-GVS cover?</div>
                    <div class="catalogue-item_table_item-right"><p style="text-align: justify;">{{ item.material_covered | raw }}</p></div>
                </div>
            </div>

            <div></div>
</div>