{% set items = __SELF__.builds %}
{% set build_id = __SELF__.build_id %}

{% if build_id == '' %} 
	{% set build_id=1 %}
{% endif %}

<div style="display: inline-block;
	float: left;
	padding:15px 0;">Kits of courses</div>

<ul class="nav navbar-nav">
	{% for item in items %}
	<li class="build_selector_item{% if item.id == build_id %} active{% endif %}" data-id='{{ item.id }}'>
		<a href="javascript:;">{{ item.name }}</a>
	</li>
	{% endfor %}
</ul>

<div style="margin-top: 10px;"></div>

<script type="text/javascript">
	$(function(){
		$('.build_selector_item').click(function(){
			window.location.href = window.location.origin + '/catalogue/' + $(this).data('id');
		});
	});
</script>

<div class="clearboth"></div>