<div class="filter-scope custom-checkbox is-indeterminate  oc-icon-filter"
    style="display:inline-block"
    data-scope-name="<?= $scope->columnName ?>">
    <input type="checkbox" id="<?= $scope->getId() ?>" data-checked="<?= $scope->value ?: '0' ?>" />
    <label style="margin:0" for="<?= $scope->getId() ?>"><?= e(trans($scope->label)) ?></label>
</div>