<?php
    $fieldOptions = $field->options();
    $selectedValues = (array) $field->value;
?>
<!-- Dropdown -->
<div class="relation-dropdown">
    <select
        id="<?= $field->getId() ?>"
        name="<?= $field->getName() ?><?php if ($field->type == 'dropdown'): ?>[]<?php endif ?>"
        class="form-control custom-select"
        <?php if ($field->type == 'dropdown'): ?>multiple<?php endif ?>
        <?= $this->previewMode ? 'DISABLED' : '' ?>
        <?= $field->getAttributes() ?>>
        <?php if ($field->placeholder):
            if (is_array($field->placeholder)) {
                $placeholder = $field->placeholder[1];
                $val = $field->placeholder[0];
            }
            else {
                $placeholder = $field->placeholder;
                $val = '';
            }
        ?>
            <option value="<?= $val ?>"><?= e(trans($placeholder)) ?></option>
        <?php endif ?>
        <?php foreach ($fieldOptions as $value => $option): ?>
            <?php
                if (!is_array($option)) $option = [$option];
            ?>
            <option
                <?= in_array($value, $selectedValues) ? 'selected="selected"' : '' ?>
                <?php if (isset($option[1])): ?>data-<?=strpos($option[1],'.')?'image':'icon'?>="<?= $option[1] ?>"<?php endif ?>
                value="<?= $value ?>">
                    <?= e(trans($option[0])) ?>
            </option>
        <?php endforeach ?>
    </select>
</div>
<?php
    $selection = str_replace('\'', '\\\'', $selection);
?>
<script>
    $(document).ready(function(){
        $("#<?= $field->getId() ?>").select2({
            language : {
                errorLoading : function() {
                    return '<div class="loading-indicator size-small loadingMore"><span></span><div>Переподключение...</div></div>';
                },
//                        inputTooLong : function() {
//                            return '';
//                        },
//                        inputTooShort : function() {
//                            return '';
//                        },
                loadingMore : function() {
                    return '<div class="loading-indicator size-small loadingMore"><span></span><div>Загружается...</div></div>';
                },
//                        maximumSelected : function() {
//                            return '';
//                        },
                noResults : function() {
                    return 'Не найдено';
                },
                searching : function() {
                    return '<div class="loading-indicator size-small searching"><span></span><div>Загружается...</div></div>';
                },
            },
            ajax: {
                type : 'POST',
                dataType: 'json',
                delay: 250,
                headers : {'X-OCTOBER-REQUEST-HANDLER' : 'onDropDownAjax'},
                data: function (params) {
                    return {
                        value: params.term, // search term
                        page: params.page,
                        count: 100,
                        relation: '<?= $field->fieldName ?>',
                        name_from: '<?= $nameFrom ?>',
                        selection: '<?= $selection ?>'
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;
                    var result = JSON.parse(data.result);
                    <?php if ($field->placeholder): ?>
                        if (params.page == 1) {
                            result.items.unshift({
                                id: '<?= $val ?>',
                                text: '<?= e(trans($placeholder)) ?>'
                            })
                        }
                    <?php endif ?>
                    return {
                        results: result.items,
                        pagination: {
                            more: (params.page * 100) < result.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
            minimumInputLength: 0,
            width: null,
            templateResult:function(el){ return el.text },
            templateSelection:function(el){ return el.text }
        });
     });
</script>
