.btn-primary {
    background-color: #26af81;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #28a178;
    border-color: #197dc5;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    border-color: #28a178;
    background-color: #28a178;
}

table.table.data tbody tr.rowlink:hover td { background-color: #fffaee; }

nav#layout-mainmenu.navbar {
    background-color:#28a178;
}

.control-breadcrumb {
    background-color: rgba(40, 161, 120, .4);
}

.control-breadcrumb li {
    background-color: rgba(40, 161, 120, .5);
}

.control-breadcrumb li:first-child:after {
    border-left: 15px solid rgba(40, 161, 120, .5);
}

.control-breadcrumb li:first-child:before {
    border-left: 15px solid rgba(40, 161, 120, .5);
}

nav#layout-mainmenu.navbar ul li a span.nav-icon {
    display: none;
}

/* дата релиза */
.cms_release_date {
    color: #333 !important;
}

/* фильтры/таблиц */
.control-filter {
    background-color: #b6e5d1;
    border-top: 1px solid rgba(40, 161, 120, 0.4);
    border-bottom: 1px solid rgba(40, 161, 120, 0.4);
}

table.table.data tbody [class^="icon-"]:before,
table.table.data tbody [class*="icon-"]:before {
    color: #504e4e;
}

table.table.data .button-column a {
    color: #504e4e;
}

table.table.data .button-column a:hover {
    color: gray;
}

table.table.data tbody tr:not(.no-data) td,
table.table.data tbody tr:not(.no-data).selected td {
    background: white !important;
}

table.table.data tbody tr:not(.no-data):hover td,
table.table.data tbody tr:not(.no-data).selected td,
table.table.data tbody tr.active td {
    background: #fffaee !important;
    color: #666666 !important;
}

table.table.data tbody .button-column>a.disabled.gray,
table.table.data tbody .button-column>a.disabled.gray:before {
    color: #c7c7c7 !important;
}

p.flash-message.static.success button.close {
    color: #565b5d;
}

p.flash-message.static.success {
    color: #565b5d;
    background-color: #cdefea;
}

/*основная шапка*/
.no-shadow,
.no-shadow *,
.no-shadow:hover,
.no-shadow:hover *{
    text-shadow: none;
}
.nav.mainmenu-nav a:hover span.nav-label {
    text-decoration: underline;
    text-shadow: none;
}
.account-avatar.bag_method {
    width: 30px!important;
    height: 30px!important;
    margin: 0 10px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.sing-out {
    height: 30px;
    line-height: 30px;
    position: relative;
    left: 11px;
}
.empty-fill {
    display: inline-block;
    line-height: 60px;
    width: 30px;
    height: 60px;
}
.vertical-line-break {
    position: relative;
    display: inline-block;
    border-left: 1px solid #fff;
    height: 35px;
    line-height: 30px;
}

/* MODAL */
.modal-header {
    background-color: #28a178;
    border-top-right-radius: 0px; 
    border-top-left-radius: 0px; 
    padding: 12px 20px;
    border: none;
    margin-bottom: 17px;
}

.modal-header h4 {
    color: white;
    font-size: 17px;
    text-shadow: none;
}

.modal-header .close {
    margin-top: 2px;
    color: white;
    opacity: 1;
    font-weight: normal
}

.modal-dialog .help-block.before-field {
    color: #474747;
}

/* checkboxes */
.custom-checkbox input[type=checkbox]:indeterminate + label:before,
.custom-radio input[type=checkbox]:indeterminate + label:before,
.custom-checkbox input[type=checkbox]:checked + label:before,
.custom-radio input[type=checkbox]:checked + label:before {
    border-color: #27a077;
    background-color: #27a077;
}

/* Загрузка картинки (обводка при наведении) */
.field-fileupload.style-image-single .upload-button:focus,
.field-fileupload.style-image-single .upload-button:hover {
    border-color: #28a178 !important;
}

.field-fileupload.style-image-single .upload-button:hover .upload-button-icon:before {
    color: #28a178 !important;
}

/* custom checkbox */
.switch-field .field-switch {
    padding-left: 55px;
}

.custom-switch span {
    display: none;
}

.custom-switch input {
    cursor: pointer;
}

.custom-switch {
    height: 14px;
    margin-top: 4px;
    border-radius: 13px;
    background-color: rgba(40, 161, 120,.5);
    background-color: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    width: 36px;
}

.custom-switch .slide-button {
    position: absolute;
    top: -3px;
    right: 16px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s;
}

.custom-switch input:checked ~ .slide-button {
    right: 0;
    background-color: rgb(40, 161, 120);
}

/* контекстное меню рубрикатора */
.context-menu-item.context-menu-hover {
  background-color: rgba(40, 161, 120, .5);
}

.context-menu-icon:before {
    color: rgb(40, 161, 120);
}


@media screen and (max-width: 910px) {
    .layout > .layout-cell.layout-container,
    .layout > .layout-cell .layout-container,
    .layout > .layout-cell.padded-container,
    .layout > .layout-cell .padded-container {
        padding-top: 10px !important;;
    }

    .form-buttons {
        padding-bottom: 10px !important;;
    }
}