body {

}

.catalogue_header {
    padding-top: 75px;
}

.catalogue_header:after {
    display: table;
    clear: both
}

.catalogue_main {
    max-width: 300px;
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.catalogue_main:last-child:nth-child(3n-1)
{
    float: right;
    right: 50%;
    transform: translateX(50%);
}

.catalogue-topic-list {
    margin-bottom: 20px;
}
.catalogue-topic-list a {
    display: inline-block;
    color: #9d2063;
    margin-right: 10px;
}


.catalogue_main--available .catalogue_main_img {
    color: #9d1f60
}

.catalogue_main--available .catalogue_main_heading_text {
    background-color: #9d1f60
}

.catalogue_main--available .catalogue_main_heading .after {
    background-image: url(../img/ribbon-red.png)
}

.catalogue_main_img {
    border: 1px solid;
    padding: 29% 0;
    background: center no-repeat;
    background-size: cover;
}

.catalogue_main_name {
    text-align: center;
    color: #000;
    font-size: 18px;
    padding: 7px 10px 0
}

.catalogue_main_heading {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    padding-left: 25px
}

.catalogue_main_heading .after {
    left: -23px;
    top: -24px;
    position: absolute;
    background: url(../img/ribbon-pink.png) no-repeat;
    background-size: cover;
    width: 26px;
    height: 42px
}

.catalogue_main_heading_text {
    background-color: #bb6dad;
    height: 24px;
    padding: 0 10px;
    line-height: 24px;
    color: #fff;
    font-size: 13px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    position: absolute;
    top: -24px;
    white-space: nowrap;
    left: 2px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.catalogue_planned-title {
    font-size: 18px;
    padding: 50px 0;
    color: #9d1f60;
    text-align: center;
    position: relative
}

.catalogue_planned-title:after {
    position: absolute;
    left: 50%;
    bottom: 25px;
    background: url(../img/shadow-vertical.png) no-repeat;
    width: 21px;
    height: 162px;
    background-size: contain;
    -webkit-transform: rotate(90deg) translate(81px, 0);
    -ms-transform: rotate(90deg) translate(81px, 0);
    transform: rotate(90deg) translate(81px, 0)
}

.catalogue_planned {
    font-size: 0;
    text-align: center
}

.catalogue_planned_item {
    display: inline-block;
    margin-right: 70px;
    width: 180px;
    margin-bottom: 25px;
    min-height: 10pc;
    vertical-align: top
}

.catalogue_planned_item:last-child, .catalogue_planned_item:nth-child(4n) {
    margin-right: 0
}

.catalogue_planned_holder {
    width: 100%;
    height: 75pt;
    position: relative;
    border: 1px solid #9d1f60;
    background-color: #818181
}

.catalogue_planned_ribbon:after {
    position: absolute;
    left: -23px;
    top: -23px;
    background: url(../img/ribbon-red.png) no-repeat;
    background-size: cover;
    width: 26px;
    height: 42px
}

.catalogue_planned_ribbon_text {
    position: absolute;
    top: -24px;
    left: 2px;
    border-top-left-radius: 1px;
    background-color: #9d1f60;
    height: 24px;
    padding: 0 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.catalogue_planned_img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%
}

.catalogue_planned_title {
    padding-top: 5px;
    font-size: 18px;
    color: #000
}

.form {
   
    margin: 50px auto 0;
    border: 1px solid #9a9a9a;
    background-color: #e6e6e6;
    position: relative
}

.catalogue-item_demo, .catalogue-item_download {
    box-shadow: 0 1px 0 #676767;
    text-decoration: none;
    text-transform: uppercase;
}

.catalogue_header .breakline {
    clear: both;
}

.catalogue-item_image {
    position: absolute;
    left: 0;
    top: 65px;
    width: 260px
}

.catalogue-item_image .whatwedo_catalogue_holder {
    height: 130px;
    width: 225px
}

.catalogue-item_image .whatwedo_catalogue_holder:after {
    display: none
}

.catalogue-item_image .whatwedo_catalogue_element {
    margin: 0
}

.catalogue-item_container {
    padding: 40px 0 110px 260px;
    position: relative;
    font-family: Roboto, Arial, Verdana;
}

.catalogue-item_main {
    padding-left: 28px;
    min-height: 683px;
}

.catalogue-item_header {
    font-size: 21px;
    font-weight: 500;
    position: relative
}

.catalogue-item_header--new:after {
    content: '';
    background-image: url(../img/sprite.png);
    background-position: -141px -38px;
    width: 45px;
    height: 27px;
    position: absolute;
    right: 0;
    top: 0
}

.catalogue-item_tags {
    margin-top: 10px
}

.catalogue-item_tags:after {
    content: '';
    display: table;
    clear: both
}

.catalogue-item_tag {
    float: left;
    padding: 5px 20px;
    color: #fff;
    text-decoration: none;
    position: relative
}

.catalogue-item_tag--new {
    background-color: red
}

.catalogue-item_tag--demo {
    background-color: #2e56a7
}

.catalogue-item_tag--categories {
    background-color: #9e005d;
    padding-right: 30px
}

.catalogue-item_tag--categories:after {
    background-position: -141px -38px;
    width: 10px;
    height: 14px;
    position: absolute;
    right: 13px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.catalogue-item_tag-weight {
    float: left
}

.catalogue-item_weight {
    text-align: center;
    padding: 25px 0 15px;
    border-bottom: 4px solid #e6e6e6
}

.catalogue-item_weight_text {
    font-size: 26px
}

.catalogue-item_weight_unit {
    color: grey;
    font-size: 14px;
    font-weight: 300
}

.catalogue-item_buy {
    clear: both;
    padding: 20px 0;
    border-bottom: 1px solid #565655;
    font-size: 14px
}

.catalogue-item_buy_link {
    color: #2e56a7;
    text-decoration: underline
}

.about_header-nav, .about_nos_link:focus, .about_nos_link:hover, .catalogue-item_buy_link:focus, .catalogue-item_buy_link:hover, .catalogue-item_type, .catalogue-item_type a, .catalogue_main, .catalogue_planned_item, .contact_item_address, .contact_item_element, .demo_item, .demo_link, .demo_trial {
    text-decoration: none
}

.catalogue-item_desc {
    padding-top: 5px
}

.news--wrapper .catalogue-item_desc p {
    padding-top: 30px;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px
}

.catalogue-item_desc_section {
    padding: 7px 0;
    display: table;
    width: 100%
}

.catalogue-item_desc_content, .catalogue-item_desc_name {
    display: table-cell
}

.catalogue-item_desc_name {
    width: 28%;
    font-weight: 500
}

.catalogue-item_types {
    display: table;
    border-collapse: collapse;
    margin: 20px 0 10px
}

.catalogue-item_type {
    float: left;
    padding: 9pt 20px;
    border: 1px solid #999;
    position: relative;
    color: #999
}

.catalogue-item_type a {
    color: inherit
}

.catalogue-item_type:focus, .catalogue-item_type:hover {
    background: -webkit-linear-gradient(top, #6cd9ff 0, #29abe2 44%, #0071bc 100%);
    background: linear-gradient(to bottom, #6cd9ff 0, #29abe2 44%, #0071bc 100%);
    cursor: pointer;
    color: #01507C;
    text-shadow: 0 1px 0 #0171af
}

.catalogue-item_type:focus svg, .catalogue-item_type:hover svg {
    fill: #0071bc
}

.catalogue-item_type--categories {
    padding-right: 30px
}

.catalogue-item_categories-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%)
}

.catalogue-item_categories-icon svg {
    fill: #999
}

.catalogue-item_table_item-right li, .catalogue-item_table_item-right p {
    padding: 3px 0;
    line-height: 1.5;
}

.catalogue-item_demo,
.catalogue-item_demo:hover {
    display: block;
    width: 204px;
    height: 44px;
    margin: 0 auto;
    text-align: center;
    color: #9d1f63;
    border: 1px solid;
    font-weight: 700;
    font-size: 23px;
    line-height: 45px;
    position: relative;
    border-radius: 5px;
    margin-top: 30px;
    text-decoration: none;
}

.catalogue-item_demo.nonactive {
    color: #828282 ;
}

.catalogue-item_table--new:after, .catalogue-item_title:after {
    top: 0;
    background-position: -146px -43px;
    width: 50px;
    height: 2pc;
    background-image: url(../img/sprite.png);
    content: ''
}

.catalogue-item_table {
    border: 1px solid grey
}

.catalogue-item_table--new {
    position: relative
}

.catalogue-item_table--new:after {
    position: absolute;
    right: 0
}

.catalogue-item_title {
    color: #9e2063;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
    position: relative
}

.catalogue-item_title:after {
    position: absolute;
    right: -6px
}

.catalogue-item_table_item {
    border-bottom: 1px solid grey;
    display: table;
    width: 100%;
    min-height: 30px;
    font-size: 14px
}

.catalogue-item_table_item:last-child {
    border-bottom: 0
}

.catalogue-item_table_item-left, .catalogue-item_table_item-right {
    display: table-cell;
    height: 100%;
    
    padding: 8px
}

.catalogue-item_table_item-left {
    width: 40%;
    color: #000;
    border-right: 1px solid grey;
    background-color: #e6e6e6
}

.catalogue-item_table_item-right {
    width: 60%;
    color: #9d2063;
    line-height: 17px
}

.catalogue-item_table_item-right span {
    display: block;
    padding-bottom: 5px
}

.catalogue-item_table_list-item {
    margin-bottom: 5px;
    padding-left: 10px;
    position: relative
}

.catalogue-item_table_list-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    background-color: #9d2063;
    border-radius: 50%;
    width: 4px;
    height: 4px
}

.catalogue-item_product_title {
    color: #9d2063;
    font-size: 1pc;
    font-weight: 500;
    text-align: center;
    padding: 40px 0;
    text-transform: uppercase;
    position: relative
}

.catalogue-item_product_title:after {
    content: '';
    position: absolute;
    bottom: -115px;
    left: 50%;
    width: 2pc;
    height: 250px;
    background: url(../img/shadow-vertical.png) no-repeat;
    background-size: contain;
    -webkit-transform: rotate(90deg) translateY(10px);
    -ms-transform: rotate(90deg) translateY(10px);
    transform: rotate(90deg) translateY(10px)
}

.catalogue-item_product_desc:after {
    content: '';
    display: table;
    clear: both
}

.catalogue-item_product_desc-item {
    float: left;
    width: 170px;
    margin-right: 5pc
}

.catalogue-item_product_desc-item:last-child {
    margin-right: 0
}

.catalogue-item_product_desc-name {
    display: block;
    margin: 0 auto;
    background: #ccc;
    background: -webkit-linear-gradient(top, #fff 0, #ccc 30%, #999 100%);
    background: linear-gradient(to bottom, #fff 0, #ccc 30%, #999 100%);
    border: 1px solid grey;
    color: #000;
    font-size: 1pc;
    font-weight: 500;
    width: 150px;
    height: 2pc;
    line-height: 2pc;
    text-align: center;
    box-shadow: 0 1px 0 #fff;
    position: relative
}

.catalogue-item_product_desc-name:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 150px;
    bottom: -91px;
    left: 50%;
    background: url(../img/shadow-vertical.png) no-repeat;
    background-size: contain;
    -webkit-transform: rotate(90deg) translateY(9pt);
    -ms-transform: rotate(90deg) translateY(9pt);
    transform: rotate(90deg) translateY(9pt)
}

.catalogue-item_product_count {
    display: block;
    margin: 24px auto 17px;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    background-color: #9e1f63;
    border-radius: 50%;
    border-top: 4px solid #720d4c;
    border-bottom: 4px solid #720d4c;
    width: 82px;
    height: 82px;
    text-align: center;
    line-height: 74px
}

.catalogue-item_product_text {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    line-height: 18px
}

.catalogue-item_download-call {
    padding: 20px 0;
    font-size: 14px
}

.catalogue-item_download-call_name {
    font-weight: 700
}

.catalogue-item_download {
    display: block;
    width: 204px;
    height: 44px;
    margin: 0 auto;
    text-align: center;
    color: #9d1f63;
    border: 1px solid;
    font-weight: 700;
    font-size: 23px;
    line-height: 45px;
    padding-right: 34px;
    position: relative;
    border-radius: 5px
}

.catalogue-item_download_icon {
    line-height: 0;
    position: absolute;
    right: 13px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.catalogue-item_nav {
    position: relative;
    margin-top: 40px;
    text-align: right
}

.catalogue-item_nav:after {
    content: '';
    display: table;
    clear: both
}

.catalogue-item_nav_align, .catalogue-item_nav_button_icon {
    display: inline-block
}

.catalogue-item_nav_button {
    position: relative;
    margin-right: 20px;
    float: left
}

.catalogue-item_nav_button--prev .catalogue-item_nav_button_icon {
    background-image: url(../img/sprite.png);
    background-position: -146px -5pc;
    width: 11px;
    height: 9px;
    margin-right: 5px
}

.catalogue-item_nav_button--next {
    margin-right: 0
}

.catalogue-item_nav_button--next .catalogue-item_nav_button_icon {
    background-image: url(../img/sprite.png);
    background-position: -201px -62px;
    width: 11px;
    height: 9px;
    margin-left: 5px
}

.product_desc {
    font-size: 18px;
    color: #818181;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0 0;
    line-height: 1.4em;
    position: relative;
}

.product_desc:after {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 226px;
    background: url(../img/shadow-vertical.png) no-repeat;
    background-size: contain;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.product_holder {
}

.product_desc-item {
    width: 157px;
    height: 126px;
    border: 1px solid #9d1f60;
    margin: 25px auto 0;
    border-radius: 7px;
    position: relative
}

.product_content:before, .product_ribbon:after, .product_ribbon:before {
    content: '';
    border-style: solid
}

.product_ribbon:after {
    height: 0;
    width: 0;
    border-width: 0 18px 18px 0;
    border-color: transparent #721746 transparent transparent;
    position: absolute;
    left: -17px
}

.product_ribbon:before {
    height: 0;
    width: 0;
    border-width: 0 0 24px 24px;
    border-color: transparent transparent #9d1f60;
    position: absolute;
    left: -17px;
    top: -15px
}

.product_ribbon:after {
    top: 9px
}

.product_ribbon_text {
    position: absolute;
    left: 7px;
    border-top-left-radius: 1px;
    background-color: #9d1f60;
    height: 24px;
    padding: 0 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: 24px;
    color: #fff;
    top: -15px
}

.product_content {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%
}

.product_content:before {
    position: absolute;
    left: 0;
    top: 75%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 0;
    width: 0;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #9d1f60
}

.product_count, .product_text {
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    line-height: 58px;
}

.product_count {
    font-size: 58px;
    font-weight: 700;
    color: #818181;
    text-shadow: 0 -1px 0 #555
}

.product_text {
    font-size: 10px;
    line-height: 1.2em;
    padding: 0 0 5px;
    margin: 0 auto;
    color: #9d1f60
}

.whatwedo {
    padding-top: 50px
}

.whatwedo_header {
    margin-left: 260px;
    float: left;
    position: relative
}

.whatwedo_header:after {
    display: table;
    clear: both
}

.whatwedo_header--single {
    margin-left: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.whatwedo_header-nav {
    float: left;
    padding: 15px 30px;
    font-size: 21px;
    color: grey;
    text-decoration: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: color;
    -webkit-transition: color .4s;
    transition: color .4s
}

.whatwedo_header-nav.tab-active {
    color: #9e1f63
}

.whatwedo_scroll {
    width: 100%;
    height: 4px;
    clear: both;
    background-color: #e6e6e6;
    position: relative
}

.whatwedo_scroll_element {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #9e1f63;
    will-change: width;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.whatwedo_tab {
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    padding-left: 260px;
    will-change: opacity
}

.whatwedo_tabs {
    padding-top: 40px;
    clear: both;
    overflow: hidden;
    position: relative
}

.catalogue-item_container:before, .whatwedo_tabs:before {
    content: '';
    position: absolute;
    left: 15pc;
    top: 50px;
    width: 22px;
    height: 10pc;
    background: url(../img/shadow-vertical.png) no-repeat;
    background-size: contain;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.whatwedo_sidebar {
    width: 260px;
    height: 100%;
    position: absolute;
    left: 0;
    padding-top: 30px
}

.whatwedo_link {
    display: inline-block;
    position: relative;
    padding: 5px 0 5px 20px;
    color: #000;
    text-decoration: none;
    font-size: 1pc;
    font-weight: 300;
    line-height: 20px;
    will-change: color
}

.whatwedo_link:before {
    position: absolute;
    top: 9pt;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #9e1f63
}

.whatwedo_layout, .whatwedo_layout-3 {
    position: relative
}

.whatwedo_link:focus, .whatwedo_link:hover, .whatwedo_link[data-tab-switcher-active] {
    color: #9e1f63
}

.whatwedo_content {
    padding: 0 0 0 30px !important
}

.whatwedo_content_title {
    font-size: 21px;
    padding-bottom: 10px
}

.whatwedo_content_text {
    padding-bottom: 34px;
    font-size: 18px
}

.whatwedo_content_a, .whatwedo_content_q {
    display: block
}

.whatwedo_layout-3_header:after, .whatwedo_layout:after {
    display: table;
    content: '';
    clear: both
}

.whatwedo_content_q {
    padding-bottom: 5px
}

.whatwedo_content_a {
    font-weight: 300
}

.whatwedo_layout-3_header {
    width: 740px;
    padding: 0 20px 50px;
    margin: 0 auto
}

.whatwedo_layout-3_header .whatwedo_catalogue_element:first-child {
    float: left
}

.whatwedo_layout-3_header .whatwedo_catalogue_element:last-child {
    float: right
}

.whatwedo_layout-3_main .whatwedo_catalogue_element {
    margin: 0 auto;
    float: none
}

.whatwedo_layout {
    padding: 77px 0 110px
}

.whatwedo_catalogue_name {
    position: absolute;
    z-index: 1;
    color: #fff;
    left: 5px;
    top: -18px;
    font-size: 9pt
}

.whatwedo_catalogue_element {
    max-height: 210px;
    max-width: 300px;
    width: 300px;
    position: relative;
    display: block;
    text-decoration: none;
}

.whatwedo_catalogue_element:before {
    content: '';
    position: absolute;
    left: -19px;
    top: -23px;
    width: 74px;
    height: 35px;
    background: url(../img/button-ribbon-long.png) no-repeat;
    background-size: contain
}

.about_nos_link:after, .catalogue-item_tag--categories:after {
    background-image: url(../img/sprite.png);
    content: ""
}

.whatwedo_catalogue_element.small {
    max-width: 100%;
    background: no-repeat center;
    background-size: cover;
    border: 1px solid #9e1f63;
}
.whatwedo_catalogue_element.small:after
{
    content:'';
    display: block;
    padding: 29%;
}

.whatwedo_catalogue_element--small:nth-child(3n) {
    margin-right: 0
}

.whatwedo_catalogue_holder {
    height: 180px;
    overflow: hidden;
    border: 1px solid #9e1f63;
    position: relative
}

.whatwedo_catalogue_holder:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    will-change: background-color;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.whatwedo_catalogue_holder:focus:after, .whatwedo_catalogue_holder:hover:after {
    background-color: transparent
}

.whatwedo_catalogue_image {
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    object-fit: cover
}

.whatwedo_catalogue_bigimage {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0
}

.whatwedo_catalogue_fullname {
    display: block;
    font-size: 18px;
    text-decoration: none;
    padding: 15px;
    color: #1d1d1b;
    text-align: center
}

.whatwedo_catalogue_more {
    position: absolute;
    right: 0;
    bottom: 50px
}
.row_product
{
    text-align: justify;
}
.row_product:after {
    content:'';
    display: inline-block;
    width: 100%;
}
.row_product > a {
    margin:20px 0;
}

.nav.navbar-nav li.active:hover a,
.nav.navbar-nav li.active a {
    color: red !important;
}

.clearboth {
    clear: both;
}
@media all and (max-width:650px){
.catalogue_main{
    max-width:100%
}
}