.btn-primary.btn.btn-sm.oc-icon-bars.empty + ul > li:first-child a {

    border-radius: 3px 3px 0 0;
    padding-top: 8px;
}
.btn-primary.btn.btn-sm.oc-icon-bars.empty + ul > li:last-child a {

    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-bottom: 8px;
}
.btn-primary.btn.btn-sm.oc-icon-bars.empty + ul > li a {

    width:100%;
    margin: -1px 0;
    border-radius: 0;
    padding: 5px 16.5px;
}
.btn-primary.btn.btn-sm.oc-icon-bars.empty + ul > li > *{
    width:100%;
}

/* ====== */

.cms_release_date {
    color: lightgray;
    text-align: right;
    float: right;
    margin-right: 20px;
    height:45px;
}
.cms_release_date > * {
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
}
.cms_release_date:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#layout-body .control-breadcrumb ul {
    display: table;
}
#layout-body .control-breadcrumb ul li {
    display: table-cell;
    vertical-align: top;
}

/* temp link */
.temp-link-open-popoup-btn {
    padding: 8px 6px;
    margin-left: -11px;
    border-radius: 0 3px 3px 0;
}
.temp-link-open-popoup-btn:after {
    display: none;
}
.popover-body {
    min-width: 350px;
}
.temp-link-item td {
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.temp-link-item:hover td.content {
    color: #001721;
    text-decoration: underline;
}
.temp-link-delete {
    visibility: hidden;
    color: red;
}
.temp-link-item:hover .temp-link-delete {
    visibility: visible;
}
.temp-link-delete:hover {
    cursor: pointer;
    text-decoration: underline;
}
.temp-link-create-first {
    cursor: pointer;
    color: darkblue;
    border-bottom: 1px dashed;
}
.temp-link-create-first:hover {
    color: #001721;
}
.temp-link-fast-date {
    cursor: pointer;
    color: blue;
    border-bottom: 1px dashed;
}
.create-temp-link-form label {
    font-weight: bold;
}
.create-temp-link-form ul {
    display: inline-block;
}

.temp_link_history_container a:visited {
    color: #0181b9;
}
.temp_link_history_container table th,
.temp_link_history_container table td {
    padding: 0 5px;
}


/* разница структуры, отображается после нажатия "Опубликовать" в курсе */
.structure-header {
    padding-bottom: 15px;
}
.structure-header .legend {
    text-align: center
}
.structure-header .legend .structure {
    display: inline-block;
    margin-right: 20px;
}
#structure_diff {
    padding-left: 25px;
}
.depth_1 {
    margin-left: 30px;
}
.depth_2 {
    margin-left: 60px;
}
.structure.new:before,
.structure.changed_name:before,
.structure.changed_code:before,
.structure.changed_content:before,
.structure.changed_order:before,
.structure.delete:before {
    display: inline-block;
    content: ' ';
    border: 1px solid #000;
    position: absolute;
    margin-left: -13px;
    margin-top: 5px;
    height: 10px;
    width: 10px;
    border-radius: 3px;
}
.structure-changed-name-after {
    display: inline;
    margin-left: 7px;
    color: orange;
}
.structure.new:before {
    background: green;
}
.structure.delete:before {
    background: red;
}
.structure.delete {
    text-decoration:line-through;
}
.structure.changed_name:before,
.structure.changed_code:before,
.structure.changed_content:before,
.structure.changed_order:before {
    background: orange;
}
.structure-error {
    padding: 10px;
    border: 1px solid darkred;
    color: red;
}
#course-structure-diff .structure-body {
    padding: 15px;
}
