table.count_question {
    width: 100%;
    overflow: hidden;
}
table.count_question th,
table.count_question td {
    padding: 2px 5px;
}
table.count_question th,
table.count_question td {
    position: relative;
    text-align: center;
}
table.count_question th:hover::before,
table.count_question td:hover::before {
    content: '';
    background: #d6d6d6;/*#d5e6a2;*/
    position: absolute;
    height: 2000px;
    width: 100%;
    left: 0;
    top: -1000px;
    z-index: -1;
}
table.count_question th.text-left,
table.count_question td.text-left {
    text-align: left;
}

table.count_question tr:hover td {
    background: #d6d6d6;
}
table.count_question tr:nth-child(1):hover td {
    background: none;
}
