table.module_data {

}
table.module_data th,
table.module_data td {
    padding: 2px 5px;
}
table.module_data th,
table.module_data td.status {
    text-align: center;
}
table.module_data tr.data-row:nth-child(even) {
    background: lavender;
}
table.module_data tr.data-row:hover {
    background: rgba(211, 211, 211, 0.8);
}
table.module_data .build_name {
    min-width: 70px;
}
table.module_data .status.active {
    background: rgba(230, 169, 93, 0.5);
}
table.module_data .status.hover {
    background: rgba(211, 211, 211, 0.8);
}
.form-group.checkbox-field {
	height:30px;
}