.control-filter-popover .filter-active-items a:before {
    color:#f00;
}
.control-filter-popover .filter-items a:before {
    color:#00f;
}

.control-filter-popover .filter-search .close {
    position: absolute;
    right: 8px;
    font-size: 37px;
    color: #000;
    z-index: 1;
    display: block;
}
.control-filter-popover .filter-search .form-control.icon.search{
    background: none;
}
.spec_btn:first-child {
    margin-left: 0;
}
.spec_btn {
    font-size: 12px;
    text-align: center;
    max-width: 100%;
    width: 90px;
    white-space: normal;
    height: auto;
    vertical-align: top;
    margin: 0 20px 5px 0;
}
.spec_btn:before {
    display: block;
}

.spec_btn:after {
    content: '';
    width: 1px;
    height: 100%;
    display: block;
    background-color: #999;
    position: absolute;
    top: 0;
    margin-left: -10px;
}
.button-column {
    position: relative;
    white-space: nowrap;
}
.spec_btn:first-child:after {
    display:none;
}
.spec_btn:last-child {
    margin-right: 0;
}
.spec_btn:hover,
.spec_btn:focus {
    color:#000;
}