/* Progress-bar */
.cp-progress-wrap {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(128,128,128,0.4);
    z-index: 1000;
}

.cp-progress-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 290px auto;
}

.cp-progress-text {
    position: absolute;
    bottom: -55px;
    left: 0;
    right: 0;
    text-align: center;
}

.cp-progress-title {
    color: gray;
    font-weight: bold;
}

.cp-progress-comment {
    color: gray;
    font-weight: normal;
}