.flex-container {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.flex-block {
    align-self: center;
    font-size: 25px;
}

#iframe-designer {
    width: 100%;
    height: 100%;
}