.layout-canvas .layout {
    width: 100%;
    min-width: 588px;
    min-height: 100%;
}
.expertise-footer-container {
    display: block!important;
}
.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(50, 105, 80);
    margin: 0;
}
.header .wrapper {
    width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: rgb(50, 105, 80);
}
.header .wrapper .logotypes {
    width: 100%;
    min-height: 60px;
    background-size: 100px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.3;
    position: relative;
    color: white;
    padding: 0px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

@media screen and (max-height: 910px) {
    .header .wrapper .logotypes {
        font-size: 15px;
    }

    .logotypes_headline {
        padding: 0 10px;
    }
}

.header .wrapper .logotypes:before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 1px;
    height: 70%;
    background-color: white;
    margin: auto;
}
.header .wrapper .logotypes_headline {
    width: 50%;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 100px;
}
.header .wrapper .logotypes_headline .logotype {
    max-height: 43px;
    max-width: 80px;
    margin-right: 20px;
}
.header .wrapper .wrapper-login-place {
    width: 100%;
    min-height: 60px;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    color: black;
    background-color: rgb(166, 214, 124);
    position: relative;
}
.header .wrapper .wrapper-login-place:before {
    content: "";
    width: 1px;
    height: 70%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    margin: auto;
}
.header .wrapper .wrapper-login-place .name-box_column {
    display: -webkit-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.header .wrapper .wrapper-login-place .name-box_item {
    display: block;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    padding: 0 100px;
    text-decoration: none;
}
.header .wrapper .wrapper-login-place .login {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
}
.header .wrapper .wrapper-login-place .name-box_item_user {
    display: block;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
    color: #fff;
    padding: 0px 100px;
    text-decoration: none;
}

.location {
    min-height: 34px;
    background: rgb(222, 222, 221);
    padding: 0 !important;
}
.location .wrapper {
    width: 100%;
    position: relative;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 10px 0 100px;
}
.location .wrapper .crumb_wrap {
    width: calc(100% - 260px);
    position: relative;
}
.location .wrapper .crumb_wrap .location_link {
    display: inline-block;
    font-size: 13px;
    position: relative;
    color: rgb(33, 33, 33);
    text-decoration: underline;
    vertical-align: middle;
}
.location .wrapper .crumb_wrap .location_link span {
    color: rgb(33, 33, 33);
    padding: 0px 12px;
}
.location .wrapper .location_link:first-of-type {
    width: 30px;
    height: 25px;
    margin-right: 12px;
    background-image: url(../images/expertise_sprite_header.png);
    background-position: -120px 0;
}
.location .wrapper .location_link:last-of-type {
    text-decoration: none;
}
.location .wrapper .location_link i {
    display: inline-block;
    width: 9px;
    height: 10px;
    background-image: url(../images/expertise_sprite_header.png);
    background-position: -160px 0;
}
.location .wrapper .header_icons {
    display: flex;
    justify-content: center;
    right: 50px;
    top: 0;
    width: 260px;
    height: inherit;
}
.location .wrapper .header_icons .icon {
    display: flex;
    min-height: 34px;
    align-items: center;
    padding: 0px 12px;
    border-left: 1px solid rgb(0, 0, 0);
}
.location .wrapper .header_icons .icon:last-of-type {
    border-right: 1px solid #000;
}
.location .wrapper .header_icons .icon a {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../images/expertise_sprite_header.png);
    background-repeat: no-repeat;
}
.location .wrapper .header_icons .icon a.env {
    background-position: -43px -30px;
}
.location .wrapper .header_icons .icon a.calendar {
    background-position: 0 0;
}
.location .wrapper .header_icons .icon a.help {
    background-position: -89px -30px;
}
.location .wrapper .header_icons .icon a.profile {
    background-position: -135px -31px;
}
.location .wrapper .header_icons .icon a.exit {
    background-position: -41px 0;
}

.btn-primary {
    background-color: rgb(50, 105, 80);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: rgb(50, 105, 80);
    border-color: rgb(50, 105, 80);
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    border-color: rgb(50, 105, 80);
    background-color: rgb(50, 105, 80);
}

table.table.data tbody tr.rowlink:hover td { background-color: #fffaee; }

nav#layout-mainmenu.navbar {
    background-color:rgb(50, 105, 80);
}
table.table.data tbody [class^="icon-"]:before,
table.table.data tbody [class*="icon-"]:before {
    color: #504e4e;
}

table.table.data .button-column a {
    color: #504e4e;
}
.modal-header {
    background-color: rgb(50, 105, 80);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 12px 20px;
    border: none;
    margin-bottom: 17px;
}
.custom-checkbox input[type=checkbox]:indeterminate + label:before,
.custom-radio input[type=checkbox]:indeterminate + label:before,
.custom-checkbox input[type=checkbox]:checked + label:before,
.custom-radio input[type=checkbox]:checked + label:before {
    border-color: rgb(50, 105, 80);
    background-color: rgb(50, 105, 80);
}

/* Загрузка картинки (обводка при наведении) */
.field-fileupload.style-image-single .upload-button:focus,
.field-fileupload.style-image-single .upload-button:hover {
    border-color: rgb(50, 105, 80) !important;
}

.field-fileupload.style-image-single .upload-button:hover .upload-button-icon:before {
    color: rgb(50, 105, 80) !important;
}

.control-breadcrumb {
    background-color: rgba(166, 214, 124, .4);
}
.control-breadcrumb li {
    background-color: rgba(166, 214, 124, .5);
}
.control-breadcrumb li:first-child:after {
    border-left: 15px solid rgba(166, 214, 124, .5);
}
.control-breadcrumb li:first-child:before {
    border-left: 15px solid rgba(166, 214, 124, .5);
}
.control-filter {
    background-color: rgba(166, 214, 124,.5);
    border-top: 1px solid rgba(166, 214, 124, 0.4);
    border-bottom: 1px solid rgba(166, 214, 124, 0.4);
}
.custom-switch {
    height: 14px;
    margin-top: 4px;
    border-radius: 13px;
    background-color: rgba(166, 214, 124,.5);
    background-color: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    width: 36px;
}
.context-menu-item.context-menu-hover {
    background-color: rgba(166, 214, 124, .5);;
}

[class*="btn-"][class*="oc-icon-"]:not(.spec_btn):not(.status-command) {
    background-color: #fff;
    border: 1px solid rgb(50, 105, 80);
}

.btn[class*="oc-icon-"][class^="btn-"]:not(.btn-icon):before,
.btn[class*=" oc-icon-"][class*="btn-"]:not(.btn-icon):before,
.btn[class*="oc-icon-"][class^="btn-"]:not(.btn-icon):before,
.btn[class^=" oc-icon-"][class*="btn-"]:not(.btn-icon):before {
    color: rgb(50, 105, 80);
}

.btn[class*="oc-icon-"][class^="btn-"]:not(.btn-icon):after,
.btn[class*=" oc-icon-"][class*="btn-"]:not(.btn-icon):after,
.btn[class*="oc-icon-"][class^="btn-"]:not(.btn-icon):after,
.btn[class^=" oc-icon-"][class*="btn-"]:not(.btn-icon):after {
    background-color: rgb(50, 105, 80);
    border: 1px solid rgb(50, 105, 80);
    top: 0;
    right: 0;
    bottom: 0;
}

.btn[class*="oc-icon-"][class*="btn-"]:not(.btn-icon),
.btn[class*="oc-icon-"][class*="btn-"]:not(.btn-icon) {
    color: #fff;
}
.status-command {
    border: 1px solid #fff;
}
.status-command:before {
    color: #fff!important;
}
.status-command:hover {
    color: rgb(50, 105, 80)!important;
}

.btn-primary[class*="oc-icon-"]:hover,
.btn-primary[class*="oc-icon-"]:focus,
.btn-primary[class*="oc-icon-"]:active,
.open .dropdown-toggle.btn-primary[class*="oc-icon-"] {
    background-color: #fff;
}

.btn-warning:after {
    background-color: #f0ad4e!important;
    border-color: #eea236!important;
}

.showtl:after {
    color: rgb(50, 105, 80);
}
.all_content {
    top: 55px!important;
}
.dropdown-menu {

}

.context-menu-icon:before {
    color: rgb(50, 105, 80);
}

/* footer */
.footer {
    width: 100%;
    min-width: 588px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: #333;
}
.footer .contacts_wrapper {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer .contacts {
    width: 90%;
    max-width: 940px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 65px;
    height: auto;
    margin: 0;
    padding: 0;
}
.footer .contacts .call, .footer .contacts .mail, .footer .contacts .skype {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 15px;
}
.footer .contacts .icons {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #fff;
}
.footer .contacts .icons svg {
    width: 30px;
    height: 30px;
    fill: #333;
}
.footer .contacts a {
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}
.footer .rights {
    height: 65px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    order: 1;
}
.footer .rights p {
    font-size: 13px;
    color: #fff;
    margin: 0;
}

.flash-message.success {
    background: rgb(166, 214, 124);
}

@media screen and (max-width: 1270px) {
    .footer .contacts {
        padding-top: 10px!important;
    }
}

@media screen and (max-height: 910px) {
    .header .wrapper .logotypes {
        font-size: 15px!important;
    }

    .logotypes_headline {
        padding: 0 10px!important;
    }

    .header .wrapper .wrapper-login-place .name-box_item {
        padding: 0 10px!important;
    }

    .header .wrapper .wrapper-login-place .name-box_item_user {
        padding: 0 10px!important;
    }
}

@media screen and (max-height: 910px) {
    .footer .contacts {
        min-height: 40px!important;
    }
    .footer .rights {
        height: 40px!important;
    }
}


@media screen and (max-width: 910px) {
    .layout > .layout-cell.layout-container,
    .layout > .layout-cell .layout-container,
    .layout > .layout-cell.padded-container,
    .layout > .layout-cell .padded-container{padding-top:10px!important;}

    .form-buttons {padding-bottom: 10px!important;}
}

div[data-control="media-manager"] .control-scrollpad {
    min-height: 70px!important;
}
.field-datepicker input {
    text-align: left!important;
}
