.header {
    background-color: rgb(35, 31, 114);
}
.header .wrapper {
    background-color: rgb(35, 31, 114);
}
.header .wrapper .wrapper-login-place {
    background-color: #4762B2;
}
.btn-primary {
    background-color: rgb(35, 31, 114);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: rgb(35, 31, 114);
    border-color: rgb(35, 31, 114);
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    border-color: rgb(35, 31, 114);
    background-color: rgb(35, 31, 114);
}

nav#layout-mainmenu.navbar {
    background-color:rgb(35, 31, 114);
}

.modal-header {
    background-color: rgb(35, 31, 114);
}
.custom-checkbox input[type=checkbox]:indeterminate + label:before,
.custom-radio input[type=checkbox]:indeterminate + label:before,
.custom-checkbox input[type=checkbox]:checked + label:before,
.custom-radio input[type=checkbox]:checked + label:before {
    border-color: rgb(35, 31, 114);
    background-color: rgb(35, 31, 114);
}

/* Загрузка картинки (обводка при наведении) */
.field-fileupload.style-image-single .upload-button:focus,
.field-fileupload.style-image-single .upload-button:hover {
    border-color: rgb(35, 31, 114) !important;
}

.field-fileupload.style-image-single .upload-button:hover .upload-button-icon:before {
    color: rgb(35, 31, 114) !important;
}

.control-breadcrumb {
    background-color: rgba(176, 207, 239, .4);
}
.control-breadcrumb li {
    background-color: rgba(176, 207, 239, .5);
}
.control-breadcrumb li:first-child:after {
    border-left: 15px solid rgba(176, 207, 239, .5);
}
.control-breadcrumb li:first-child:before {
    border-left: 15px solid rgba(176, 207, 239, .5);
}
.control-filter {
    background-color: rgba(176, 207, 239,.5);
    border-top: 1px solid rgba(176, 207, 239, 0.4);
    border-bottom: 1px solid rgba(176, 207, 239, 0.4);
}
.custom-switch {
    background-color: rgba(176, 207, 239,.5);
}
.context-menu-item.context-menu-hover {
    background-color: rgba(176, 207, 239, .5);;
}

[class*="btn-"][class*="oc-icon-"]:not(.spec_btn):not(.status-command) {
    background-color: #fff;
    border: 1px solid rgb(35, 31, 114);
}

.btn[class*="oc-icon-"][class^="btn-"]:not(.btn-icon):before,
.btn[class*=" oc-icon-"][class*="btn-"]:not(.btn-icon):before,
.btn[class*="oc-icon-"][class^="btn-"]:not(.btn-icon):before,
.btn[class^=" oc-icon-"][class*="btn-"]:not(.btn-icon):before {
    color: rgb(35, 31, 114);
}

.btn[class*="oc-icon-"][class^="btn-"]:not(.btn-icon):after,
.btn[class*=" oc-icon-"][class*="btn-"]:not(.btn-icon):after,
.btn[class*="oc-icon-"][class^="btn-"]:not(.btn-icon):after,
.btn[class^=" oc-icon-"][class*="btn-"]:not(.btn-icon):after {
    background-color: rgb(35, 31, 114);
    border: 1px solid rgb(35, 31, 114);
}
.status-command:hover {
    color: rgb(35, 31, 114)!important;
}

.showtl:after {
    color: rgb(35, 31, 114);
}

.context-menu-icon:before {
    color: rgb(35, 31, 114);
}
.flash-message.success {
    background: #4762B2;
}