.control-tabs.primary-tabs > div > ul.nav-tabs {
    position: absolute;
    opacity: 0;
    z-index: -10;
}
.startscreen-show .custom-radio {
    display: inline-block;
}
.startscreen-show label {
    display: block;
    margin: 0 0 15px 0;
}