#Form-field-ModuleContent-data-group.form-group-preview {
    overflow-y: scroll;
}
#Form-field-ModuleContent-data-group.form-group-preview > .form-control {
    white-space: pre;
    font-family: monospace,monospace;
    background-color: #fff;
    border-color: #fff;
}