.btn[class^="oc-icon-"][class^="btn-"]:not(.btn-icon),
.btn[class*=" oc-icon-"][class*="btn-"]:not(.btn-icon),
.btn[class*="oc-icon-"][class^="btn-"]:not(.btn-icon),
.btn[class^=" oc-icon-"][class*="btn-"]:not(.btn-icon) {
    color: #006;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.btn[class^="oc-icon-"][class^="btn-"]:not(.btn-icon):before,
.btn[class*=" oc-icon-"][class*="btn-"]:not(.btn-icon):before,
.btn[class*="oc-icon-"][class^="btn-"]:not(.btn-icon):before,
.btn[class^=" oc-icon-"][class*="btn-"]:not(.btn-icon):before {
    color: #fff;
    background-color: inherit;
}
.btn[class^="oc-icon-"][class^="btn-"]:not(.btn-icon):not(.empty):before,
.btn[class*=" oc-icon-"][class*="btn-"]:not(.btn-icon):not(.empty):before,
.btn[class*="oc-icon-"][class^="btn-"]:not(.btn-icon):not(.empty):before,
.btn[class^=" oc-icon-"][class*="btn-"]:not(.btn-icon):not(.empty):before {
    margin-right: 30px!important;
}
@media all and (min-width: 1550px) {
.btn[class^="oc-icon-"][class^="btn-"]:not(.btn-icon):not(.empty):before,
.btn[class*=" oc-icon-"][class*="btn-"]:not(.btn-icon):not(.empty):before,
.btn[class*="oc-icon-"][class^="btn-"]:not(.btn-icon):not(.empty):before,
.btn[class^=" oc-icon-"][class*="btn-"]:not(.btn-icon):not(.empty):before {
    margin-right: 30px!important;
}
}
.btn[class^="oc-icon-"][class^="btn-"]:not(.btn-icon):after,
.btn[class*=" oc-icon-"][class*="btn-"]:not(.btn-icon):after,
.btn[class*="oc-icon-"][class^="btn-"]:not(.btn-icon):after,
.btn[class^=" oc-icon-"][class*="btn-"]:not(.btn-icon):after {
    content:'';
    background-color: #fff;
    position: absolute;
    top:1px;
    right:1px;
    bottom:1px;
    left:46px;
    z-index: -1;
}

@media all and (max-width: 1550px) {
.toolbar .btn[class^="oc-icon-"][class^="btn-"]:not(.btn-icon):not(.btn-sm):before,
.toolbar .btn[class*=" oc-icon-"][class*="btn-"]:not(.btn-icon):not(.btn-sm):before,
.toolbar .btn[class*="oc-icon-"][class^="btn-"]:not(.btn-icon):not(.btn-sm):before,
.toolbar .btn[class^=" oc-icon-"][class*="btn-"]:not(.btn-icon):not(.btn-sm):before {
    margin-right:8px!important;
    width:14px;
    text-align: center;
}
.toolbar .btn.btn-sm[class^="oc-icon-"][class^="btn-"]:not(.btn-icon):not(.empty):before,
.toolbar .btn.btn-sm[class*=" oc-icon-"][class*="btn-"]:not(.btn-icon):not(.empty):before,
.toolbar .btn.btn-sm[class*="oc-icon-"][class^="btn-"]:not(.btn-icon):not(.empty):before,
.toolbar .btn.btn-sm[class^=" oc-icon-"][class*="btn-"]:not(.btn-icon):not(.empty):before {
    margin-right: 30px!important;
}
}
.btn-text {
    border: 1px solid;
    padding: 9px 15px;
    border-radius: 2px;
    color: #39e;
    background-color: #fff;
}

.btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 8px 16.5px;
}

.btn[class^="oc-icon-"]:before,
.btn[class*=" oc-icon-"]:before {
    opacity: 1;
}

.btn-primary,
.btn-success,
.btn-warning,
.btn-danger {
    text-shadow: none;
    font-weight: normal;
}

.btn-primary { background-color: #4da7e8; }
.btn-primary:hover { background-color: #2995e3; border-color: #197dc5; }
.btn-success { background-color: #31ac5f; border-color: #2b9854; }
.btn-success:hover { background-color: #288c4d; border-color: #1e693a; }
.btn-warning { background-color: #f0ad4e; border-color: #eea236; }
.btn-warning:hover { background-color: #ed9c28; border-color: #d58512; }
.btn-danger { background-color: #ab2a1c; border-color: #952518; }
.btn-danger:hover { background-color: #882116; border-color: #601810;}

/* button column */
.button-column a.btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}

.button-column .btn[class^="oc-icon-"]:before,
.button-column .btn[class*=" oc-icon-"]:before {
    opacity: .9;
}

/* оформление таблиц */
table.table.data tbody tr.rowlink:hover td,
table.table.data tbody tr:not(.no-data).selected td {
    text-shadow: none;
}

table.table.data tbody tr:not(.no-data) td,
table.table.data tbody tr:not(.no-data).selected td {
    background: white !important;
    /*cursor: default;*/
    border: 1px solid #ddd;
    border-color: transparent transparent #ddd #ddd;
    /*word-break: break-all; */
}

table.table.data tbody tr:not(.no-data):hover td,
table.table.data tbody tr:not(.no-data).selected td,
table.table.data tbody tr.active td {
    background: #ecf0f1 !important;
    color: #666666 !important;
}

table.table.data tbody tr:nth-child(even):hover{
    background-color: #f5f5f5;
}

table.table.data tbody tr td {
    vertical-align: middle;
}

.button-column a.btn.btn-icon {
    padding: 0;
    word-break: break-word;
}

[class^="oc-icon-"].btn-icon:before,
[class*=" oc-icon-"].btn-icon:before {
    margin: 2px;
    color: #428bca;
}

table.table.data tbody [class^="icon-"]:before,
table.table.data tbody [class*="icon-"]:before {
    color: #428bca;
}
table.table.data tbody tr td:first-child {
    vertical-align: middle;

}
.control-filter-popover .filter-items{
    height: auto;
    max-height: 200px;
}
table.table.data thead th > a {
    white-space: nowrap;
    padding: 13px;
}
table.table.data thead th > a:after {
    margin: 0 !important;
}

/* Оформление элеме*/

nav#layout-mainmenu.navbar {
    background-color:#9d1f63
}
nav#layout-mainmenu.navbar ul li {
    color: #fff;
}

nav#layout-mainmenu.navbar ul li a:hover,
nav#layout-mainmenu .menu-toggle:hover,
.mainmenu-collapsed li a:hover,
nav#layout-mainmenu.navbar ul li.active a,
.mainmenu-collapsed li.active a,
nav#layout-mainmenu.navbar ul li.highlight a,
.mainmenu-collapsed li.highlight a {
    text-shadow: 0 0 5px #fff;
}

.control-breadcrumb {
    background-color: rgba(168, 77, 125, 0.7);
}

.control-breadcrumb li {
    background-color: rgb(168, 77, 125);
}

.control-breadcrumb li:first-child:after {
    border-left: 15px solid rgb(168, 77, 125);
}

.control-breadcrumb li:first-child:before {
    border-left: 15px solid rgb(168, 77, 125);
}

.control-breadcrumb li:before {
    border: none;
}

.control-breadcrumb li {
    color: #fff;
}
#layout-sidenav {
    /*background-color: #5d113a*/
    background-color: #565654;
}

.layout.control-tabs.oc-logo-transparent:not(.has-tabs),
.flex-layout-column.oc-logo-transparent:not(.has-tabs),
.layout-cell.oc-logo-transparent {
    background-image: none;
}
#Lists-relationCommentsViewList table tr > td{
    background-color: #fff!important;
    padding: 10px 10px 0 10px!important;
}
.modal {
    z-index: 1050;
    /*position: absolute;*/
}
td.list-tree + * {
    border-left-color: white!important;
}
tr:hover td.list-tree + * {
    border-left-color: #ecf0f1!important;
}

.suuuuup {
    background-color: #000;
    margin: 0 5px 0 0;
    color: #fff!important;
    padding: 3px 0;
    width: 24px;
    display: inline-block;
    font-size: 11px;
    text-align: center;
    border-radius: 12px;
}
.suuuuup:before {
    color:#fff!important;
}
.status_icon_text_box {
    white-space: nowrap;
}

.fr-element.fr-view ul,
.fr-element.fr-view ol {
    list-style-type: none;
    counter-reset: ol;
}
.fr-element.fr-view ol > li:before {
    counter-increment: ol;
    content: counter(ol) ".";
    margin:  0 4px 0 -16px;
}
.fr-element.fr-view ul > li:before {
    content: "\2022";
    font-size: 17px;
    margin:  0 10px 0 -16px;
    line-height: 0;
}


