/*
 * This is a sample StyleSheet file used by {{ name }}
 *
 * You can delete this file if you want
 */

 .relation-dropdown .select2.select2-container {
    position: relative;
}

/*.relation-dropdown .select2.select2-container:after {*/
    /*content: " ";*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*width: 37px;*/
    /*height: 40px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: right -80px;*/
    /*background-image: url('/modules/system/assets/ui/images/bitmap-icons.png');*/
/*}*/

.select2-results__options {
    padding-bottom: 10px;
}
.loading-indicator.size-small.loadingMore {
    display: inline-block;
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
    left: 10px;
}
.loading-indicator.size-small.searching {
    display: inline-block;
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
}
.loading-indicator.size-small.loadingMore span,
.loading-indicator.size-small.searching span {
    position: absolute;
    left: 0;
    top: 7px;
}