<?php if (!$this->fatalError): ?>

<?= Form::open(['class' => 'layout']) ?>

<div class="layout-row">
    <?= $this->formRender() ?>
</div>

<div class="form-buttons">
    <div class="loading-indicator-container">
        <button class="btn btn-primary"
            type="submit"
            data-request="onSave"
            data-request-data="redirect:0"
            data-hotkey="ctrl+s, cmd+s"
            data-load-indicator="Saving Role..."
            data-request-success="
                $('<span data-request-action=<?= Backend::url('academy/tasks/tasks/preview/' . $formModel->task_id) ?>></span>').popup({
                    handler: 'onRelationButtonCreate',
                    extraData: {
                        _relation_field: 'comments',
                        _relation_extra_config: 'W10=',
                    }
                });
                $(this).closest('.control-popup').trigger('close.oc.popup');">
            <?= e(trans('backend::lang.form.save')) ?>
        </button>
        <button class="btn btn-default"
            data-dismiss="popup"
            data-control="popup"
            data-handler="onRelationButtonCreate"
            data-request-action="<?= Backend::url('academy/tasks/tasks/preview/' . $formModel->task_id) ?>"
            data-request-data="_relation_field: 'comments', _relation_extra_config: 'W10='"
            style="cursor:pointer">
            <?= e(trans('backend::lang.form.cancel')) ?>
        </button>
    </div>
</div>

<?= Form::close() ?>

<?php else: ?>

<p class="flash-message static error"><?= e($this->fatalError) ?></p>
<p><a href="<?= Backend::url('academy/tasks/users') ?>" class="btn btn-default">Return to types list</a></p>

<?php endif ?>