html, body {
    background-color: #fff;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

img {
    max-width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #79062C;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.3;
    flex: 0 0 auto;
}

.top-header {
    background-color: #79062C;
    width: 100%;
    text-align: left;
    min-height: 60px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.top-header > div,
.bottom-header > div {
    width: 50%;
    padding: 10px 100px;
}

.logo-block,
.personal-account {
    position: relative;
}

.logo-block:after,
.personal-account:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    border-right: 1px solid #fff;
}

.logo-block {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 43px;
    max-width: 80px;
    margin-right: 20px;
}

.bottom-header {
    background-color: #E93E4A;
    width: 100%;
    display: flex;
    min-height: 60px;
    align-items: center;
}

.personal-account {
    text-transform: uppercase;
}

.personal-account a,
.link-admin a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

.container {
    width: 258px;
}

.link-is {
    border: 2px solid #E93E4A;
    display: flex;
    flex-direction: column;
    min-height: 375px;
    width: 258px;
    height: 100%;
    padding: 20px 30px;
    line-height: 1.4;
    font-size: 13px;
    text-decoration: none;
}


.img-is {
    display: block;
    width: 119px;
    height: 53px;
    margin: 0 auto 20px;
    background: url(../img/sprite-is-red.png) 50% 0 no-repeat;
    background-size: 63px 119px;
}

.title-is {
    display: block;
    margin-bottom: 40px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    min-height: 70px;
    text-align: center;
    color: #79062C;
}

.desc-is {
    color: #333;
}