
/* NULL STYLE */

*															{ margin: 0; padding: 0; }
/*															{ -moz-user-select: -moz-none; -moz-user-select: none; -o-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }

/* MAIN STYLE */

html														{  }
body														{ position: fixed; width: 100%; height: 100%; cursor: default; }
body														{ color: black; font-size: 17px; font-family: Arial; background-color: black; }

/* LAYOUT */

#wrapper													{ display: table; width: 100%; height: 100%; }
#wrapper													{
	background: url('../images/wrapper-pattern.png') #101520;
	background: url('../images/wrapper-pattern.png'), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #303540), color-stop(100%, #101520));
	background: url('../images/wrapper-pattern.png'), -webkit-radial-gradient(center, ellipse cover, #303540 0%, #101520 100%);
	background: url('../images/wrapper-pattern.png'), -moz-radial-gradient(center, ellipse cover, #303540 0%, #101520 100%);
	background: url('../images/wrapper-pattern.png'), -ms-radial-gradient(center, ellipse cover, #303540 0%, #101520 100%);
	background: url('../images/wrapper-pattern.png'), -o-radial-gradient(center, ellipse cover, #303540 0%, #101520 100%);
	background: url('../images/wrapper-pattern.png'), radial-gradient(ellipse at center, #303540 0%, #101520 100%); }

#header														{ display: table-row; height: 35%; }
#middle		 												{ display: table-row; height: 0%; }
#footer														{ display: table-row; height: 65%; }

#header .cell 												{ display: table-cell; vertical-align: bottom; }
#middle .cell 												{ display: table-cell; vertical-align: middle; }
#footer .cell 												{ display: table-cell; vertical-align: top; }

/* HEADER */

#logotype													{ width: 12em; height: 10em; margin: 0 auto; background: url( '../images/logotype.png' ) center center no-repeat transparent; }
#header h1													{ display: none; text-align: center; color: white; font-weight: normal; margin-bottom: 2em; }

/* MIDDLE */

#login-form													{ max-width: 30em; margin: 0 auto; border-radius: 1em; box-shadow: 0 0.1em 1em rgba(0,0,0,0.5); }
#login-form													{
	background: #f8f8f8;
	background:-moz-linear-gradient(top,#f8f8f8 0%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #eaeaea));
	background: -webkit-linear-gradient(top, #f8f8f8 0%, #eaeaea 100%);
	background: -o-linear-gradient(top, #f8f8f8 0%, #eaeaea 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%, #eaeaea 100%);
	background: linear-gradient(to bottom, #f8f8f8 0%, #eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr = '#f8f8f8', endColorstr = '#eaeaea', GradientType = 0 ); }

.form-row													{ padding: 0.5em 1em; border-top: 0.1em solid white; border-bottom: 0.1em solid rgba(0,0,0,0.2); }
.form-row:first-child										{ border-top: none; }
.form-row:last-child										{ border-bottom: none; }

.headline													{ background-color: rgba(0,100,200,0.1); padding: 1em; }
.headline h2												{ font-weight: normal; font-size: 1.5em; text-shadow: 0 1px 0 white; text-align: center; }

label														{ display: inline-block; width: 5em; margin-right: 1em; text-align: right; color: rgba(0,0,0,0.7); font-size: 1.2em; text-shadow: 0 1px 0 white; }
input[type="text"], input[type="password"]					{ outline: none; border: 0.05em solid rgba(0,0,0,0.2); display: inline-block; width: 15em; padding: 0.5em 0; text-indent: 0.5em; font-size: 1.2em; }
input[type="text"]:focus, input[type="password"]:focus		{ background-color: rgba(255,250,200,1); }
input[type="button"]										{  }

#signin														{ display: inline-block; width: 5em; margin: 0 auto; text-align: center; }

.messages													{ display: none; }
.messages													{ list-style: none; }


/* FOOTER */

h4#copyright												{ font-weight: normal; color: white; font-size: 1.1em; text-align: center; padding: 2em; text-shadow: 0 0 0.5em black; }


