*																{ margin: 0; padding: 0; }

h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: inline;
}

body															{ position: relative; font-family: Arial; font-size: 18px; background: rgb(240,240,240); width: 100%; height: 100%; overflow-y: auto; }

#journal-print													{ width: 800px; margin: 0 auto; background: white; }

#journal-print h1												{ font-size: 1.7em; padding: 30px 0; margin: 0 50px; border-bottom: 3px solid black; }
#journal-print .header											{ display: table; margin: 0 50px; }
#journal-print .header .header-row								{ display: table-row; }
#journal-print .header .header-row .label						{ display: table-cell; padding: 10px; color: gray; }
#journal-print .header .header-row .datetime						{ display: table-cell; padding: 10px; color: black; }
#journal-print .header .header-row .name							{ display: table-cell; padding: 10px; color: black; }
#journal-print .header .header-row .group						{ display: table-cell; padding: 10px; color: black; }

#journal-print ul.list											{ display: block; list-style: none; margin: 0 50px; padding: 30px 0; }

#journal-print .journal-separator								{ padding: 0.5em; background-color: white; }

#journal-print .journal-item										{ background: white; }
#journal-print .journal-item.learned								{ background-color: rgb(230,255,200); }
#journal-print .journal-item.high								{ background-color: rgba(100,200,0,1); }
#journal-print .journal-item.low									{ background-color: rgba(200,100,0,1); }
/*
#journal-print .journal-item .datetime						{ display: table; width: 100%; }
#journal-print .journal-item .datetime .date				{ display: table-cell; font-size: 0.8em; }
#journal-print .journal-item .datetime .time				{ display: table-cell; font-size: 0.8em; }
#journal-print .journal-item .datetime .spenttime			{ display: table-cell; font-size: 0.8em; }
#journal-print .journal-item .head							{ display: block; padding: 0.5em; color: black; text-decoration: none; background-size: auto 2em; background-position: 0.5em 0.5em; background-repeat: no-repeat; }
#journal-print .journal-item .head:hover					{ background-color: rgba(0,0,0,0.2); }
#journal-print .journal-item .head:active					{ background-color: rgba(0,0,0,0.4); }
#journal-print .journal-item[target_nav="book"] .head		{ background-image: url( '../images/items/item-page.svg' ); }
#journal-print .journal-item[target_nav="app"] .head		{ background-image: url( '../images/items/item-module.svg' ); }
#journal-print .journal-item[target_nav="resources"] .head	{ background-image: url( '../images/items/item-resource.svg' ); }
#journal-print .journal-item .head .group-name				{ display: block; color: red; }
#journal-print .journal-item .head .item-name				{ display: block; color: blue; }

#journal-print .journal-item .data								{ display: table; width: 100%; table-layout: fixed; border-top: 0.1em solid rgba(0,0,0,0.3); }
#journal-print .journal-item .data .questions-total				{ display: table-cell; vertical-align: middle; text-align: center; border-right: 1px solid rgba(0,0,0,0.1); }
#journal-print .journal-item .data .questions-correct			{ display: table-cell; vertical-align: middle; text-align: center; border-right: 1px solid rgba(0,0,0,0.1); }
#journal-print .journal-item .data .percentage					{ display: table-cell; position: relative; vertical-align: middle; text-align: center; }
*/





#journal-print .journal-item 									{ padding: 0.5em 0; background-color: transparent; border-top: 0.1em solid rgba(0,0,0,0.2); background-size: 3em auto; background-position: right bottom; background-repeat: no-repeat; }
#journal-print .journal-item.learned								{ background-color: transparent; background-image: none; border-left: none; }
#journal-print .journal-item.high								{ background-color: transparent; background-image: none; border-left: none; }
#journal-print .journal-item.low									{ background-color: transparent; background-image: none; border-left: none; }

#journal-print .journal-item .datetime							{ padding: 0.5em 0; color: black; font-size: 0.9em; margin-right: 3em; font-style: normal; font-weight: normal; }
#journal-print .journal-item .datetime .time						{ font-style: normal; font-weight: normal; }
#journal-print .journal-item .datetime .spenttime				{ font-style: normal; font-weight: normal; color: black; }

#journal-print .journal-item .head								{ transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; }
#journal-print .journal-item .head								{ display: block; margin-right: 3em; font-size: 0.9em; padding-left: 0; color: black; text-decoration: none; background-size: auto 2em; background-position: left 0.7em; background-repeat: no-repeat; }
#journal-print .journal-item .head:hover							{ background-color: transparent; }
#journal-print .journal-item .head:active						{ background-color: transparent; }
#journal-print .journal-item[target_nav="book"] .head			{ background-image: url( '../images/items/item-page.svg' ); }
#journal-print .journal-item[target_nav="app"] .head				{ background-image: url( '../images/items/item-module.svg' ); }
#journal-print .journal-item[target_nav="resources"] .head		{ background-image: url( '../images/items/item-resource.svg' ); }
#journal-print .journal-item .head .group-name					{ display: block; color: rgb(0,70,150); font-weight: normal; text-shadow: 0 1px 0 rgba(255,255,255,0.5); }
#journal-print .journal-item .head .group-name h3					{ display: inline; font-size: 1em; }
#journal-print .journal-item .head .group-name h4					{ display: inline; font-size: 1em; }
#journal-print .journal-item .head .item-name					{ display: block; color: black; font-weight: normal; text-shadow: 0 1px 0 rgba(255,255,255,0.5); }

#journal-print .journal-item .questions-total					{ text-align: left !important; display: block !important; font-size: 0.80em; border: none !important; }
#journal-print .journal-item .questions-correct					{ text-align: left !important; display: block !important; font-size: 0.80em; border: none !important; }
#journal-print .journal-item .percentage							{ position: relative !important; float: right; text-align: left !important; display: block !important; font-size: 1.5em; border: none !important; top: 2em; }
#journal-print .journal-item .percentage.high					{ color: rgb(100,150,0); }
#journal-print .journal-item .percentage.low 					{ color: rgb(200,100,0); }

#journal-print .journal-item .data								{ position: relative !important; display: block !important; width: auto; border-top: 0; margin-left: 2.2em; }
