.list-widget > .scrollable > table.table.data thead .check-widget {
    top: -6px;
    left: -3px;
}
.list-widget > .scrollable > table.table.data thead th > a {
    cursor: pointer;
}
.list-widget > .scrollable > table.table.data .list-setup a:before {
    font-size: 14px;
    line-height: 14px;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f0ca";
    display: inline-block;
    margin-left: 8px;
    vertical-align: baseline;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.list-widget .control-simplelist.with-checkboxes li {
    margin-top: 5px;
}
.list-widget > .scrollable > table > thead > tr > th {
    position: relative;
}
.list-widget > .scrollable > table > thead > tr > th a.sorter {
    position: absolute;
    margin-left: 6px;
    top: 10px;
    bottom: 10px;
    width: 10px;
    z-index: 1;
    cursor: pointer;
}
.list-widget > .scrollable {
    overflow: auto;
    min-height: 500px;
}
.list-widget > .scrollable > table.table.data {
    margin-bottom: 0;
}
.list-widget .control-pagination > * {
    cursor: pointer;
}
.list-widget table.table.data .list-setup {
    width: 48px;
}
.list-widget table.table.data .tree-icon {
    width: 10px;
    padding: 5px 0 5px 10px;
}
.list-widget table.table.data tr:not(.no-data) td {
    border: 1px solid #ddd;
    border-style: none solid solid none;
}
.list-widget table.table.data tr:not(.no-data) td.tree-icon.click {
    border-right: none;
    position: relative;
}
.list-widget table tr td.tree-icon.click > * {
    cursor: pointer;
}
.list-widget table.table.data tbody tr:not(.no-data) td.tree-icon.clear {
    background: repeating-linear-gradient(
     to right,
     transparent,
     transparent 15px,
     #000 1px,
     #000 16px,
     transparent 1px,
     transparent 21px
     )!important;
        background-position: 10px;
        position: relative;
}
.list-widget table.table.data tbody tr:not(.no-data) td.tree-icon.clear:before {
    width: 5px;
    height: 50%;
    border: 1px #000;
    border-style: none none solid solid;
    position: absolute;
    bottom: 50%;
    content: '';
    top: 1px;
    right: 0;
}
.list-widget table.table.data tbody tr:not(.no-data) td.tree-icon.clear:after {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    content: '';
    top: 50%;
    margin-top: -2px;
    right: 2px;
    background-color: #000;
}
.list-widget table.table.data tr:not(.no-data).expanded td.tree-icon.click:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 50%;
    border: 1px #000;
    border-style: solid solid none none;
    bottom: 0;
    left: 0;
}
.list-widget table.table.data tr:not(.no-data) td.tree-icon.click i {
    background-color: #fff;
    position: relative;
}
.list-widget .out-filters {
    color: rgba(0,0,0,0.6);
    background-color: #ecf0f1;
    border-top: 1px solid #d7dbdd;
    border-bottom: 1px solid #d7dbdd;
    font-size: 13px;
}
.list-widget .out-filters > * {
    padding: 10px 20px;
    display: inline-block;
    position: relative;
}
.list-widget .group > .loader:after {
    content: "\f021";
    font-family: FontAwesome;
    margin-left: 10px;
    color: #428bca;
}
.list-widget .group.loaded > .loader:after {
    display: none;
}
.list-widget .group.loaded > .loader {
    display: inline-block;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    height: 12px;
    width: 12px;
    margin-left: 10px;
    background-image: url(/modules/system/assets/ui/images/loader-transparent.svg);
    background-size: 12px 12px;
    background-position: 50% 50%;
}
.tree-icon.loader {
    padding-left: 0!important;
}
.tree-icon.loader > i:before {
    display: none;
}
.scrollable > .loader {
    margin: 20px auto;
    display: block;
    height: 50px;
    width: 50px;
    background-image: url(/modules/system/assets/ui/images/loader-transparent.svg);
    background-size: 50px 50px;
    background-position: 50% 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    background-color: transparent!important;
}
.list-widget .filter-setting {
    background-color: #916;
    padding: 2px 6px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}