<div data-control="toolbar">
    <span style="margin-right: 10px" is="vuejs" name="btn-refresh-versions" :options="{
        template:
            '<button class=\'btn btn-danger oc-icon-bell-slash\' :class=\'{disabled: checked.length === 0}\' @click=\'click\'>\
                <?= Lang::get('academy.system::socket.command.delete') ?>\
            </button>',
        data: function() {
            return {
                checked: []
            }
        },
        mounted: function() {
            this.$parent.$parent.$parent.$el.addEventListener('click', this.refreshChecked);
        },
        methods: {
            afterClick: function() {
                this.checked = this.$parent.$parent.$parent.$slots.list[0].componentInstance.value
            },
            refreshChecked: function(event) {
                event.view.setTimeout(this.afterClick, 0);
            },
            refreshVersions: function() {

            },
            click: function(event) {
                event.view.$.request('onDelete', {
                    data: {
                        checked: this.checked
                    },
                    loading: '#loading',
                    confirm: '<?= Lang::get('academy.system::socket.dialog.delete') ?>',
                    success: function() {
                         location.reload();
                    }
                });
            }
        }
    }"></span>

    <span is="vuejs" name="btn-refresh-versions" :options="{
        template:
            '<button class=\'btn btn-success oc-icon-bell\' :class=\'{disabled: checked.length === 0}\' @click=\'click\'>\
                <?= Lang::get('academy.system::socket.command.restore') ?>\
            </button>',
        data: function() {
            return {
                checked: []
            }
        },
        mounted: function() {
            this.$parent.$parent.$parent.$el.addEventListener('click', this.refreshChecked);
        },
        methods: {
            afterClick: function() {
                this.checked = this.$parent.$parent.$parent.$slots.list[0].componentInstance.value
            },
            refreshChecked: function(event) {
                event.view.setTimeout(this.afterClick, 0);
            },
            refreshVersions: function() {

            },
            click: function(event) {
                event.view.$.request('onRestore', {
                    data: {
                        checked: this.checked
                    },
                    loading: '#loading',
                    confirm: '<?= Lang::get('academy.system::socket.dialog.restore') ?>',
                    success: function() {
                         event.view.location.reload();
                    }
                });
            }
        }
    }"></span>
</div>

<div id="loading" class="popup-backdrop fade in loading" style="display: none;">
    <div class="modal-content popup-loading-indicator"></div>
</div>