<?php
    $context = BackendMenu::getContext();
    $contextSidenav = BackendMenu::getContextSidenavPartial($context->owner, $context->mainMenuCode);
?>
<?php if (!$contextSidenav): ?>
    <?php
        $sideMenuItems = BackendMenu::listSideMenuItems();
    ?>
    <?php if ($sideMenuItems && count($sideMenuItems) > 1): ?>
        <div class="layout-cell w-120">
            <div class="layout-relative">
                <nav
                    id="layout-sidenav"
                    class="layout-sidenav bg-p"
                    data-active-class="active"
                    data-control="sidenav">
                    <ul class="nav">
                        <?php foreach ($sideMenuItems as $sideItemCode => $item): ?>
                            <li
                                class="<?= BackendMenu::isSideMenuItemActive($item) ? 'active' : null ?>"
                                <?= HTML::attributes($item->attributes) ?>
                            >
                                <a href="<?= $item->url ?>">
                                    <span class="nav-icon">
                                        <i class="<?= $item->icon ?>"></i>
                                    </span>
                                    <span class="nav-label">
                                        <?= e(trans($item->label)) ?>
                                    </span>
                                </a>
                                <span
                                    class="counter <?= $item->counter === null ? 'empty' : null ?>"
                                    data-menu-id="<?= e($context->mainMenuCode.'/'.$sideItemCode) ?>"
                                    <?php if ($item->counterLabel): ?>title="<?= e(trans($item->counterLabel)) ?>"<?php endif ?>
                                    >
                                    <?= e($item->counter) ?>
                                </span>
                            </li>
                        <?php endforeach ?>
                    </ul>
                </nav>
            </div>
        </div>
    <?php endif ?>
<?php else: ?>
    <?php if (strpos($contextSidenav, '<li>') !== false): ?>
        <?= $this->makePartial($contextSidenav) ?>
    <?php endif ?>
<?php endif ?>