<?php
$activeItem = BackendMenu::getActiveMainMenuItem();
$mySettings = System\Classes\SettingsManager::instance()->listItems('mysettings');
$navbarMode = Backend\Models\BrandSetting::get('menu_mode', 'inline');

$theme = \Cms\Classes\Theme::getActiveTheme();
$theme = $theme->getDirName();

$is_pilot_user = $this->user->hasPermission('igvs.courses.pilot_user');
$is_bag_method = $this->user->hasPermission('igvs.courses.bag_method');

$cmsExpertiseThemeEnable = \Config::get('cms.expertiseThemeEnable', false);
$backendUriExpertise = \Config::get('cms.backendUriExpertise', 'backend');
$is_expertise = \Session::get('igvs.courses.is_expertise_system', 0);
$is_inclusive = \Session::get('igvs.user_instance_type') == 'inclusive';
$plugin_author_name = $is_expertise == 1 ? $backendUriExpertise : 'igvs';

$pilot_host = Session::get('igvs.courser.pilot_host');
$full_name = Session::get('igvs.courser.full_name');
$work_company = Session::get('igvs.courser.work_company');
$interface_logo = Session::get('igvs.courses.interface_logo', '');
$interface_cluster_name = Session::get('igvs.courses.interface_cluster_name', '');

$breadcrumbContent = Block::placeholder('breadcrumb_expertise');

$logo_label = strlen($interface_cluster_name) ? $interface_cluster_name : 'СЭО 3.5';
$logo_file_name = strlen($interface_logo) ? $pilot_host . $interface_logo : '/plugins/igvs/courses/assets/images/fix_logo.jpg';

if ($cmsExpertiseThemeEnable) {
    $logo_label = Session::get('igvs.courser.work_company2');
    $logo_file_name = "/themes/{$theme}/assets/custom-front/img/" . Session::get('igvs.courser.logo_name');
}

if ($is_inclusive) {
    $system_label = trans('igvs.courses::plugin.plugin_label_inclusive');
} elseif ($is_expertise) {
    $system_label = trans('igvs.courses::plugin.plugin_label_expertise');
} else {
    $system_label = trans('igvs.courses::plugin.plugin_label_bug_method');
}

?>
<header class="header">
    <div class="wrapper">
        <div class="logotypes">
            <span class="logotypes_headline"><img class="logotype" src="<?= $logo_file_name ?>"><?= $logo_label ?></span>
            <span class="logotypes_headline"><?= $work_company ?></span>
        </div>
        <div class="wrapper-login-place name-box">
            <div class="name-box_column">
                <a href="<?= Backend::url($plugin_author_name . '/courses') ?>" class="name-box_item"><?= $system_label ?></a>
            </div>
            <div class="name-box_column">
                <div class="login">
                    <span>
                        <a class="name-box_item_user" href="<?= strlen($pilot_host) ? $pilot_host . "/seo/profile/" : '#' ?>"><?= $full_name ?></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="location">
    <div class="wrapper">
        <div class="crumb_wrap">
            <a href="<?= strlen($pilot_host) ? $pilot_host . "/seo" : '#' ?>" class="location_link"></a>
            <a href="<?= Backend::url($plugin_author_name . '/courses') ?>" title="Домой" class="location_link">
                <i></i><span><?= $system_label ?></span>
            </a>
            <?php if ($breadcrumbContent) : ?>
                <?= $breadcrumbContent ?>
            <?php endif ?>
        </div>
        <div class="header_icons">
            <?php if (!$cmsExpertiseThemeEnable): ?>
            <div class="icon" title="Форма обратной связи">
                <a class="env" href="<?= $pilot_host ?>/seo/feedback/"></a>
            </div>
            <div class="icon" title="Справка">
                <a class="help" href="<?= $pilot_host ?>/seo/help/" target="_blank"></a>
            </div>
            <div class="icon" title="Профиль">
                <a class="profile" href="<?= $pilot_host ?>/seo/profile/"></a>
            </div>
            <?php endif; ?>
            <?php $exit_url = $this->user->is_superuser ? Backend::url('backend/auth/signout') : '/oauth/logout' ?>
            <div class="icon" title="Выход">
                <a class="exit" href="<?= $exit_url ?>"></a>
            </div>
        </div>
    </div>
</div>
