<?php
$activeItem = BackendMenu::getActiveMainMenuItem();
$mySettings = System\Classes\SettingsManager::instance()->listItems('mysettings');
$navbarMode = Backend\Models\BrandSetting::get('menu_mode', 'inline');

$is_pilot_user = $this->user->hasPermission('igvs.courses.pilot_user');
$is_bag_method = $this->user->hasPermission('igvs.courses.bag_method');
?>
<nav class="navbar control-toolbar navbar-mode-<?= $navbarMode ?>" id="layout-mainmenu" role="navigation">
    <div class="toolbar-item toolbar-primary">
        <div data-control="toolbar">
            <a class="menu-toggle" href="javascript:;">
                <span class="menu-toggle-icon">
                    <i class="icon-bars"></i>
                </span>
                <span class="menu-toggle-title">
                    <?= $activeItem ? e(trans($activeItem->label)) : 'CMS' ?>
                </span>
            </a>

            <ul class="nav mainmenu-nav">
                <?php if ($is_pilot_user && $is_bag_method) { ?>
                <li class="svg-icon-container svg-active-effects">
                    <a class="no-shadow">
                        <span class="">
                            <img class="" src="/themes/igvs/assets/images/academia.png">
                        </span>
                    </a>
                </li>
                <li class="svg-icon-container svg-active-effects">
                    <a>
                        <span class="nav-label">
                            <div class="vertical-line-break">&nbsp;</div>
                        </span>
                    </a>
                </li>
                <?php } ?>
                <?php foreach (BackendMenu::listMainMenuItems() as $item): ?>
                    <?php
                        if ($is_pilot_user && $item->code == 'system') {
                            continue;
                        }
                    ?>
                    <?php
                    $isActive = BackendMenu::isMainMenuItemActive($item);
                    ?>
                    <li class="<?= $isActive ? 'active' : null ?> svg-icon-container svg-active-effects">
                        <a href="<?= $item->url ?>">
                            <span class="nav-icon">
                                <?php if ($item->iconSvg): ?>
                                    <img class="svg-icon" src="<?= URL::asset($item->iconSvg) ?>">
                                <?php endif ?>

                                <i class="<?= $item->iconSvg ? 'svg-replace' : null ?> <?= $item->icon ?>"></i>
                            </span>
                            <span class="nav-label">
                                <?= e(trans($item->label)) ?>
                            </span>
                        </a>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
    <div class="toolbar-item" data-calculate-width>
        <ul class="mainmenu-toolbar">
            <?php
                $hidden_preview_website = '';
                if ($is_pilot_user && $is_bag_method) {
                    $hidden_preview_website = ' hidden';
                }
            ?>
            <li class="mainmenu-preview with-tooltip<?= $hidden_preview_website ?>">
                <a
                    href="<?= URL::to('/') ?>"
                    target="_blank"
                    title="<?= e(trans('backend::lang.tooltips.preview_website')) ?>">
                    <i class="icon-crosshairs"></i>
                </a>
            </li>
            <li class="mainmenu-account">
                <?php if ($is_pilot_user && $is_bag_method): ?>
                <a href="javascript:;" onclick="$.oc.layout.toggleAccountMenu(this)">
                    <img src="<?= $this->user->getAvatarThumb(90, ['mode' => 'crop', 'extension' => 'png']) ?>" class="account-avatar bag_method" />
                    <span class="account-name hidden-xs">
                        <?php if (!$is_pilot_user) { ?>
                            <?= e($this->user->first_name.' '.$this->user->last_name) ?>
                        <?php } else { ?>
                            <?php
                                $pilot_user = \Igvs\Courses\Models\UserPilot::where('user_id',$this->user->id)
                                    ->first();
                                $pilot_email = 'No email.' . $this->user->id;

                                if ($pilot_user) {
                                    $pilot_email = $pilot_user->email;
                                }
                            ?>
                            <?= e($this->user->first_name.' '.$this->user->last_name) . " ({$pilot_email})" ?>
                        <?php } ?>
                    </span>
                </a>
                <?php else: ?>
                    <a href="javascript:;" onclick="$.oc.layout.toggleAccountMenu(this)">
                        <span class="account-name hidden-xs">
                            <?php if (!$is_pilot_user) { ?>
                                <?= e($this->user->first_name.' '.$this->user->last_name) ?>
                            <?php } else { ?>
                                <?php
                                $pilot_user = \Igvs\Courses\Models\UserPilot::where('user_id',$this->user->id)
                                    ->first();
                                $pilot_email = 'No email.' . $this->user->id;

                                if ($pilot_user) {
                                    $pilot_email = $pilot_user->email;
                                }
                                ?>
                                <?= $pilot_email ?>
                            <?php } ?>
                        </span>
                        <img src="<?= $this->user->getAvatarThumb(90, ['mode' => 'crop', 'extension' => 'png']) ?>" class="account-avatar" />
                    </a>
                <?php endif; ?>
                <div class="mainmenu-accountmenu">
                    <ul>
                        <?php foreach ($mySettings as $category => $items): ?>
                            <?php foreach ($items as $item): ?>
                                <?php if ($is_pilot_user): ?>
                                    <?php if ($item->code == 'myaccount'): ?>
                                        <?php continue; ?>
                                    <?php endif; ?>
                                <?php endif; ?>
                                <li>
                                    <a href="<?= $item->url ?>">
                                        <?= e(trans($item->label)) ?>
                                    </a>
                                </li>
                            <?php endforeach ?>
                            <li class="divider"></li>
                        <?php endforeach ?>
                        <?php if (!($is_pilot_user && $is_bag_method)): ?>
                        <li>
                            <a href="<?= Backend::url('backend/auth/signout') ?>">
                                <?= e(trans('backend::lang.account.sign_out')) ?>
                            </a>
                        </li>
                        <?php endif; ?>
                    </ul>
                </div>
                <?php $exit_url = $this->user->is_superuser ? Backend::url('backend/auth/signout') : '/oauth/logout' ?>
                <?php if ($is_pilot_user && $is_bag_method): ?>
                    <div class="vertical-line-break" style="top: -4px;">&nbsp;</div>
                    <a href="<?= $exit_url ?>" class="sing-out">
                        <img src="/themes/igvs/assets/images/sign_out.png">
                    </a>
                    <div class="empty-fill">&nbsp;</div>
                <?php endif; ?>
            </li>
        </ul>
    </div>
</nav>
