<?php Block::put('breadcrumb') ?>
<?php

use Igvs\Courses\Models\Member;
use Igvs\Courses\Models\Status;

$backendUriExpertise = \Config::get('cms.backendUriExpertise', 'backend');
$is_expertise = strpos(\Request::getRequestUri(), $backendUriExpertise) !== false;

$plugin_author_name = $is_expertise ? $backendUriExpertise : 'igvs';

$status = Status::find($course->status_id);
?>
<div class="cms_release_date">
    <?php if ($member = Member::getByCourse($course->id, $this->user->id)): ?>
        <div><?= trans('igvs.courses::course.message.current_role') ?>: <?= implode(',',$member->roles()->lists('name')) ?></div>
    <?php endif ?>
    <?php if ($this->user->is_superuser): ?>
        <div>i-GVS-CMS Release date:<br><?= $commit_date ?></div>
    <?php endif ?>
</div>
<ul>
    <li><a href="<?= Backend::url($plugin_author_name . '/courses') ?>"><?= Lang::get('igvs.courses::lang.course.txt_field.courses') ?></a></li>
    <li><?= e($this->pageTitle) ?><?php if($course->short_version && $status): ?> (<?= $status->name ?>)<?php endif ?></li>
</ul>

<?php Block::endPut() ?>
