<?php
$is_pilot_subsystem = \Session::get('igvs.courses.is_pilot_subsystem', 0);
$cmsExpertiseThemeEnable = \Config::get('cms.expertiseThemeEnable', false);
$app_name = $cmsExpertiseThemeEnable ? \Config::get('cms.expertiseThemePoo2', '') : Backend\Models\BrandSetting::get('app_name');
?>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="app-timezone" content="<?= e(Config::get('app.timezone')) ?>">
<meta name="backend-base-path" content="<?= Backend::baseUrl() ?>">
<meta name="backend-timezone" content="<?= e(Backend\Models\Preference::get('timezone')) ?>">
<meta name="backend-locale" content="<?= e(Backend\Models\Preference::get('locale')) ?>">
<meta name="csrf-token" content="<?= csrf_token() ?>">
<?php if ($is_pilot_subsystem): ?>
    <link rel="icon" type="image/png" href="/plugins/igvs/courses/assets/images/academy_favicon_blue.ico">
<?php else: ?>
    <link rel="icon" type="image/png" href="<?= Backend::skinAsset('assets/images/favicon.ico') ?>">
<?php endif; ?>
<title data-title-template="<?= empty($this->pageTitleTemplate) ? '%s' : e($this->pageTitleTemplate) ?> | <?= $app_name ?>">
    <?= e(trans($this->pageTitle)) ?> | <?= $app_name ?>
</title>
<?php
    $coreBuild = System\Models\Parameter::get('system::core.build', 1);
?>
<link href="<?= URL::asset('modules/system/assets/ui/storm.css') ?>?v<?= $coreBuild ?>" rel="stylesheet">
<link href="<?= Backend::skinAsset('assets/css/october.css') ?>?v<?= $coreBuild ?>" rel="stylesheet">
<script src="<?= Backend::skinAsset('assets/js/vendor/jquery.min.js') ?>?v<?= $coreBuild ?>"></script>
<script src="<?= URL::asset('modules/system/assets/js/framework.js') ?>?v<?= $coreBuild ?>"></script>
<script src="<?= URL::asset('modules/system/assets/ui/storm-min.js') ?>?v<?= $coreBuild ?>"></script>
<script src="<?= Backend::skinAsset('assets/js/october-min.js') ?>?v<?= $coreBuild ?>"></script>
<script src="<?= URL::asset('modules/system/assets/js/lang/lang.'.App::getLocale().'.js') ?>?v<?= $coreBuild ?>"></script>

<script src="<?= Backend::skinAsset('assets/js/october.flyout.js') ?>"></script>
<script src="<?= Backend::skinAsset('assets/js/october.tabformexpandcontrols.js') ?>"></script>

<?= $this->makeAssets() ?>
<?= Block::placeholder('head') ?>
<?= $this->makeLayoutPartial('custom_styles') ?>