<?php Block::put('breadcrumb_expertise') ?>
<?php
use Igvs\Courses\Models\Status;
$status = Status::find($course->status_id);

?>
    <a title="<?= e($this->pageTitle) ?><?php if($course->short_version && $status): ?> (<?= $status->name ?>)<?php endif ?>" class="location_link">
        <i></i><span><?= e($this->pageTitle) ?><?php if($course->short_version && $status): ?> (<?= $status->name ?>)<?php endif ?></span>
    </a>
<?php Block::endPut() ?>