<h4>Заголовки</h4>
<pre style="white-space: pre-wrap">
    <?php var_export($model['headers']); ?>
</pre>

<h4>Данные по запросу</h4>
<pre style="white-space: pre-wrap">
    <?php var_export($model['data']) ?>
</pre>

<h4>Ответ</h4>
<pre style="white-space: pre-wrap">
    <?php var_export($model['answer']) ?>
</pre>
