.notifier {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 270px;
    transition-duration: 0.5s;
    z-index: 1;
}
.notifier:active {
    transition-duration: 0s;
}
.notifier > .ntf-header {
    display: block;
    height: 40px;
    background-color: #d35400;
    color: white;
    text-decoration: none;
    line-height:40px;
    padding: 0 10px;
    transition-duration: 0.5s;
    position: relative;
}
.notifier > .ntf-body {
    height: 330px;
    background-color: #ecf0f1;
    border: 1px solid silver;
    overflow: auto;
    transition-duration: 0.5s;
}
.notifier > .ntf-header > .ntf-close:after {
    content: "\f00d";
    font-family: FontAwesome;
    position: absolute;
    right: 7px;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.notifier > .ntf-header > .ntf-info > .ntf-signal {
    background-color: #2b9854;
    height: 24px;
    display: inline-block;
    border-radius: 12px;
    padding: 0 8.5px;
    margin: 0;
    font-size: 12px;
    line-height: 24px;
}
/*.notifier > .ntf-body::-webkit-scrollbar {
    width: 10px;
}
.notifier > .ntf-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 7px;
}*/
.notifier.mini {
    bottom: 60px;
    right: 60px;
    width: 40px;
}
.notifier.mini > .ntf-header {
    border-radius: 50%;
    text-align: center;
}
.notifier.mini > .ntf-body {
    height: 0;
    border: none;
    width: 0;
}
.notifier.mini > .ntf-header:before,
.notifier.mini > .ntf-header > .ntf-close {
    position: absolute;
    cursor: pointer;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}
.notifier > .ntf-header > .ntf-info > .ntf-signal:empty,
.notifier.mini > .ntf-header > .ntf-caption,
.notifier.mini > .ntf-header > .ntf-close:after {
    opacity: 0;
    transition-duration: 0.5s;
    position: absolute;
}
.notifier.mini > .ntf-header > .ntf-info > .ntf-signal {
    position: absolute;
    left: 22px;
    top: -6px;
}
.ntf-item-count {
    background-color: #2b9854;
    display: inline-block;
    padding: 0 2px;
    color: #fff;
}
.notifier > .ntf-header:after {
    opacity: 0;
    content: "\f0a2";
    font-family: FontAwesome;
    font-size: 20px;
    transition-duration: 0.5s;
}
.notifier.mini > .ntf-header:after {
    opacity: 1;
}
.notifier.mini > .ntf-header:before {
    content: "";
    opacity: 0.5;
    border-radius: 50%;
    transition-duration: 0.5s;
    box-shadow: 0 0 0 0 #0f0,
                0 0 4px 0 #00f;
}
.notifier > .ntf-header:hover:before {
    box-shadow: 0 0 10px 10px #d50,
                0 0 2px 30px rgba(221,85,0,0.3);
}
.ntf-item {
    padding: 5px;
    border: 1px solid #ddd;
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.ntf-radio {
    display: none;
}
.ntf-radio + * {
    display: none;
}
.notifier:not(.mini) .ntf-radio:checked + * {
    display: block;
}
.ntf-control-filter {
    direction: rtl;
    height: 397px;
}
.ntf-control-filter:hover {
    overflow: auto;
}
.ntf-control-filter .filter-scope {
    display: inline-block;
    white-space: nowrap;
    background-color: #d35400;
    color: #fff;
    padding: 5px 20px 5px 10px;
    border-radius: 5px 0 0 5px;
    box-shadow: inset 0 0 1px 0 #000, 10px 1px 8px 0 rgba(0,0,0,0.5);
    transition-duration: 0.5s;
    text-decoration: none;
}
.ntf-control-filter .filter-scope:hover {
    padding-right: 40px;
}
.ntf-control-filter .ntf-filter-container:after {
    //content: '';
    background-color: #d35401;
    height: 100%;
    position: absolute;
    border-radius: 0 100px 100px 0;
    width: 10px;
    top: 0;
    right: 5px;
    box-shadow: inset -2px 0 6px -1px;
}
.ntf-control-filter .ntf-filter-container:before {
    //content: '';
    background-color: #752f00;
    height: 100%;
    position: absolute;
    border-radius: 10px 0 0 10px;
    padding: 10px 0;
    width: 10px;
    right: 0;
    top:-10px;
    box-sizing: content-box;
}
.ntf-control-filter .ntf-filter-container {
    animation: show .5s both;
    position: relative;
    margin: 0 0 5px 0;
    display: block;
}
@keyframes show {
    from {
        opacity: 0;
        left: 100%;
    }
    to {
        opacity: 1;
        left: 0%;
    }
}
.ntf-signal {
    animation: signal .4s alternate;
    border-radius: 50%;
    animation-iteration-count: 4;
}
@keyframes signal {
    from {
        box-shadow: 0 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 30px 10px #2b9854;
    }
    to {
        box-shadow: 0 0 0 0 transparent;
    }
}
.ntf-body-block table {
    display: inline-table;
    width: 100%;
    border-collapse:unset;
    padding: 0 10px;
    box-sizing: border-box;
    //border: 10px solid #ecf0f1;
    //box-shadow: inset 0 0 10px 1px #999;
    //background-color: #fff;
}
.ntf-body-block tr {
    box-shadow: 0 2px 1px -1px #999;
    width: 100%;
}
.ntf-body-block th {
    border-bottom: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 10px 12px -8px #999;
    background: linear-gradient(to right, transparent, rgba(0,0,0,0.05) 10% );
}

.ntf-control-filter .filter-scope.active {
    background-color: coral;
}
.ntf-item-update:not([onclick*=" "]) {
    display: none;
}
.ntf-setup {
     cursor: pointer;
}
.notifier.mini .ntf-setup {
    opacity: 0;
    position: absolute;
}
.notifier:active:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}