<div class="structure-header">
    <div><b>Публикуемые изменения:</b></div>
    <div class="legend">
        <div class="structure depth_0 new">Новый</div>
        <div class="structure depth_0 changed_name">Измененный</div>
        <div class="structure depth_0 delete">Удалённый</div>
    </div>
</div>

<div class="structure-body">
    <?php foreach ($structure as $structure_item): ?>
    <?php
        $item_depth = "depth_" . $structure_item['depth'];
        $item_action = str_replace('|', ' ', $structure_item['action']);
        $item_behavior = '-';

        if (isset($structure_item['module']) && isset($structure_item['module']['behavior'])) {
            $item_behavior = $structure_item['module']['behavior'];
        }

        if (strlen($structure_item['name'])) {
            $item_name = $structure_item['name'];
        } else {
            $item_name = $structure_item['name_old'];
        }

        if (strlen($structure_item['code'])) {
            $item_code = $structure_item['code'];
        } elseif (strlen($structure_item['code_old'])) {
            $item_code = $structure_item['code_old'];
        } else {
            $item_code = '';
        }
    ?>
        <div class="
                structure-item
                structure
                <?= $item_depth ?>
                <?= $item_action ?>"
                  data-behavior="<?= $item_behavior ?>"
                  data-old-name="<?= $structure_item['name_old'] ?>">
                    <?= "{$item_name} ({$item_code})" ?>
                    <span class="structure-changed-name-after"></span>
        </div>
    <?php endforeach; ?>
</div>
<script>
    $('.structure-item').each(function(i, el){
        var text = [],
            class_el = $(el).attr('class');


        if (class_el.indexOf('changed_name') != -1) {
            text.push('Название');
        }
        if (class_el.indexOf('changed_code') != -1) {
            text.push('Код');
        }
        if (class_el.indexOf('changed_content') != -1) {
            text.push('Контент');
        }
        if (class_el.indexOf('changed_order') != -1) {
            text.push('Порядок');
        }

        text = text.length ? ' (Изменения: ' + text.join(', ') + ')' : '';

        $(el).find('.structure-changed-name-after').text(text);
    });
</script>
