<div id="checkUpdatesPopup">
    <?= Form::open(['id' => 'updateForm']) ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= Lang::get('igvs.courses::lang.default.command.pilot_export') ?></h4>
    </div>
    <input type="hidden" id="current_topic_code" value="">
    <div id="updateContainer">
        <div class="modal-body">

            <div class="loading-indicator-container hidden">
                <p>&nbsp;</p>
                <div class="loading-indicator transparent">
                    <div><?= e(trans('system::lang.updates.update_loading')) ?></div>
                    <span></span>
                </div>
            </div>


            <from id="export-form">
                <div class="layout-row" id="to-gvs-modal-content">
                        <input type="hidden" name="course_id" value="<?= $course->id ?>">
                        <input type="hidden" name="dont_use_licence" value="1">
                        <input type="hidden" name="licence" value="">

                </div>

                <?php if (!$structure_modules_error): ?>

                <div class="form-tabless-fields">
                    <div class="form-group text-field span-full is-required" data-field-name="name" id="Form-field-System-name-group">
                        <label for="form-system"><?= Lang::get('igvs.courses::lang.course.txt_field.system') ?></label>
                        <?= Form::select('system', $systems, null, [
                            'class' => 'form-control custom-select',
                            'id'    => 'form-system',
                        ]) ?>
                    </div>
                    <div class="form-group text-field span-full is-required" data-field-name="name" id="Form-field-Competence-name-group">
                        <label for="form-competence"><?= Lang::get('igvs.courses::lang.course.txt_field.competence') ?></label>
                        <?= Form::select('competence',
                            isset($competences[$first_system_key]) ? $competences[$first_system_key] : [],
                            null,
                            [
                                'class' => 'form-control custom-select',
                                'id'    => 'form-competence',
                            ])
                        ?>
                        <script>
                        var competences = <?= json_encode($competences) ?>;
                        </script>
                    </div>
                </div>

                <?php endif; ?>
            </from>

            <div id="structure_diff">
                <?php if (!$structure_modules_error): ?>
                <div class="structure-header">
                    <div><b>Публикуемые изменения:</b></div>
                    <div class="legend">
                        <div class="structure depth_0 new">Новый</div>
                        <div class="structure depth_0 changed_name">Измененный</div>
                        <div class="structure depth_0 delete">Удалённый</div>
                    </div>
                </div>

                <div>
                    <?php foreach ($structure as $structure_item): ?>
                        <div class="structure-item structure depth_<?= "{$structure_item['depth']}" ?> <?= str_replace('|', ' ', $structure_item['action']) ?>"><?= strlen($structure_item['name']) ? $structure_item['name'] : $structure_item['name_old'] ?><?= (strlen($structure_item['code']) ? " ({$structure_item['code']})" : (strlen($structure_item['code_old']) ? " ({$structure_item['code_old']})" : '')) ?><span class="structure-changed-name-after"></span></div>
                    <?php endforeach; ?>
                </div>
                <script>
                    $('.structure-item').each(function(i, el){
                        var text = [],
                            class_el = $(el).attr('class');


                        if (class_el.indexOf('changed_name') != -1) {
                            text.push('Название');
                        }
                        if (class_el.indexOf('changed_code') != -1) {
                            text.push('Код');
                        }
                        if (class_el.indexOf('changed_content') != -1) {
                            text.push('Контент');
                        }
                        if (class_el.indexOf('changed_order') != -1) {
                            text.push('Порядок');
                        }

                        text = text.length ? ' (Изменения: ' + text.join(', ') + ')' : '';

                        $(el).find('.structure-changed-name-after').text(text);
                    });

                    var competences = <?= json_encode($competences) ?>;
                </script>
                <?php else : ?>
                    <div class="structure-error">
                        <?= strlen($structure_modules_error_text) ? $structure_modules_error_text : 'На удалённом сервере произошла ошибка. Попробуйте позже. Код: 00251' ?>
                    </div>
                <?php endif; ?>

                <div class="structure-header" style="display: none;">
                    <div><b>Ответ вызова systemsAndComps:</b></div>
                    <div>
                        <?php
                        var_dump($syscomp);
                        ?>
                    </div>
                </div>
            </div>

            <div id="success" style="display: none">
                <?= Lang::get('igvs.courses::lang.course.message.pilot_export_success') ?>
            </div>
            <div id="error" style="display: none; color: red;">
                <?= Lang::get('igvs.courses::lang.course.message.pilot_export_error') ?>
            </div>
        </div>
        <div class="modal-footer" style="margin-top: 20px;">
            <div
                    id="btn-preparation-gvs"
                    class="loading-indicator size-small"
                    style="display: inline-block; position: relative; padding-bottom: 0px; padding-top: 0px;display: none;">
                <span></span>
                <div><?= Lang::get('igvs.courses::lang.course.message.please_wait') ?>...</div>
            </div>

            <?php if (!$structure_modules_error): ?>
            <button
                    type="button"
                    id="btn-export-to-pilot"
                    class="btn btn-primary"
            >
                <?= Lang::get('igvs.courses::lang.default.command.pilot_export') ?>
            </button>
            <?php endif; ?>

            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
                    id="to-gvs-modal-content-cancel-popup"
            >
                <?= e(trans('backend::lang.form.cancel')) ?>
            </button>

            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
                    id="to-gvs-modal-content-close-popup"
                    style="display: none">
                <?= e(trans('backend::lang.form.close')) ?>
            </button>
        </div>
    </div>

    <?= Form::close() ?>
</div>
