<?php
    $empty_list = false;

    if (count($operators) == 0) {
        $empty_list = true;
    }

    $btn_add_style_display = $empty_list ? 'display: none;' : '';
    $btn_cancel_style_display = $empty_list ? 'display: none;' : '';
    $btn_close_style_display = $empty_list ? '' : 'display: none;';
?>
<div>
    <form method="post" enctype="multipart/form-data" id="eleaening-add-operator">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= Lang::get('igvs.courses::lang.course.command.application_for_publication') ?></h4>
    </div>
    <div id="updateContainer">
        <div class="modal-body">

            <div class="loading-indicator-container hidden">
                <p>&nbsp;</p>
                <div class="loading-indicator transparent">
                    <div><?= e(trans('system::lang.updates.update_loading')) ?></div>
                    <span></span>
                </div>
            </div>


            <div id="add-operator-in-course">
                <div class="layout-row" id="to-gvs-modal-content">
                    <input type="hidden" name="course_id" value="<?= $course->id ?>">
                    <input type="hidden" name="kakaka" value="momomo">
                </div>

                <div class="form-tabless-fields">
                    <div class="form-group text-field span-full" data-field-name="name" id="Form-field-System-name-group">
                        <?php if ($empty_list): ?>
                            <?= Lang::get('igvs.courses::lang.course.message.not_founded_operator_for_adding') ?>
                        <?php else: ?>
                            <label for="licence"><?= Lang::get('igvs.courses::lang.course.message.annotation_for_add_operator') ?></label>
                            <select class="form-control" name="user_id" style="-webkit-appearance: menulist;">
                                <?php foreach($operators as $operator_id => $operator_arr): ?>
                                    <?php if ($operator_arr['poo_id'] == $poo_id): ?>
                                        <option value="<?= $operator_id ?>" style="font-weight: bold;"><?= $operator_arr['name'] ?></option>
                                    <?php else: ?>
                                        <option value="<?= $operator_id ?>"><?= $operator_arr['name'] ?></option>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </select>

                        <?php endif; ?>
                    </div>

                    <input type="file" multiple="multiple" name="files" accept=".zip,.rar,.txt,.docx,.doc,.rtf,.pdf,.xls,.xlsx,.ppt,.pptx,.jpg,.jpeg,.gif,.tiff,.png,.avi,.mov,.mp4,.mgeg,.ogg,.3gp,.mkv,.mpeg4,.mpg,.mpg2,.ogm,.ogv,.wmv,.mp3,.wav">

                </div>
            </div>

            <div id="add-operator-in-course-response"></div>
            <div id="add-operator-in-course-loading" style="display: none">Загрузка...</div>

            <div id="success" style="display: none">
                <?= Lang::get('igvs.courses::lang.course.message.application_for_publication_success') ?>
            </div>
            <div id="error" style="display: none; color: red;">
                <?= Lang::get('igvs.courses::lang.course.message.application_for_publication_error') ?>
            </div>
        </div>
        <div class="modal-footer" style="margin-top: 20px;">
            <div
                    id="btn-preparation-gvs"
                    class="loading-indicator size-small"
                    style="position: relative; padding-bottom: 0; padding-top: 0;display: none;">
                <span></span>
                <div><?= Lang::get('igvs.courses::lang.course.message.please_wait') ?>...</div>
            </div>

            <button
                    type="button"
                    id="btn-add-operator-in-course"
                    class="btn btn-primary"
                    style="<?= $btn_add_style_display ?>"
                    data-href="<?= \Backend::url('igvs/courses') ?>/categories/elearningAddOperatorInCourse"
            >
                <?= Lang::get('igvs.courses::lang.default.command.send') ?>
            </button>

            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
                    id="to-gvs-modal-content-cancel-popup"
                    style="<?= $btn_cancel_style_display ?>"
            >
                <?= e(trans('backend::lang.form.cancel')) ?>
            </button>

            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
                    id="to-gvs-modal-content-close-popup"
                    style="<?= $btn_close_style_display ?>">
                <?= e(trans('backend::lang.form.close')) ?>
            </button>
        </div>
    </div>

    </form>
</div>
<script>
    function setOnClickBtnAddOperator() {
        $('#btn-add-operator-in-course').one("click", function() {
            var href = $(this).data('href');

            $('#add-operator-in-course-response').hide();
            $('#btn-preparation-gvs').show();

            ajax_iframe('eleaening-add-operator', href, function(ret) {
                setOnClickBtnAddOperator();
                $('#btn-preparation-gvs').hide();

                if (ret == 'true') {
                    $('#btn-add-operator-in-course').hide();
                    $('#to-gvs-modal-content-cancel-popup').hide();
                    $('#add-operator-in-course').hide();

                    $('#to-gvs-modal-content-close-popup').show();
                } else {
                    $('#add-operator-in-course-response')
                        .html(ret)
                        .show();
                }
            });
            return false;
        });
    }

    setOnClickBtnAddOperator();
</script>
