<style>
    .modal-body {
        min-height: 100px;
    }
</style>

<?php
    $handler = post('mode');
?>

<div id="checkUpdatesPopup">
    <?= Form::open(['id' => 'updateForm']) ?>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="popup">&times;</button>
            <h4 class="modal-title"><?= Lang::get('igvs.courses::lang.default.command.export').' '.Lang::get('igvs.courses::lang.course.command.to_scorm') ?></h4>
        </div>

        <div id="updateContainer">
            <div class="modal-body">

                <div class="loading-indicator-container hidden">
                    <p>&nbsp;</p>
                    <div class="loading-indicator transparent">
                        <div><?= e(trans('system::lang.updates.update_loading')) ?></div>
                        <span></span>
                    </div>
                </div>

                <div class="layout-row">

                    <from id="export-form">

                        <input type="hidden" name="course_id" value="<?= $course->id ?>">

                        <div class="form-tabless-fields">
                            <?php echo $this->makePartial('form/builds', ['builds' => $builds, 'current_build_id' => \Session::get('categoriesWidget.currentBuildId.' . $course->id)]); ?>
                        </div>

                        <div id="Form-outsideTabs" class="form-tabless-fields">
                            <div class="form-group  text-field span-full is-required" data-field-name="name" id="Form-field-Category-name-group">
                                <label for="Form-field-Category-name"><?= Lang::get('igvs.courses::lang.course.txt_field.color_theme') ?></label>
                                <?= Form::select('theme', $themes, null, [
                                    'class' => 'form-control custom-select',
                                ]) ?>
                            </div>
                        </div>
                    </from>

                </div>
            </div>
            <div class="modal-footer">

                <button
                    type="button"
                    id="btn-export-to-scorm"
                    class="btn btn-primary"
                    >
                    <?= Lang::get('igvs.courses::lang.default.command.export').' '.Lang::get('igvs.courses::lang.course.command.to_scorm') ?>
                </button>

                <div
                    id="btn-preparation-scorm"
                    class="loading-indicator size-small"
                    style="display: inline-block; position: relative; padding-bottom: 0px; padding-top: 0px;display: none;">
                    <span></span>
                    <div>Preparation...</div>
                </div>

                <a
                    href=""
                    id="btn-download-scorm"
                    class="btn btn-primary"
                    style="display:none"
                    data-dismiss="popup"
                    >
                    Download
                </a>

                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup">
                    <?= e(trans('backend::lang.form.cancel')) ?>
                </button>

            </div>
        </div>

    <?= Form::close() ?>
</div>
