<div id="checkUpdatesPopup">
    <?= Form::open(['id' => 'updateForm']) ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= Lang::get('igvs.courses::lang.course.command.import_course') ?></h4>
    </div>
    <input type="hidden" id="current_topic_code" value="">
    <div id="updateContainer">
        <div class="modal-body">

            <div class="loading-indicator-container hidden">
                <p>&nbsp;</p>
                <div class="loading-indicator transparent">
                    <div><?= e(trans('system::lang.updates.update_loading')) ?></div>
                    <span></span>
                </div>
            </div>

            <div class="layout-row" id="to-gvs-modal-content">

                <from id="import-form">

                    <input type="hidden" name="course_id" value="<?= e($course_id) ?>">

                    <div class="form-tabless-fields hidden">
                        <div class="form-group  text-field span-full">
                            <label><?= Lang::get('igvs.courses::lang.default.sort.sort') ?></label>
                            <?php
                                $sort = [
                                '0' => Lang::get('igvs.courses::lang.default.sort.at_first'),
                                '1' => Lang::get('igvs.courses::lang.default.sort.at_the_end')
                            ];
                                echo Form::select('sort', $sort, 0, [
                                    'class' => 'form-control custom-select',
                                ]);
                            ?>
                        </div>
                    </div>

                    <div class="form-tabless-fields form-inline" style="position: relative">
                        <div class="input-with-icon right-align form-group">
                            <input id="Form-field-filename" type="text" name="filename" value="" class="form-control align-left" readonly placeholder="<?= Lang::get('igvs.courses::lang.default.chosen') . ' ' . Lang::get('igvs.courses::lang.course.file') ?>">
                            <input id="Form-field-filepath" type="hidden" name="filepath">
                            <button
                                    type="button"
                                    id="btn-import-course-select-file"
                                    class="btn btn-default"
                            >
                                <?= Lang::get('igvs.courses::lang.default.command.choose') . ' ' . Lang::get('igvs.courses::lang.course.file') ?>
                            </button>
                        </div>
                    </div>

                </from>
            </div>

        </div>
        <div class="modal-footer" style="margin-top: 20px;">

            <button
                    type="button"
                    id="btn-import-course"
                    class="btn btn-primary"
            >
                <?= Lang::get('igvs.courses::lang.default.command.import') ?>
            </button>

            <div
                    id="btn-preparation-gvs"
                    class="loading-indicator size-small"
                    style="display: inline-block; position: relative; padding-bottom: 0px; padding-top: 0px;display: none;">
                <span></span>
                <div>Preparation...</div>
            </div>

            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
                    id="to-gvs-modal-content-close-popup">
                <?= e(trans('backend::lang.form.close')) ?>
            </button>

        </div>
    </div>

    <?= Form::close() ?>
</div>