<div id="checkUpdatesPopup">
    <?= Form::open(['id' => 'updateForm']) ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= Lang::get('igvs.courses::lang.course.command.import_rubricator') ?></h4>
    </div>
    <input type="hidden" id="current_topic_code" value="">
    <div id="updateContainer">
        <div class="modal-body">

            <div class="loading-indicator-container hidden">
                <p>&nbsp;</p>
                <div class="loading-indicator transparent">
                    <div><?= e(trans('system::lang.updates.update_loading')) ?></div>
                    <span></span>
                </div>
            </div>

            <div class="layout-row" id="to-gvs-modal-content">

                <from id="import-form">

                    <input type="hidden" name="course_id" value="<?= e($course_id) ?>">

                    <div class="form-tabless-fields hidden">
                        <div class="form-group  text-field span-full">
                            <label><?= Lang::get('igvs.courses::lang.default.sort.sort') ?></label>
                            <?php
                                $sort = [
                                '0' => Lang::get('igvs.courses::lang.default.sort.at_first'),
                                '1' => Lang::get('igvs.courses::lang.default.sort.at_the_end')
                            ];
                                echo Form::select('sort', $sort, 0, [
                                    'class' => 'form-control custom-select',
                                ]);
                            ?>
                        </div>
                    </div>

                    <div class="form-tabless-fields form-inline" style="position: relative">
                        <div class="input-with-icon right-align form-group">
                            <input id="Form-field-filename" type="text" name="filename" value="" class="form-control align-left" readonly placeholder="<?= Lang::get('igvs.courses::lang.default.chosen') . ' ' . Lang::get('igvs.courses::lang.course.file') ?>">
                            <input id="Form-field-filepath" type="hidden" name="filepath">
                            <button
                                    type="button"
                                    id="btn-import-rubricator-select-file"
                                    class="btn btn-default"
                            >
                                <?= Lang::get('igvs.courses::lang.default.command.choose') . ' ' . Lang::get('igvs.courses::lang.course.file') ?>
                            </button>
                        </div>
                    </div>

                </from>
            </div>

        </div>
        <div class="modal-footer" style="margin-top: 20px;">

            <button
                    type="button"
                    id="btn-import-rubricator"
                    class="btn btn-primary"
            >
                <?= Lang::get('igvs.courses::lang.default.command.import') ?>
            </button>

            <div
                    id="btn-preparation-gvs"
                    class="loading-indicator size-small"
                    style="display: inline-block; position: relative; padding-bottom: 0px; padding-top: 0px;display: none;">
                <span></span>
                <div>Preparation...</div>
            </div>

            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
                    id="to-gvs-modal-content-close-popup">
                <?= e(trans('backend::lang.form.close')) ?>
            </button>

        </div>
    </div>

    <?= Form::close() ?>
</div>
<script>
    $("body").one("click", "#btn-import-rubricator", function() {

        $("#export-form select").prop('disabled', true);

        $(this).hide();
        $("#btn-preparation-gvs").css('display', 'inline-block');

        var $form = $("#import-form");

        $.request('onImportRubricator', {
            data: {
                filepath: $("[name=filepath]", $form).val(),
                course_id: $("[name=course_id]", $form).val(),
                sort: $("[name=sort]", $form).val()
            },
            success: function(data) {
                $("#current-build-id").change();
                $('#to-gvs-modal-content').html($('#text_your_job_add').text() + data.result);
                $("#btn-preparation-gvs").hide();
                $("#to-gvs-modal-content-cancel-popup").css('display', 'none');
                $("#to-gvs-modal-content-close-popup").show();
                $("#btn-open-task").show();
            }
        });
    });

    function select_file(title, path) {
        $('#Form-field-filename').val(title);
        $('#Form-field-filepath').val(path);
    }

    $('#btn-import-rubricator-select-file').click(function() {
        new $.oc.mediaManager.popup({
            alias: 'ocmediamanager',
            cropAndInsertButton: false,
            hideInsert: true,
            bottomToolbar : true,
            onInsert: function(items) {
                if (!items.length) {
                    alert($('#igvs_courses_content_mediamanager_please_select_item_to_insert').text());
                    return
                }

                if (items.length > 1) {
                    alert($('#igvs_courses_content_mediamanager_please_select_a_single_item').text());
                    return
                }

                var path, title, documentType;
                for (var i=0, len=items.length; i<len; i++) {
                    path = items[i].path.substr(1, items[i].path.length);
                    title = items[i].title;
                    documentType = items[i].documentType;
                }

                if (documentType != 'document' || ['.xls', 'xlsx'].indexOf(path.substr(-4).toLowerCase()) == -1) {
                    alert($('#igvs_courses_content_mediamanager_please_select_a_xls_xlsx_document_file').text());
                }

                select_file(title, path)

                this.hide()
            }
        });
    })
</script>