<?php

$backendUriExpertise = \Config::get('cms.backendUriExpertise', 'backend');
$is_expertise = strpos(\Request::getRequestUri(), $backendUriExpertise) !== false;

$plugin_author_name = $is_expertise ? $backendUriExpertise : 'igvs';

$tech_mode_export = (int)\Config::get('cms.techModeExport', 0);

?>
<style>
    .container-dropdown-build {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .container-dropdown-build span.select2-container {
        min-width: 150px;
    }

    .toolbar {
        overflow: visible;
    }
</style>

<div data-control="toolbar" class="toolbar">
    <div class="pull-left">
        <a
            href="<?= Backend::url($plugin_author_name . '/courses') ?>"
            title="<?= Lang::get('igvs.courses::lang.course.command.return') ?>"
            class="btn btn-primary oc-icon-caret-left">
            <?= Lang::get('igvs.courses::lang.course.command.return') ?>
        </a>

        <?php
            $roles = $course->getRoles();
            $pilotRight = !$this->user->hasPermission('igvs.courses.pilot_user')
              || ($this->user->hasPermission('igvs.courses.pilot_user')
                && (in_array(1, $roles)
                    || in_array(5, $roles)
                    || in_array(6, $roles)
                    || in_array(9, $roles)
                    || in_array(10, $roles)
                    || in_array(11, $roles)
                    || in_array(12, $roles))
                );

            $pilotRightTopic = !$this->user->hasPermission('igvs.courses.pilot_user')
              || ($this->user->hasPermission('igvs.courses.pilot_user')
                && in_array(1, $roles)); ?>

        <?php if ($pilotRight): ?>
            <a class="btn btn-primary oc-icon-edit"
                title="<?= Lang::get('igvs.courses::lang.default.command.properties') ?>"
                target="workspace_frame"
                onclick="document.querySelector('#workspace').classList.add('loader');"
                href="<?= Backend::url($plugin_author_name . "/courses/courses/update/{$course->id}") ?>">
                <?= Lang::get('igvs.courses::lang.default.command.properties') ?>
            </a>
        <?php endif ?>
        <?php if ($course->canCreateTopic()): ?>
        <a
            href="javascript:;"
            title="<?= Lang::get('igvs.courses::lang.course.command.add_topic') ?>"
            onclick="$.manageModal.create({course_id: <?= $course->id ?>})"
            class="btn btn-primary oc-icon-plus">
            <?= Lang::get('igvs.courses::lang.course.command.add_topic') ?>
        </a>
        <?php endif ?>

        <?php if($course->iCanSeeExaminationSystem()): ?>
        <span id="course_status" style="position: relative">
        <?= $this->makePartial('$/igvs/courses/controllers/statuses/_statuslist_course.htm', [
            'status_id' => $course->status_id,
            'statuses' => $course->getStatusOptions(),
            'course_id' => $course->id,
        ]) ?>
        </span>
        <a class="btn btn-warning oc-icon-leanpub"
            target="workspace_frame"
            title="<?= e(trans('igvs.courses::course.field.comments')) ?>"
            href="<?= Backend::url("igvs/courses/courses/update/{$course->id}?q=comments") ?>">
            <?= e(trans('igvs.courses::course.field.comments')) ?>
        </a>
        <?php endif ?>

        <?php if ($this->user->hasAccess('igvs.courses.build')): ?>
            <div class="container-dropdown-build">
                <?php
                $builds = ['' => '-- '.Lang::get('igvs.courses::lang.course.command.sel_build')] + $builds;
                echo Form::select('build', $builds, \Session::get('categoriesWidget.currentBuildId.' . $course->id), [
                    'id' => 'current-build-id',
                    'data-course-id' => $course->id,
                    'class' => 'form-control custom-select',
                ]);
                ?>
            </div>

        <?php
            $topics = ['' => '-- '.Lang::get('igvs.courses::lang.course.command.sel_topic')] + $topics;
            echo Form::select('category', $topics, \Session::get('categoriesWidget.currentCategoryId.' . $course->id), [
                'id' => 'current-category-id',
                'data-course-id' => $course->id,
                'class' => 'form-control custom-select myselect',
            ]);
        ?>
        <?php endif ?>

    </div>
    <style>
        .myselect + *{
            min-width:300px
        }
    </style>
    <div class="pull-right" >

        <?php if ($this->user->hasAccess('igvs.courses.import_course')): ?>
        <a
                href="javascript:;"
                class="btn btn-warning oc-icon-list preview"
                title="<?= Lang::get('igvs.courses::lang.course.command.import_course') ?>"
                data-control="popup"
                data-handler="onImportCourseForm"
                data-request-data="course_id: '<?= $course->id ?>'">
            <?= Lang::get('igvs.courses::lang.course.command.import_course') ?>
        </a>
        <?php endif ?>

        <?php if ($this->user->hasAccess('igvs.courses.import_rubricator')): ?>
        <a
                href="javascript:;"
                title="<?= Lang::get('igvs.courses::lang.course.command.import_rubricator') ?>"
                class="btn btn-warning oc-icon-list preview"
                data-control="popup"
                data-handler="onImportRubricatorForm"
                data-request-data="course_id: '<?= $course->id ?>'">
            <?= Lang::get('igvs.courses::lang.course.command.import_rubricator') ?>
        </a>
        <?php endif ?>

        <?php if ($this->user->hasAccess('igvs.courses.export')): ?>
        <a
                href="javascript:;"
                title="<?= Lang::get('igvs.courses::lang.default.command.export') ?>"
                class="btn btn-success oc-icon-cloud-upload"
                data-control="popup"
                data-handler="onPrepareForRelease"
                data-request-data="course_id: '<?= $course->id ?>'">
            <?= Lang::get('igvs.courses::lang.default.command.export') ?>
        </a>
        <?php endif ?>

        <?php if (!$this->user->hasPermission('igvs.courses.pilot_user')
                || $this->user->hasPermission('igvs.courses.show_btn_preview')): ?>
        <a
            href="/preview/<?= $course->getPreviewId() ?>"
            title="<?= Lang::get('igvs.courses::lang.course.command.preview_course') ?>"
            class="btn btn-primary oc-icon-eye preview"
            target="_blank"
            id="preview">
            <?= Lang::get('igvs.courses::lang.course.command.preview_course') ?>
        </a>
        <?php endif ?>

        <?php if (!$this->user->hasPermission('igvs.courses.pilot_user')
                || $this->user->hasPermission('igvs.courses.show_btn_temp_link')): ?>
        <a
            id="temp-link-popup"
            href="javascript:;"
            class="btn btn-primary oc-icon-link temp-link-open-popoup-btn empty"
            data-control="popover"
            data-content="Error"
            title="Временные ссылки">
        </a>
        <?php endif ?>

        <?php if ($this->user->hasPermission('igvs.courses.pilot_user')
        && !$this->user->hasPermission('igvs.courses.pilot_export')
        && $this->user->hasPermission('igvs.courses.bag_method')
        && $this->user->hasPermission('igvs.courses.show_btn_application_for_publication')
        && $this->checkAccessRights($course->id, 'show_in_elearning')
        && (in_array(1, $roles))): ?>
            <a
                href="#"
                class="btn btn-success oc-icon-flag preview"
                data-control="popup"
                data-handler="onElearningAddOperatorInCoursePrepare"
                data-size="huge"
                title="<?= Lang::get('igvs.courses::lang.course.command.application_for_publication') ?>"
                data-request-data="course_id: '<?= $course->id ?>'">
                <?= Lang::get('igvs.courses::lang.course.command.application_for_publication') ?>
            </a>
        <?php endif ?>


        <?php if ($this->user->hasPermission('igvs.courses.pilot_user')
            && $this->user->hasPermission('igvs.courses.pilot_export')
            && $this->user->hasPermission('igvs.courses.bag_method')
            && $this->checkAccessRights($course->id, 'show_in_elearning')
            && (in_array(1, $roles)
                    || in_array(5, $roles)
                    || in_array(6, $roles)
                    || in_array(1, $roles)
                    || in_array(11, $roles)
                )): ?>
            <a
                    href="#"
                    class="btn btn-success oc-icon-cloud-upload preview <?= $tech_mode_export ? 'disabled' : '' ?>"
                    data-control="popup"
                    data-handler="onElearningExport"
                    data-size="huge"
                    title="<?= $tech_mode_export ? 'Service is temporarily unavailable' : Lang::get('igvs.courses::lang.course.command.public') ?>"
                    data-request-data="course_id: '<?= $course->id ?>'">
                <?= Lang::get('igvs.courses::lang.course.command.public') ?>
            </a>
        <?php elseif ($this->user->hasPermission('igvs.courses.pilot_user')
            && $this->user->hasPermission('igvs.courses.pilot_export')
            && !$this->user->hasPermission('igvs.courses.bag_method')
            && $this->checkAccessRights($course->id, 'show_in_pilot')): ?>
            <a
                    href="#"
                    class="btn btn-success oc-icon-cloud-upload preview <?= $tech_mode_export ? 'disabled' : '' ?>"
                    data-control="popup"
                    data-handler="onPreparePilotExport"
                    data-size="huge"
                    title="<?= $tech_mode_export ? 'Service is temporarily unavailable' : Lang::get('igvs.courses::lang.course.command.public') ?>"
                    data-request-data="course_id: '<?= $course->id ?>'">
                <?= Lang::get('igvs.courses::lang.course.command.public') ?>
            </a>
        <?php endif; ?>

        <?php if ($this->user->hasAccess('igvs.courses.publication_state')): ?>
        <a
            href="#"
            class="btn btn-success oc-icon-cloud-upload preview <?= $tech_mode_export ? 'disabled' : '' ?>"
            data-control="popup"
            data-handler="onPreparePublicationState"
            data-size="huge"
            title="<?= $tech_mode_export ? 'Service is temporarily unavailable' : Lang::get('igvs.courses::lang.course.command.public') ?>"
            data-request-data="course_id: '<?= $course->id ?>', build_id: $('#current-build-id').val()">
            PublicState
        </a>
        <?php endif; ?>

        <input type="hidden" id="toolbar-course-id" value="<?= $course->id ?>" />

        <?php if ($this->user->hasAccess('igvs.courses.export_scorm')): ?>
            <a
                    href="javascript:;"
                    class="btn btn-warning oc-icon-list preview"
                    data-control="popup"
                    data-handler="onExportForm"
                    title="<?= Lang::get('igvs.courses::lang.course.command.download_scorm') ?>"
                    data-request-data="course_id: '<?= $course->id ?>'">
                <?= Lang::get('igvs.courses::lang.course.command.download_scorm') ?>
            </a>
        <?php endif ?>

        <?php if($this->user->hasPermission('igvs.courses.expertise') && $course->isUseProject()): ?>
        <div
            data-toggle="dropdown"
            class="btn-primary btn btn-sm oc-icon-bars empty">
        </div>
        <ul class="dropdown-menu" role="menu">
            <li role="presentation">
                <span>
                    <a
                        href="<?= Backend::url('academy/tasks/tasks/clear/' . $course->project_id) ?>"
                        class="btn btn-primary oc-icon-bell"
                        target="workspace_frame">
                        Список задач
                    </a>
                </span>
            </li>
        </ul>
    <?php endif ?>
    </div>

    <div id="popup-layout" style="display: none">
        <div class="popover-body">
            <div class="control-tabs secondary-tabs create-temp-link-form" data-control="tab">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#secondaryTabOne"><?= Lang::get('igvs.courses::lang.temp_link.new_link') ?></a></li>
                    <li><a href="#secondaryTabTwo"><?= Lang::get('igvs.courses::lang.temp_link.history') ?></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="temp_link_create_container">
                            <label><?= Lang::get('igvs.courses::lang.temp_link.consider_filters') ?></label>
                            <div data-control="balloon-selector" class="control-balloon-selector">

                                <span><?= Lang::get('igvs.courses::lang.temp_link.builds') ?></span>
                                <ul>
                                    <li data-value="1" class="active"><?= Lang::get('igvs.courses::lang.temp_link.yes') ?></li>
                                    <li data-value="0"><?= Lang::get('igvs.courses::lang.temp_link.no') ?></li>
                                </ul>

                                <input type="hidden" name="consider_build" value="1" />
                            </div>

                            <div data-control="balloon-selector" class="control-balloon-selector">
                                <span><?= Lang::get('igvs.courses::lang.temp_link.topics') ?></span>
                                <ul>
                                    <li data-value="1" class="active"><?= Lang::get('igvs.courses::lang.temp_link.yes') ?></li>
                                    <li data-value="0"><?= Lang::get('igvs.courses::lang.temp_link.no') ?></li>
                                </ul>

                                <input type="hidden" name="consider_topic" value="1" />
                            </div>

                            <label><?= Lang::get('igvs.courses::lang.temp_link.expired_at') ?>:</label>
                            <div style="margin-bottom: 10px">
                                <span class="temp-link-fast-date" data-value="day"><?= Lang::get('igvs.courses::lang.temp_link.day') ?></span>&nbsp;&nbsp;
                                <span class="temp-link-fast-date" data-value="week"><?= Lang::get('igvs.courses::lang.temp_link.week') ?></span>&nbsp;&nbsp;
                                <span class="temp-link-fast-date" data-value="month"><?= Lang::get('igvs.courses::lang.temp_link.month') ?></span>&nbsp;&nbsp;
                                <span class="temp-link-fast-date" data-value="year"><?= Lang::get('igvs.courses::lang.temp_link.year') ?></span>
                            </div>
                            <div data-control="datepicker" style="margin-bottom: 10px">
                                <div class="row">
                                    <div class="col-md-7">
                                        <!-- Date -->
                                        <input
                                                type="date"
                                                name="date"
                                                class="form-control"
                                                placeholder="Select a date"
                                                data-datepicker
                                                value="<?= date('Y-m-d', strtotime('+1 day')) ?>" />
                                    </div>
                                    <div class="col-md-5">
                                        <!-- Time -->
                                        <input
                                                type="time"
                                                name="time"
                                                class="form-control"
                                                placeholder="Select a time"
                                                data-timepicker
                                                value="<?= date('H:i', strtotime('+1 day')) ?>" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div style="margin-bottom: 10px">
                                    <button class="btn btn-default" type="submit" id="btn-create-temp-link"><?= Lang::get('igvs.courses::lang.temp_link.generate_link') ?></button>
                                </div>
                                <input type="text" name="link" value="" class="form-control" placeholder='<?= Lang::get('igvs.courses::lang.temp_link.press_generate_link') ?>' />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane">
                        <div class="temp_link_history_container">
                            <div style="text-align: center; line-height: 40px;"><?= Lang::get('igvs.courses::lang.temp_link.loading') ?>..</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none">
        <div id="lang-temp-link-create_first_link"><?= Lang::get('igvs.courses::lang.temp_link.create_first_link') ?></div>
        <div id="lang-temp-link-it_easy"><?= Lang::get('igvs.courses::lang.temp_link.it_easy') ?></div>
        <div id="lang-temp-link-topic"><?= Lang::get('igvs.courses::lang.temp_link.topic') ?></div>
        <div id="lang-temp-link-build"><?= Lang::get('igvs.courses::lang.temp_link.build') ?></div>
        <div id="lang-temp-link-expired_at"><?= Lang::get('igvs.courses::lang.temp_link.expired_at2') ?></div>
        <div id="lang-temp-link-"></div>
    </div>

    <div style="clear:both;"></div>
</div>
