<div id="checkUpdatesPopup">
    <?= Form::open(['id' => 'updateForm']) ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= Lang::get('igvs.courses::lang.default.command.export').' '.Lang::get('igvs.courses::lang.course.command.to_gvs') ?></h4>
    </div>

    <div id="updateContainer">
        <div class="modal-body">

            <div class="loading-indicator-container hidden">
                <p>&nbsp;</p>
                <div class="loading-indicator transparent">
                    <div><?= e(trans('system::lang.updates.update_loading')) ?></div>
                    <span></span>
                </div>
            </div>

            <div class="layout-row" id="to-gvs-modal-content">

                <from id="export-form">

                    <input type="hidden" name="course_id" value="<?= $course->id ?>">

                    <div class="form-tabless-fields">
                        <?php echo $this->makePartial('form/builds', ['builds' => $builds, 'current_build_id' => \Session::get('categoriesWidget.currentBuildId.' . $course->id)]); ?>
                    </div>

                    <div id="Form-outsideTabs" class="form-tabless-fields">
                        <div class="form-group  text-field span-full is-required" data-field-name="name" id="Form-field-Category-name-group">
                            <label for="Form-field-Category-name"><?= Lang::get('igvs.courses::lang.course.txt_field.color_theme') ?></label>
                            <?= Form::select('theme', $themes, null, [
                                    'class' => 'form-control custom-select',
                            ]) ?>
                        </div>
                    </div>
                </from>

            </div>

        </div>
        <div class="modal-footer">

            <button
                    type="button"
                    id="btn-export-to-gvs"
                    class="btn btn-primary"
            >
                <?= Lang::get('igvs.courses::lang.default.command.export').' '.Lang::get('igvs.courses::lang.course.command.to_gvs') ?>
            </button>

            <div
                    id="btn-preparation-gvs"
                    class="loading-indicator size-small"
                    style="display: inline-block; position: relative; padding-bottom: 0px; padding-top: 0px;display: none;">
                <span></span>
                <div>Preparation...</div>
            </div>

            <a
                    href=""
                    id="btn-download-gvs"
                    class="btn btn-primary"
                    style="display:none"
                    data-dismiss="popup"
            >
                Download
            </a>

            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
                    id="to-gvs-modal-content-cancel-popup">
                <?= e(trans('backend::lang.form.cancel')) ?>
            </button>

            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
                    id="to-gvs-modal-content-close-popup"
            style="display: none">
                <?= e(trans('backend::lang.form.close')) ?>
            </button>

        </div>
    </div>

    <?= Form::close() ?>
</div>


<script>

    $("body").one("click", "#btn-export-to-gvs", function() {

        $("#export-form select").prop('disabled', true);

        $(this).hide();
        $("#btn-preparation-gvs").css('display', 'inline-block');

        var $form = $("#export-form");

        $.request('onExportFtp', {
            data: {
                course_id: $("[name=course_id]", $form).val(),
                build_id: $("[name=build_id]", $form).val(),
                theme: $("[name=theme]", $form).val()
            },
            success: function(data) {
                $('#to-gvs-modal-content').html(data.result);
//                $("#btn-download-gvs").attr('href', data.result);
//                $("#btn-download-gvs").show();
                $("#btn-preparation-gvs").hide();
                $("#to-gvs-modal-content-cancel-popup").css('display', 'none');
                $("#to-gvs-modal-content-close-popup").show();
            }
        });

    });
</script>
