<?php

        $modifed_error = 0;
        $hide_licencies_select = 0;
        $show_Not_found_licencies_error = 0;
        $show_export_success = 0;
        $show_close_button = 0;

        $show_diff = 1;

?>
<div id="checkUpdatesPopup">
    <?= Form::open(['id' => 'updateForm']) ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= Lang::get('igvs.courses::lang.default.command.pilot_export') ?></h4>
    </div>

    <input type="hidden" id="current_topic_code" value="">

    <div id="public-state-form">
        <div class="modal-body">

            <div class="loading-indicator-container hidden">
                <p>&nbsp;</p>
                <div class="loading-indicator transparent">
                    <div><?= e(trans('system::lang.updates.update_loading')) ?></div>
                    <span></span>
                </div>
            </div>

            <div class="layout-row" id="to-gvs-modal-content">
                <div class="form-tabless-fields">
                    <?php echo $this->makePartial('form/builds', ['builds' => $builds, 'current_build_id' => \Session::get('categoriesWidget.currentBuildId.' . $course->id)]); ?>
                </div>

                <input type="hidden" name="course_id" value="<?= $course->id ?>">

                <div id="course-structure-diff-loading" style='display: none; text-align: center'>Загрузка...</div>

                <?php if ($show_diff) : ?>
                    <div id="course-structure-diff">
                        <?php echo $this->makePartial('course_structure_diff', ['structure' => $structure]); ?>
                    </div>
                <?php endif; ?>
            </div>

            <div id="success" style="<?php if (!$show_export_success) echo 'display: none;'; ?>">
                <?= Lang::get('igvs.courses::lang.course.message.publication_success') ?>
            </div>
            <div id="error" style="display: none; color: red;">
                <?= Lang::get('igvs.courses::lang.course.message.pilot_export_error') ?>
            </div>
            <div id="error_licence" style="display: none; color: red;">
                <?= Lang::get('igvs.courses::lang.course.message.pilot_export_error_licence') ?>
            </div>
            <div style="<?php if (!$show_Not_found_licencies_error) { echo 'display: none'; } ?>">
                <?= Lang::get('igvs.courses::lang.course.message.pilot_export_error_licence_not_found') ?>
            </div>
        </div>
        <div class="modal-footer" style="margin-top: 20px;">
            <button
                    type="button"
                    id="btn-public-state"
                    class="btn btn-primary"

                    style="<?php if ($hide_licencies_select) { echo 'display: none'; } ?>"
            >
                <?= Lang::get('igvs.courses::lang.default.command.pilot_export') ?>
            </button>

            <div
                    id="btn-preparation-gvs"
                    class="loading-indicator size-small"
                    style="display: inline-block; position: relative; padding-bottom: 0px; padding-top: 0px;display: none;">
                <span></span>
                <div><?= Lang::get('igvs.courses::lang.course.message.please_wait') ?>...</div>
            </div>

            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
                    id="to-gvs-modal-content-cancel-popup"
                    style="<?php if ($hide_licencies_select) { echo 'display: none'; } ?>"
                    >
                <?= e(trans('backend::lang.form.cancel')) ?>
            </button>

            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
                    id="to-gvs-modal-content-close-popup"
                    style="<?php if (!$show_close_button) { echo 'display: none'; } ?>">
                <?= e(trans('backend::lang.form.close')) ?>
            </button>

        </div>
    </div>

    <?= Form::close() ?>
</div>
