<?php

        $modifed_error = $modifed_course_export != $modifed_course_export_success;
        $hide_licencies_select = !count($licences) || $modifed_course_export;
        $show_Not_found_licencies_error = !count($licences) || $modifed_error;
        $show_export_success = $modifed_course_export_success && !$modifed_error;
        $show_close_button = $hide_licencies_select || $show_export_success;

        $show_diff = (int)\Session::get('igvs.courses.is_expertise_system', 0);

?>
<div id="checkUpdatesPopup">
    <?= Form::open(['id' => 'updateForm']) ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= Lang::get('igvs.courses::lang.default.command.pilot_export') ?></h4>
    </div>
    <input type="hidden" id="current_topic_code" value="">
    <div id="updateContainer">
        <div class="modal-body">

            <div class="loading-indicator-container hidden">
                <p>&nbsp;</p>
                <div class="loading-indicator transparent">
                    <div><?= e(trans('system::lang.updates.update_loading')) ?></div>
                    <span></span>
                </div>
            </div>

            <div class="layout-row" id="to-gvs-modal-content">

                <from id="export-form" style="<?php if ($hide_licencies_select) { echo 'display: none'; } ?>">

                    <input type="hidden" name="course_id" value="<?= $course->id ?>">

                    <div class="form-tabless-fields">

                        <div class="form-group text-field span-full is-required" data-field-name="name" id="Form-field-Category-name-group">
                            <label for="licence"><?= Lang::get('igvs.courses::lang.course.txt_field.select_licence') ?></label>
                            <?= Form::select('licence', $licences, null, [
                                    'id'    => 'licence',
                                    'class' => 'form-control custom-select',
                            ]) ?>
                        </div>

                    </div>

                </from>
                <div style="display: none;">
                    <?php
                        var_dump($lic);
                        ?>
                </div>
            </div>
            
            <?php if ($show_diff) : ?>
                <div class="structure-header">
                    <div><b>Публикуемые изменения:</b></div>
                    <div class="legend">
                        <div class="structure depth_0 new">Новый</div>
                        <div class="structure depth_0 changed_name">Измененный</div>
                        <div class="structure depth_0 delete">Удалённый</div>
                    </div>
                </div>

                <div>
                    <?php foreach ($structure as $structure_item): ?>
                        <div class="structure-item structure depth_<?= "{$structure_item['depth']}" ?> <?= str_replace('|', ' ', $structure_item['action']) ?>"><?= strlen($structure_item['name']) ? $structure_item['name'] : $structure_item['name_old'] ?><?= (strlen($structure_item['code']) ? " ({$structure_item['code']})" : (strlen($structure_item['code_old']) ? " ({$structure_item['code_old']})" : '')) ?><span class="structure-changed-name-after"></span></div>
                    <?php endforeach; ?>
                </div>
                <script>
                    $('.structure-item').each(function(i, el){
                        var text = [],
                            class_el = $(el).attr('class');


                        if (class_el.indexOf('changed_name') != -1) {
                            text.push('Название');
                        }
                        if (class_el.indexOf('changed_code') != -1) {
                            text.push('Код');
                        }
                        if (class_el.indexOf('changed_content') != -1) {
                            text.push('Контент');
                        }
                        if (class_el.indexOf('changed_order') != -1) {
                            text.push('Порядок');
                        }

                        text = text.length ? ' (Изменения: ' + text.join(', ') + ')' : '';

                        $(el).find('.structure-changed-name-after').text(text);
                    });
                </script>
            <?php endif; ?>

            <div id="success" style="<?php if (!$show_export_success) echo 'display: none;'; ?>">
                <?= Lang::get('igvs.courses::lang.course.message.pilot_export_success') ?>
            </div>
            <div id="error" style="display: none; color: red;">
                <?= Lang::get('igvs.courses::lang.course.message.pilot_export_error') ?>
            </div>
            <div id="error_licence" style="display: none; color: red;">
                <?= Lang::get('igvs.courses::lang.course.message.pilot_export_error_licence') ?>
            </div>
            <div style="<?php if (!$show_Not_found_licencies_error) { echo 'display: none'; } ?>">
                <?= Lang::get('igvs.courses::lang.course.message.pilot_export_error_licence_not_found') ?>
            </div>
        </div>
        <div class="modal-footer" style="margin-top: 20px;">
            <button
                    type="button"
                    id="btn-export-to-pilot"
                    class="btn btn-primary"
                    disabled="true"
                    style="<?php if ($hide_licencies_select) { echo 'display: none'; } ?>"
            >
                <?= Lang::get('igvs.courses::lang.default.command.pilot_export') ?>
            </button>

            <div
                    id="btn-preparation-gvs"
                    class="loading-indicator size-small"
                    style="display: inline-block; position: relative; padding-bottom: 0px; padding-top: 0px;display: none;">
                <span></span>
                <div><?= Lang::get('igvs.courses::lang.course.message.please_wait') ?>...</div>
            </div>

            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
                    id="to-gvs-modal-content-cancel-popup"
                    style="<?php if ($hide_licencies_select) { echo 'display: none'; } ?>"
                    >
                <?= e(trans('backend::lang.form.cancel')) ?>
            </button>

            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
                    id="to-gvs-modal-content-close-popup"
                    style="<?php if (!$show_close_button) { echo 'display: none'; } ?>">
                <?= e(trans('backend::lang.form.close')) ?>
            </button>

        </div>
    </div>

    <?= Form::close() ?>
</div>