<?php

$export_pilot = \Session::get('igvs::courses.categories.export_pilot', 0) == 1 ? 'checked' : '';
$export_igvs = \Session::get('igvs::courses.categories.export_igvs', 0) == 1 ? 'checked' : '';
$export_cose = \Session::get('igvs::courses.categories.export_cose', 0) == 1 ? 'checked' : '';
$export_scorm = \Session::get('igvs::courses.categories.export_scorm', 0) == 1 ? 'checked' : '';
$export_beta = \Session::get('igvs::courses.categories.export_beta', 0) == 1 ? 'checked' : '';
$export_zip = \Session::get('igvs::courses.categories.export_zip', 0) == 1 ? 'checked' : '';
$export_maker = \Session::get('igvs::courses.categories.export_maker', 0) == 1 ? 'checked' : '';
$export_mobile = \Session::get('igvs::courses.categories.export_mobile', 0) == 1 ? 'checked' : '';
$export_zip_local = \Session::get('igvs::courses.categories.export_zip_local', 0) == 1 ? 'checked' : '';

$unlock_date_and_postfix = $export_igvs || $export_scorm || $export_cose || $export_pilot;
$unlock_beta_postfix = $export_beta;

$visable_style_date_and_postfix_box = !$unlock_date_and_postfix ? '' : 'display: none';
$visable_style_date_and_postfix_input = $unlock_date_and_postfix ? '' : 'display: none';
$visable_style_beta_postfix_box = !$unlock_beta_postfix ? '' : 'display: none';
$visable_style_beta_postfix_input = $unlock_beta_postfix ? '' : 'display: none';

?>
<div id="checkUpdatesPopup">
    <?= Form::open(['id' => 'updateForm']) ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= Lang::get('igvs.courses::lang.default.command.export') ?></h4>
    </div>
    <input type="hidden" id="current_topic_code" value="">
    <div id="updateContainer">
        <div class="modal-body">

            <div class="loading-indicator-container hidden">
                <p>&nbsp;</p>
                <div class="loading-indicator transparent">
                    <div><?= e(trans('system::lang.updates.update_loading')) ?></div>
                    <span></span>
                </div>
            </div>

            <div class="hidden" id="text_your_job_add">Your job add to Task List. ID </div>
            <div class="hidden" id="backend_url"><?= $backend_url ?></div>

            <div class="layout-row" id="to-gvs-modal-content">

                <from id="export-form">

                    <input type="hidden" name="course_id" value="<?= $course->id ?>">

                    <div class="form-tabless-fields">
                        <?php echo $this->makePartial('form/builds', ['builds' => $builds, 'current_build_id' => \Session::get('categoriesWidget.currentBuildId.' . $course->id)]); ?>

                        <div class="form-group text-field span-full">
                            <label><?= Lang::get('igvs.courses::lang.course.txt_field.topic') ?></label>
                            <?php
                                $topics = ['' => '-- '.Lang::get('igvs.courses::lang.topic.all_topics')] + $topics;
                                echo Form::select('topic_id', $topics, null, [
                                'class' => 'form-control custom-select',
                            ]);
                            ?>
                        </div>

                        <div class="form-group text-field span-full is-required" data-field-name="category" id="Form-field-Category-name-group">
                            <label for="Form-field-Category-name"><?= Lang::get('igvs.courses::lang.course.txt_field.color_theme') ?></label>
                            <?php
                                $course_theme = $course->include_all_themes ? 'all' : $course->theme;
                            ?>
                            <?= Form::select('theme', $themes, $course_theme, [
                                    'class' => 'form-control custom-select',
                            ]) ?>
                        </div>

                        <?php
                            $language_list = [
                                'en' => Lang::get('igvs.courses::lang.default.lang.en'),
                                'ru' => Lang::get('igvs.courses::lang.default.lang.ru'),
                            ];
                        ?>
                        <div class="form-group text-field span-full is-required" data-field-name="language" id="Form-field-language-group">
                            <label for="Form-field-language"><?= Lang::get('igvs.courses::lang.course.txt_field.language') ?></label>
                            <?= Form::select('language', $language_list, $course->language, [
                                    'class' => 'form-control custom-select',
                            ]) ?>
                        </div>

                        <div class="form-group checkbox-field span-left">
                            <input id="Form-field-show_module_start_screen" type="checkbox" name="show_module_start_screen" value="" class="align-left" autocomplete="off"<?= !$course->show_module_start_screen ? '' : ' checked' ?>>
                            <label for="Form-field-show_module_start_screen"><?= Lang::get('igvs.courses::lang.course.txt_field.show_module_start_screen') ?></label>
                        </div>

                        <div class="form-group checkbox-field span-left">
                            <input id="Form-field-set_topic_lock" type="checkbox" name="set_topic_lock" value="" class="align-left" autocomplete="off">
                            <label for="Form-field-set_topic_lock"><?= Lang::get('igvs.courses::lang.course.txt_field.set_topic_lock') ?></label>
                        </div>

                        <div class="form-group checkbox-field span-left">
                            <input id="Form-field-set_transfer_user_to_review" type="checkbox" name="set_transfer_user_to_review" value="" class="align-left" autocomplete="off">
                            <label for="Form-field-set_transfer_user_to_review" style="display: initial"><?= Lang::get('igvs.courses::lang.course.txt_field.set_transfer_user_to_review') ?></label>
                        </div>

                        <div class="form-group checkbox-field span-full">
                            <?php
                                $replace_browsed = \Session::get('igvs::courses.categories.replace_browsed', 0) == 1 ? 'checked' : '';
                            ?>
                            <input id="Form-field-replace_browsed" type="checkbox" name="replace_browsed" value="" class="align-left" autocomplete="off" <?= $replace_browsed ?>>
                            <label for="Form-field-replace_browsed"><?= Lang::get('igvs.courses::lang.course.txt_field.replace_browsed') ?></label>
                        </div>

                        <div class="form-group checkbox-field span-full">
                            <?php
                                //экспортировать только структуру и словарь (js_db.json)
                                $export_without_module_content = \Session::get('igvs::courses.categories.export_without_module_content', 0) == 1 ? 'checked' : '';
                            ?>
                            <input id="Form-field-export_without_module_content" type="checkbox" name="export_without_module_content" value="" class="align-left" autocomplete="off" <?= $export_without_module_content ?>>
                            <label for="Form-field-export_without_module_content"><?= Lang::get('igvs.courses::lang.course.txt_field.export_without_module_content') ?></label>
                        </div>

                        <div class="form-group checkbox-field span-full">
                            <input id="Form-field-create_maker_config" type="checkbox" name="create_maker_config" value="" class="align-left" autocomplete="off">
                            <label for="Form-field-create_maker_config"><?= Lang::get('igvs.courses::lang.course.txt_field.create_maker_config') ?></label>
                        </div>

                        <div class="form-group checkbox-field span-left" style="position: relative; margin-top: 30px;">
                            <input id="Form-field-to_scorm" type="checkbox" name="to_scorm" value="" class="align-left" autocomplete="off" <?= $export_scorm ?>>
                            <label for="Form-field-to_scorm"><?= Lang::get('igvs.courses::lang.course.txt_field.to_scorm') ?></label>
                        </div>

                        <div class="form-group text-field span-right"  data-field-name="date" data-control="datepicker" data-format="YYYY-MM-DD" data-min-date="<?= (int)date('Y')-5 ?>-01-01 00:00:00" data-max-date="<?= (int)date('Y')+1 ?>-12-31 00:00:00" style="position: relative; <?= $visable_style_date_and_postfix_input ?>">
                            <label for="Form-field-date"><?= Lang::get('igvs.courses::lang.default.date.name') ?></label>
                            <div class="input-with-icon right-align">
                                <i class="icon icon-calendar-o"></i>
                                <input id="Form-field-date" type="text" name="date" value="<?= date('Y-m-d') ?>" class="form-control align-right" autocomplete="off" data-datepicker>
                            </div>
                        </div>

                        <div class="form-group text-field span-right" data-field-name="date-blocked" name="Form-field-date" style="position: relative; opacity: 0.7;<?= $visable_style_date_and_postfix_box ?>">
                            <label for="Form-field-date"><?= Lang::get('igvs.courses::lang.default.date.name') ?></label>
                            <div class="input-with-icon right-align">
                                <i class="icon icon-calendar-o"></i>
                                <span class="form-control align-right" name="date-value-block" style="padding-right: 32px !important;"><?= date('Y-m-d') ?></span>
                            </div>
                        </div>

                        <div class="form-group checkbox-field span-left" style="position: relative; margin-top: 5px;">
                            <input id="Form-field-to_cose" type="checkbox" name="to_cose" value="" class="align-left" autocomplete="off" <?= $export_cose ?>>
                            <label for="Form-field-to_cose"><?= Lang::get('igvs.courses::lang.course.txt_field.to_cose') ?></label>
                        </div>

                        <div class="form-group text-field span-right"  data-field-name="postfix" style="<?= $visable_style_date_and_postfix_input ?>">
                            <label for="Form-field-postfix"><?= Lang::get('igvs.courses::lang.course.txt_field.postfix') ?></label>
                            <div class="input-with-icon right-align">
                                <input id="Form-field-postfix" type="text" name="postfix" value="" class="form-control align-left" autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group text-field span-right"  data-field-name="postfix-blocked" style="opacity: 0.7;<?= $visable_style_date_and_postfix_box ?>">
                            <label for="Form-field-postfix"><?= Lang::get('igvs.courses::lang.course.txt_field.postfix') ?></label>
                            <div class="input-with-icon right-align">
                                <span name="postfix-value-block" class="form-control align-left"></span>
                            </div>
                        </div>

                        <div class="form-group checkbox-field span-left" style="position: relative; margin-top: 5px;">
                            <input id="Form-field-to_igvs" type="checkbox" name="to_igvs" value="" class="align-left" autocomplete="off" <?= $export_igvs ?>>
                            <label for="Form-field-to_igvs"><?= Lang::get('igvs.courses::lang.course.txt_field.to_igvs') ?></label>
                        </div>

                        <div class="form-group checkbox-field span-left" style="position: relative; margin-top: 5px;">
                            <input id="Form-field-to_pilot" type="checkbox" name="to_pilot" value="" class="align-left" autocomplete="off" <?= $export_pilot ?>>
                            <label for="Form-field-to_pilot"><?= Lang::get('igvs.courses::lang.course.txt_field.to_pilot') ?></label>
                        </div>

                        <div class="form-group checkbox-field span-left" style="position: relative; margin-top: 5px;">
                            <input id="Form-field-to_zip" type="checkbox" name="to_zip" value="" class="align-left" autocomplete="off" <?= $export_zip ?>>
                            <label for="Form-field-to_zip"><?= Lang::get('igvs.courses::lang.course.txt_field.to_zip') ?></label>
                        </div>

                        <div class="form-group checkbox-field span-left" style="position: relative; margin-top: 5px;">
                            <input id="Form-field-to_maker" type="checkbox" name="to_maker" value="" class="align-left" autocomplete="off" <?= $export_maker ?>>
                            <label for="Form-field-to_maker"><?= Lang::get('igvs.courses::lang.course.txt_field.to_maker') ?></label>
                        </div>

                        <div class="form-group checkbox-field span-left" style="position: relative; margin-top: 5px;">
                            <input id="Form-field-to_zip_local" type="checkbox" name="to_zip_local" value="" class="align-left" autocomplete="off" <?= $export_zip_local ?>>
                            <label for="Form-field-to_zip_local"><?= Lang::get('igvs.courses::lang.course.txt_field.to_zip_local') ?></label>
                        </div>


                        <div class="form-group checkbox-field span-left" style="position: relative; margin-top: 5px;">
                            <input id="Form-field-to_mobile" type="checkbox" name="to_mobile" value="" class="align-left" autocomplete="off" <?= $export_mobile ?>>
                            <label for="Form-field-to_mobile"><?= Lang::get('igvs.courses::lang.course.txt_field.to_mobile') ?></label>
                        </div>
                    </div>

                    <div class="form-tabless-fields">
                        <div class="form-group checkbox-field span-left" style="position: relative; margin-top: 30px;">
                            <input id="Form-field-to_beta" type="checkbox" name="to_beta" value="" class="align-left" autocomplete="off" <?= $export_beta ?>>
                            <label for="Form-field-to_beta"><?= Lang::get('igvs.courses::lang.course.command.to_beta') ?></label>
                        </div>

                        <div class="form-group text-field span-right" data-field-name="beta_folder" style="<?= $visable_style_beta_postfix_input ?>">
                            <label for="Form-field-postfix"><?= Lang::get('igvs.courses::lang.course.txt_field.beta_folder_name') ?></label>
                            <div class="input-with-icon right-align">
                                <input id="Form-field-beta_folder" type="text" name="beta_folder" value="" class="form-control align-left" autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group text-field span-right" data-field-name="beta_folder-blocked" style="opacity: 0.7;<?= $visable_style_beta_postfix_box ?>">
                            <label for="Form-field-postfix"><?= Lang::get('igvs.courses::lang.course.txt_field.beta_folder_name') ?></label>
                            <div class="input-with-icon right-align">
                                <span name="beta_folder-value-block" class="form-control align-left"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-tabless-fields">
                        <div class="form-group text-field span-full" data-field-name="courses_id">
                            <label for="Form-field-postfix"><?= Lang::get('igvs.courses::lang.course.txt_field.courses_id') ?></label>
                            <div class="input-with-icon left-align">
                                <textarea id="Form-field-courses_id" type="text" name="courses_id" value="" class="form-control align-left" autocomplete="off"></textarea>
                            </div>
                        </div>
                    </div>
                </from>
            </div>
            <div id="no_latest_version_notice" style="color: red; visibility: hidden;"><span id="no_latest_version_notice_count" style="font-weight: bold"></span> <?= Lang::get('igvs.courses::lang.course.message.no_latest_version_notice') ?></div>
        </div>
        <div class="modal-footer" style="margin-top: 20px;">
            <button
                    type="button"
                    class="btn btn-primary"
                    data-dismiss="popup"
                    id="btn-continue"
                    style="display: none">
                Continue
            </button>

            <button
                    type="button"
                    id="btn-export-to-release-cloud"
                    class="btn btn-primary"
            >
                <?= Lang::get('igvs.courses::lang.default.command.export') ?>
            </button>

            <div
                    id="btn-preparation-gvs"
                    class="loading-indicator size-small"
                    style="display: inline-block; position: relative; padding-bottom: 0px; padding-top: 0px;display: none;">
                <span></span>
                <div>Preparation...</div>
            </div>

            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
                    id="to-gvs-modal-content-cancel-popup">
                <?= e(trans('backend::lang.form.cancel')) ?>
            </button>

            <button
                    type="button"
                    class="btn btn-primary"
                    data-dismiss="popup"
                    id="btn-open-task"
                    style="display: none">
                Open Task
            </button>

            <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup"
                    id="to-gvs-modal-content-close-popup"
            style="display: none">
                <?= e(trans('backend::lang.form.close')) ?>
            </button>

        </div>
    </div>

    <?= Form::close() ?>
</div>
<script>
    var folders = <?= json_encode($folders); ?>;

//    $('body').on('change', '[name=topic_id]', function() {
//        var val = $(this).val();
//        $('[name=beta_folder]').val(folders[val]);
//        $('[name=beta_folder-value-block]').text(folders[val]);
//    });

//    $('[name=topic_id]').change();

    setTimeout(function() {
        var date = new Date();
        var year = date.getFullYear(),
            month = date.getMonth() + 1,
            date_num = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();

        month = month < 10 ? '0' + month : month;
        date = year + '-' + month + '-' + date_num;

        $('#Form-field-date').val(date);
    }, 100);
</script>
