
<?php if (!\Config::get('cms.techMode', 0)) { ?>
    <?= $toolbar->render() ?>
<?php } ?>

<?= $this->makeLayoutPartial('~/plugins/backend/layouts/backend_custom_categories_breadcrumbs') ?>
<?= $this->makeLayoutPartial('~/plugins/backend/layouts/backend_custom_categories_breadcrumbs_expertise') ?>

<?php if (!\Config::get('cms.techMode', 0)) { ?>
<?= $this->widget->categoriesWidget->render() ?>
<?php } else { ?>
<div style="position: relative; width: 100%; height: 100%">
    <div style="position: absolute; top: 50%; left: 50%; margin-top: -40px; margin-left: -375px; font-size: 1.5em;">
        Dear users,<br>
        our system will function as a demo-version till 7 am, 8 October 2018.<br>
        All your actions performed in the system before the mentioned period will be lost.
    </div>
</div>
<?php } ?>

<script>
    $(document).ready(function() {
        $(document).on('click', '[target=workspace_frame]', function() {
            document.getElementById('workspace_frame').removeAttribute('data-designer-state-loaded');
        });
    });
</script>