<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href=".."><?= e(trans('academy.popp::syllabus.label')) ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>
<style>
    [data-cmd="html"], [data-cmd="insertHR"], [data-cmd="insertFile"], [data-cmd="insertAudio"], [data-cmd="insertVideo"], [data-cmd="insertImage"], [data-cmd="formatOL"], [data-cmd="paragraphStyle"], [data-cmd="quote"] {
        display: none;
    }
    .form-group.switch-field {
        margin-top: 30px;
    }
    .layout > .layout-cell.layout-container {
        background-color: #fae5c7;
    }
    .field-repeater li.field-repeater-item {
        background-color: rgba(255, 152, 0, 0.2);
    }
    .field-repeater .field-repeater-add-item {
        background-color: #4ea5e0;
    }
    .field-repeater .field-repeater-add-item >a {
        color: #fff;
    }
</style>
<?php if (!$this->fatalError):?>

    <?= Form::open(['class' => 'layout'])?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                        type="submit"
                        data-request="onSave"
                        data-hotkey="ctrl+s, cmd+s"
                        data-load-indicator="Saving Type..."
                        class="btn btn-primary">
                    <?= e(trans('backend::lang.form.save')) ?>
                </button>
                <button
                        type="button"
                        data-request="onSave"
                        data-request-data="close:1"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-load-indicator="Creating Type..."
                        class="btn btn-default">
                    <?= e(trans('backend::lang.form.save_and_close')) ?>
                </button>
                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('academy/popp/syllabuses') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
            </div>
        </div>

<?= Form::close() ?>

<?php else: ?>

<p class="flash-message static error"><?= e($this->fatalError) ?></p>
<p><a href="<?= Backend::url('academy/popp/syllabuses') ?>" class="btn btn-default">Return to types list</a></p>

<?php endif ?>