<style>
    .course-actions {
        position: relative;
        min-width: 83px;
        min-height: 36px;
    }

    .course-actions .course-disable {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: #0181b9;
        background-color: rgb(249, 249, 249);
    }
    .gray:before,
    .gray {
        color: #999! important
    }
</style>

<?php
    $stat = count($record->jobs);
?>

<div class="course-actions" id="course-actions-<?= $record->id ?>">
    <?php if ($stat): ?>
        <div class="course-disable"><?= trans('igvs.courses::course.message.waiting') ?></div>
    <?php else:
        $classDeleteOrigin = $column->config['buttons']['delete']['class'];
        if (!$this->checkAccessOperation($record->id, 'DeleteCoursesWhichDoNotOwner')
                && $record->responsible_id != $this->user->id
                && !$this->user->is_superuser) {
            $column->config['buttons']['delete']['class'] .= ' disabled gray';
        }

        $classCommentsOrigin = $column->config['buttons']['comments']['class'];
        if (!$record->iCanSeeExaminationSystem()) {
            if (!$this->user->hasPermission('igvs.courses.bag_method')) {
                $column->config['buttons']['comments']['class'] = 'hide';
            }
            else {
                $column->config['buttons']['comments']['class'] .= ' disabled gray';
            }
        }

        $classDuplicateOrigin = $column->config['buttons']['copy']['class'];
        if (($this->user->hasPermission('igvs.courses.pilot_user')
                && $this->user->hasPermission('igvs.courses.bag_method')
                && !$this->user->hasPermission('igvs.courses.duplicate'))
                || \Session::get('igvs.courses.is_expertise_system', 0)) {
            $column->config['buttons']['copy']['class'] .= ' disabled gray';
        }

        $column->config['buttons']['preview']['href'] = '/preview/' . $record->getPreviewId();
    ?>

    <?= $this->makePartial('$/academy/system/partials/buttons.htm', $vars) ?>
    <?php
        $column->config['buttons']['delete']['class'] = $classDeleteOrigin;
        $column->config['buttons']['copy']['class'] = $classDuplicateOrigin;
        $column->config['buttons']['comments']['class'] = $classCommentsOrigin;
    endif ?>
</div>
