<div class="pull-left">
    <a
        href="<?= \Backend::url('igvs/courses/courses/countsTableXls/' . $model->id) ?>"
        class="btn btn-warning oc-icon-list table"
        title="<?= trans('igvs.courses::lang.default.command.download_xls') ?>"
        target="_blank">
        <?= trans('igvs.courses::lang.default.command.download_xls') ?>
    </a>
</div>

<div style="
        top: 45px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;">
<?= $this->makePartial('frame_form', [
    'field' => $field,
    'url' => \Backend::url('igvs/courses/courses/countsTable/' . $model->id)
]) ?>
</div>
