<table border="1" class="count_question">
    <tr>
        <th rowspan="2" class="text-left"><?= trans('igvs.courses::course.amounts.topic_name') ?></th>
        <th rowspan="2"><?= trans('igvs.courses::course.amounts.amount_modules') ?></th>
        <th rowspan="2"><?= trans('igvs.courses::course.amounts.amount_questions') ?></th>
        <th colspan="<?= count($behavior_types) ?>"><?= trans('igvs.courses::course.amounts.amount_modules_by_behaviors') ?></th>
        <th colspan="<?= count($behavior_types) ?>"><?= trans('igvs.courses::course.amounts.amount_questions_by_behaviors') ?></th>
    </tr>
    <tr>
        <?php foreach ($behavior_types as $bihavior): ?>
        <th><?= $bihavior ?></th>
        <?php endforeach; ?>
        <?php foreach ($behavior_types as $bihavior): ?>
        <th><?= $bihavior ?></th>
        <?php endforeach; ?>
    </tr>

<?php foreach ($topics as $topic_id => $topic_name): ?>
    <tr>
        <td class="text-left"><?= $topic_name ?></td>
        <td><?= $count_modules_topic[$topic_id] ?></td>
        <td><?= $count_questions_topics[$topic_id] ?></td>
        <?php foreach ($behavior_types as $bihavior): ?>
            <td><?= isset($count_modules_behavior_topic[$topic_id][$bihavior]) ?  $count_modules_behavior_topic[$topic_id][$bihavior] : 0; ?></td>
        <?php endforeach; ?>
        <?php foreach ($behavior_types as $bihavior): ?>
            <td><?= isset($count_questions_behavior_topic[$topic_id][$bihavior]) ?  $count_questions_behavior_topic[$topic_id][$bihavior] : 0; ?></td>
        <?php endforeach; ?>
    </tr>
<?php endforeach; ?>

    <tr>
        <td></td>
        <td><?= $count_modules_course ?></td>
        <td><?= $count_questions_course ?></td>

        <?php foreach ($behavior_types as $bihavior): ?>
            <td><?= isset($count_modules_behavior_course[$bihavior]) ? $count_modules_behavior_course[$bihavior] : 0 ?></td>
        <?php endforeach; ?>
        <?php foreach ($behavior_types as $bihavior): ?>
            <td><?= isset($count_questions_behavior_course[$bihavior]) ? $count_questions_behavior_course[$bihavior] : 0 ?></td>
        <?php endforeach; ?>
    </tr>
</table>
