<style>
    div.module_theme_warning_data.content {
        margin: 15px;
    }
    table.module_theme_warning_data td {
        padding: 2px 5px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="popup">×</button>
    <h4 class="modal-title">Module theme set</h4>
</div>
<div class="module_theme_warning_data content">
    <span style="font-weight: bold; color: red;">WARNING!</span><br>
    <p><?= Lang::get('igvs.courses::lang.course.message.no_theme').' ('.$course->theme ?>):</p>
    <table class="module_theme_warning_data">
    <?php foreach ($no_theme_modules as $v): ?>
       <tr><td><?= $v ?></td></tr>
    <?php endforeach ?>
    </table>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="popup">
            <i class="fa fa-times"></i>Close</button>
    </div>
</div>