<?php
    $roles = [];
    if ($member = $formModel->members()->where('user_id', $record->user_id)->first()) {
        foreach ($member->roles as $role) {
            $roles[] = $role->name;
        }
    }
?>
<label
    style="width: 100%">
    <b><?= e($record->user->first_name . ' ' . $record->user->last_name . ' (' . $record->user->login . ') "' . implode(', ', $roles) . '"') ?></b>
    <div
        style="float: right">
        <?= $record->created_at ?>
    </div>
</label>
<?= $record->description ?>
<?= $this->makePartial('$/academy/system/partials/fileColumn.htm', ['value' => $record->files]) ?>