<div style="
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    "
    class="loader">
    <iframe id="frame_<?= $field->fieldName ?>_id" style="
        width: 100%;
        height: 100%;
        border: none;">
    </iframe>
    <style>
    .loader:after {
        content: '';
        position: absolute;
        left: 50%;
        border-radius: 50%;
        top: 50%;
        background-size: contain;
        width: 10px;
        height: 10px;
        margin: -5px;
        box-shadow: 17px 0 rgba(0,0,0, .142), 12px 12px rgba(0,0,0, .285), 0 17px rgba(0,0,0, .428), -12px 12px rgba(0,0,0, .571), -17px 0 rgba(0,0,0, .714), -12px -12px rgba(0,0,0, .857), 0 -17px #000;
        animation: rotate .75s steps(8, end) infinite;
    }
    .loader > * {
        opacity: 0.3;
        pointer-events: none;
    }
    @keyframes rotate {
        from {transform: rotateZ(0deg)}
        to {transform: rotateZ(360deg)}
    }
    </style>
    <script>
        window.addEventListener("load", function() {
            var frame = document.getElementById('frame_<?= $field->fieldName ?>_id');
            frame.addEventListener("load", function() {
                frame.parentNode.classList.remove('loader');
            });
            setTimeout(function() {
                if (frame.offsetWidth > 0) {
                    frame.setAttribute('src', "<?= $url ?>");
                }
                else {
                    document.querySelector('[data-target="#' + $(frame).closest(".tab-pane")[0].id + '"]').addEventListener('click', function() {
                        if (!frame.hasAttribute('src')) {
                            frame.setAttribute('src', "<?= $url ?>");
                        }
                    });
                }
            }, 0);
        });
    </script>
</div>