<div>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="popup">&times;</button>
            <h4 class="modal-title"><?= Lang::get('igvs.courses::lang.course.command.import_rubricator') ?></h4>
        </div>

        <div id="updateContainer">
            <div class="modal-body">
                <div class="layout-row">
                    
                    <div class="form-tabless-fields">

                        <div style="padding: 10px">
                            <?= e(trans('igvs.courses::lang.course.message.clear_dict_and_import_from_intro')) ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button
                        type="button"
                        id="update-apply"
                        class="btn btn-primary"
                        data-handler="onClearImportFromIntroSuccess"
                        data-request-data='{"course_id":"<?= $course_id ?>"}'
                        data-keyboard="false">
                    <?= e(trans('igvs.courses::lang.default.command.import')) ?>
                </button>

                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup">
                    <?= e(trans('backend::lang.form.cancel')) ?>
                </button>

            </div>
        </div>
</div>

<script>
    $("#update-apply").on("click", function() {
        $.request($(this).data().handler, {
            data: $(this).data('request-data')
        });
    });
</script>