<style>
    .dict-table {
        width: 100%;
        margin-bottom: 50px;
    }
    .dict-table td {
        padding: 2px 5px;
    }
    .dict-table td:nth-child(1),
    .dict-table td:nth-child(5) {
        text-align: center;
    }
    .dict-table tr:hover {
        background: lightgrey;
    }
</style>
<div>
    <?= Form::open(['id' => 'import-dict', 'enctype' => 'multipart/form-data']) ?>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="popup">&times;</button>
            <h4 class="modal-title"><?= Lang::get('igvs.courses::lang.default.command.import') ?></h4>
        </div>

        <div>
            <div class="modal-body">
                <div class="layout-row">

                    <input type="hidden" name="course_id" value="<?= $course->id ?>">

                    <div class="form-tabless-fields">

                        <div class="form-group text-field span-full is-required" id="dict-import-form-file">
                            <label style="text-transform: capitalize"><?= Lang::get('igvs.courses::lang.course.file') ?> (CSV, max 5Mb)</label>

                            <?= Form::file('dict_file', ['accept' => 'application/csv,text/x-csv,application/x-csv,text/x-comma-separated-values,text/csv,text/comma-separated-values']) ?>
                        </div>

                        <div style="padding: 10px">
                            <a href="<?= \Backend::url('igvs/courses') ?>/<?= $course->id ?>/importdictexample" target="_blank">
                                <?= trans('igvs.courses::lang.default.command.download_example') ?>
                            </a>
                        </div>

                        <div id="response"></div>
                        <div id="loading" style="display: none">Загрузка...</div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <button
                    type="button"
                    id="btn-parse-dict"
                    class="btn btn-primary"
                    data-href="<?= \Backend::url('igvs/courses') ?>/<?= $course->id ?>/dictparse"
                    disabled>
                    <?= Lang::get('igvs.courses::lang.default.command.import') ?>
                </button>

                <button
                    type="button"
                    id="btn-import-dict"
                    class="btn btn-primary"
                    data-href="<?= \Backend::url('igvs/courses') ?>/<?= $course->id ?>/dictimport" style="display: none">
                    <?= Lang::get('igvs.courses::vocabulary.continue') ?>
                </button>

                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="popup">
                    <?= e(trans('backend::lang.form.cancel')) ?>
                </button>

            </div>
        </div>

    <?= Form::close() ?>
</div>

<script>
    var accept_types = [
        'application/csv',
        'text/x-csv',
        'application/x-csv',
        'application/vnd.ms-excel',
        'text/x-comma-separated-values',
        'text/csv',
        'text/comma-separated-values',
    ],
    accept_type_names = [
        'csv'
    ];


    $('[name="dict_file"]').bind('change', function() {
        $('#btn-parse-dict')
            .attr('disabled', true)
            .prop('disabled', true);

        if (!this.files.length)
            return;

        var max_filesize_mb = 2;
        var filesize = this.files[0].size/1024/1024;

        if (filesize > max_filesize_mb) {
            alert('Размер файла(-ов) ' + filesize.toFixed(2) + 'Мб. Максимально допустимый размер ' + max_filesize_mb + 'Мб.');
            this.value = '';
            return;
        }

        if (accept_types.indexOf(this.files[0].type) == -1) {
            alert('Выбран(-ы) файл(-ы) неподдерживаемого типа. Разрешённые типы файлов: ' + accept_type_names.join(', '));
            this.value = '';
            return;
        }

        $('#btn-parse-dict')
            .attr('disabled', false)
            .prop('disabled', false);
    });

function setOnClickBtnParseDict() {
    $('#btn-parse-dict').one("click", function() {
        var href = $(this).data('href');

        $('#response').html('<b>Загрузка...</b>');

        ajax_iframe('import-dict', href, function(ret) {
            setOnClickBtnParseDict();
            $('#response').html(ret);

            if (ret.indexOf('CODE 319') !== -1)
                return;

            $('#btn-import-dict')
                .show()
                .focus();

            $('#btn-parse-dict')
                .removeClass('btn-primary')
                .addClass('btn-default');

            $('#check-all').on('click', function() {
                var checked = $(this).prop('checked');
                $('.dict-table .approve')
                    .attr('checked', checked)
                    .prop('checked', checked);
            });
        });
        return false;
    });
}

function setOnClickBtnImportDict() {
    $('#btn-import-dict').one("click", function() {
        var href = $(this).data('href');

        $('#response').hide();
        $('#loading').show();

        ajax_iframe('import-dict', href, function(ret) {
            setOnClickBtnImportDict();
            $('#response').html(ret);

            $('#response').show();
            $('#loading').hide();

            // $.request('onPaginate', {
            //     data: {page: 1}
            // });
        });
        return false;
    });
}

setOnClickBtnParseDict();
setOnClickBtnImportDict();

</script>
