<?php
    $is_expertise = \Session::get('igvs.courses.is_expertise_system', 0);
?>

<div data-control="toolbar">

    <?php if (($user->is_superuser || $user->hasPermission('igvs.courses.create')) && !$is_expertise): ?>

        <a
            href="<?= Backend::url('igvs/courses/create') ?>"
            class="btn btn-primary oc-icon-plus">
            <?= Lang::get('igvs.courses::lang.course.new') ?>
        </a>

    <?php endif ?>

    <?php if ($user->hasAccess('igvs.courses.exportlist')): ?>
        <a
            href="<?= Backend::url('igvs/courses/csv') ?>"
            onclick="this.setAttribute('disabled', true)"
            class="btn btn-success oc-icon-cloud-upload">
            <?= Lang::get('igvs.courses::course.action.export') ?>
        </a>
    <?php endif ?>


    <?php if ($user->is_superuser): ?>
        <span is="vuejs" name="btn-refresh-versions" :options="{
            template:
                '<button class=\'btn btn-success oc-icon-refresh\' :class=\'{disabled: checked.length === 0}\' @click=\'click\'>\
                    <?= Lang::get('igvs.courses::lang.course.refresh_versions') ?>\
                </button>',
            data: function() {
                return {
                    checked: []
                }
            },
            mounted: function() {
                this.$parent.$parent.$parent.$el.addEventListener('click', this.refreshChecked);
            },
            methods: {
                afterClick: function() {
                    this.checked = this.$parent.$parent.$parent.$slots.list[0].componentInstance.value
                },
                refreshChecked: function(event) {
                    event.view.setTimeout(this.afterClick, 0);
                },
                refreshVersions: function() {

                },
                click: function(event) {
                    event.view.$.request('onRefreshVersions', {
                        data: {
                            checked: this.checked
                        },
                        loading: '#loading',
                        confirm: '<?= Lang::get('igvs.courses::lang.course.confirm_refresh_versions') ?>'
                    });
                }
            }
        }"></span>
    <?php endif ?>
</div>

<div id="loading" class="popup-backdrop fade in loading" style="display: none;">
    <div class="modal-content popup-loading-indicator"></div>
</div>