<style>
    .materials-frame {
        height: 100%;
        overflow: hidden;
    }
    .materials-frame > iframe {
        width: 100%;
        border: none;
        height: 100%;
    }
</style>
<div class="materials-frame">
    <iframe src="../materials_update/<?= $this->params[isset($this->params[0]) ? 0 : 'id'] ?>" marginheight="0"></iframe>
</div>