<div data-control="toolbar">
    <a class="btn btn-sm btn-secondary oc-icon-file"
        data-control="popup"
        data-size="huge"
        data-handler="onRelationButtonCreate"
        href="javascript:;">
        <?= e(trans('backend::lang.relation.add_name', ['name'=>trans($relationLabel)])) ?>
    </a>
    <button class="btn btn-sm btn-secondary oc-icon-trash-o"
        data-request="onRelationButtonDelete"
        data-request-confirm="<?= e(trans('backend::lang.relation.delete_confirm')) ?>"
    <?php if ($relationViewMode != 'single'): ?>
        onclick="$(this).data('request-data', {
            checked: $('#<?= $this->relationGetId('view') ?> .control-list').listWidget('getChecked')
        })"
        disabled="disabled"
        data-trigger-action="enable"
        data-trigger="#<?= $this->relationGetId('view') ?> .control-list input[type=checkbox]"
        data-trigger-condition="checked"
    <?php endif ?>
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.relation.delete')) ?>
    </button>
</div>