<div class="modal-body" style="max-height: 500px; min-height: 100px; overflow-y: auto; overflow-x: auto;">

    <?php if (!empty($text)): ?>
        <p><?= $text ?></p>
    <?php endif ?>

    <?php if (!empty($output)): ?>
        <pre style="font-size: 10px;"><?= $output ?></pre>
    <?php endif ?>

</div>
<div class="modal-footer">

    <?php if (!empty($handler)): ?>
        <button
            type="button"
            id="update-apply"
            class="btn btn-primary"
            data-handler="<?= $handler ?>"
            data-keyboard="false">
            <?= $output ? e(trans('system::lang.updates.update_label')) : e(trans('system::lang.updates.force_label')) ?>
        </button>
    <?php endif ?>

    <button
        type="button"
        class="btn btn-default"
        data-dismiss="popup">
        <?= e(trans('backend::lang.form.cancel')) ?>
    </button>

</div>