<?php

$lang_part = !((int)$record->public_last_user_id) ? 'unpublished' : 'published';
$title = \Lang::get('igvs.courses::lang.course.status.' . $lang_part);
$icon_part = !((int)$record->public_last_user_id) ? '' : "<div style='background-color: #2ecc71;' title='{$title}' class='btn-sm empty suuuuup oc-icon-check'></div>";

echo '<div class="status_icon_text_box">' . $icon_part . $title . '</div>';