<?php
    use Igvs\Courses\Models\ModuleContent;
    // use Form;
    $modules = ModuleContent::with(['module' => function ($module) {
            $module->select(['id','name','path'])
                ->with(['versions' => function ($versions) {
                    $versions->select(['version','status','created_at','release_date','module_id']);
                }]);
        }])
        ->where('course_id', $formModel->id)
        ->select('id','module_id','version','name','code')
        ->get();
?>

<style>
    #version-list .table {
        width: 100%;
        display:table;
        border-collapse: collapse;
    }

    #version-list .table .td,
    #version-list .table .th {
        border: 1px solid #ddd;
        display: table-cell;
        padding: 8px;
    }

    #version-list .table .th {
        border-bottom-width: 2px;
        font-weight: 900;
        display: table-cell;
    }

    #version-list .table .td {
        font-size: 12px;
    }
    #version-list .table .td > * {
        padding: 0;
    }

    #version-list .cheb:before
    {
        content:'☐';
        font-size: 16px;
    }
    #version-list .hidden
    {
        display:none;
    }
    #version-list input:checked + label
    {
        background-color: #eee;
    }
    #version-list input:checked + label .cheb:before
    {
        content:'☑';
    }
    #version-list .table .tr {
        display: table-row;
    }
    #version-list .table .tr.text-warning {
        color: #a94442;
    }

    #version-list .table .tr.text-success {
        color: #000;
    }
    .myfilter1
    {
        display: inline-block;
        position: relative;
        width:250px;
        max-width: 100%;
        background-color: #fff;

        height: 36px;
        line-height: 1.42857143;
        padding: 9px 23px 9px 11px;
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        color: #555;
        font-size: 13px;
        outline: 0;
        box-sizing: border-box;
        cursor: pointer;
        vertical-align: top;
    }
    .myfilter1 div
    {
        height:0px;
        width:100%;
        left:0;
        top:100%;
        position: absolute;
        overflow: auto;
        transition-duration: 0.5s;
        background-color: #fff;
        z-index: 1;
        border: 1px solid #e0e0e0;
    }
    .myfilter1:before {
        content: "\f107";
        position: absolute;
        font-family: FontAwesome;
        right:10px;
        top:10px;
    }
    .myfilter1:focus div,
    .myfilter1 div:hover
    {
        height: 200px;
        padding: 10px;

    }
    .myfilter1:focus:before
    {
        content: "\f106";
    }
    .myfilter1 label
    {
        display: block;

    }
    .myfilter1 input
    {
        margin-right: 10px;
        vertical-align: bottom;
        display: inline-block;
    }
</style>


<!-- toolbar -->
<div style="margin-bottom: 20px;">

    <div
        class="field-datepicker"
        data-control="datepicker"
        data-min-date="2000-01-01 00:00:00"
        data-max-date="2020-12-31 00:00:00"
        style="width: 240px; display: inline-block;">

        <div class="input-with-icon right-align">
            <i class="icon icon-calendar-o"></i>
            <input
                type="text"
                id="refresh-date"
                value="<?= date('Y-m-d') ?>"
                class="form-control align-right"
                autocomplete="off"
                style="height: 36px;">
        </div>
    </div>

    <a
        href="javascript:;"
        id="btn-update-version"
        class="btn btn-success oc-icon-refresh">
        <?= Lang::get('igvs.courses::lang.default.command.update') ?>
    </a>


    <div class="myfilter1" tabindex="-1" id="myfilter_templates">
        <b><?= Lang::get('igvs.courses::lang.module.command.sel_templates') ?></b>
        <div>
            <?php
                $allMofules = [];
                foreach($modules as $module) {
                    if ($module->module) {
                        $allMofules[$module->module_id] = $module->module->name.' ('.$module->module->path.')';
                    }
                }
                asort($allMofules);
                foreach($allMofules as $id => $name): ?>
                    <label><input type="checkbox" value="<?= $id ?>" onchange="selectChanged(this.value,this.checked)" checked><?= $name ?></label>
                <?php endforeach ?>
        </div>
    </div>
    <!--div style="max-width:100%;width:300px;display: inline-block"-->
    <!--/div-->
</div>
<!-- version list -->
<div id="version-list">
    <?= $this->makePartial('version_list', [
        'modules' => $modules,
        'date' => date('Y-m-d')
    ]) ?>
</div>

<!-- loader -->
<div id="loading" class="popup-backdrop fade in loading" style="display: none;">
    <div class="modal-content popup-loading-indicator"></div>
</div>

<script>
    function selectChanged(value,checked) {

        $("#version-list label[data-template-id]").each(function() {
            var data = $(this).data();
            if(value==data.templateId)
            {
                if(checked)
                    $(this).removeClass('hidden');
                else
                    $(this).addClass('hidden');
            }
        });
    }

    function hiddenAllNotChecked()
    {
        $("#myfilter_templates input:not(:checked)").each(function() {
            selectChanged(this.value,false);
        });
    }

    // check all
    function select_all(that) {
        var $that = $(that);
        $('#version-list :checkbox').each(function() {
            if(!$(this).next().hasClass('hidden')) {
                this.checked = $that.is(':checked');
            }
        });
    }

    $(document).ready(function() {
        $("#refresh-date").change(function() {
            $.request('onRefreshVersionList', {
                data: {
                    course_id: <?= $formModel->id ?>,
                    date: $("#refresh-date").val()
                },
                loading: "#loading"
            });
        });

        // update
        $("#btn-update-version").click(function() {

            var a = [];
            $("#version-list input[type=checkbox]:checked + label:not(.hidden) select[name=module-version]").each(function() {
                var data = $(this).data();
                if (data.currentVersion !== $(this).val()) {
                        a[a.length] = {
                            module_id: data.moduleId,
                            version: $(this).val()
                        };
                }
            });

            if (a.length) {
                $.request('onUpdateVersion', {
                    data: {
                        course_id: <?= $formModel->id ?>,
                        data: $("#refresh-date").val(),
                        versions: a
                    },
                    loading: "#loading"
                });
            }
        });


    });

</script>