<div class="table">
    <label class="control-filter tr">
        <div class="th"><input type="checkbox" onchange="select_all(this)"></div>
        <div class="th"><?= Lang::get('igvs.courses::lang.course.txt_field.module') ?></div>
        <div class="th"><?= Lang::get('igvs.courses::lang.default.txt_field.code') ?></div>
        <div class="th"><?= Lang::get('igvs.courses::lang.module.txt_field.template') ?></div>
        <div class="th"><?= Lang::get('igvs.courses::lang.module.version.current') ?></div>
        <div class="th"><?= Lang::get('igvs.courses::lang.module.version.latest') ?></div>
        <div class="th"><?= Lang::get('igvs.courses::lang.module.command.set_version') ?></div>
    </label>
    <?php
        $versions = [];
        $availables = [];
        foreach ($modules as $module):
            if (!$module->module) {
                continue;
            }
            if (!isset($availables[$module->module->id][$module->version])) {
                $availables[$module->module->id][$module->version] = $module->module->getLatestAvailable($module->version, $date);
            }
            $available = $availables[$module->module->id][$module->version];
            $class = $available != $module->version ? 'text-warning' : 'text-success';
            if (!isset($versions[$module->module_id])) {
                $versions[$module->module_id] = [];
                foreach ($module->module->versions as $version) {
                    $versions[$module->module_id][$version->version] = "$version->version ($version->status : " . strstr($version->created_at, ' ', true) . ')';
                }
            }
        ?>
        <input id="<?= $module->id ?>" type="checkbox" style="display:none">
        <label
            data-template-id="<?= $module->module_id ?>"
            for="<?= $module->id ?>"
            class="tr <?= $class ?>"
            data-module-template="<?= $module->module->path ?>">
            <div class="td"><div class="cheb"></div></div>
            <div class="td"><?= $module->name ?></div>
            <div class="td"><?= $module->code ?></div>
            <div class="td"><?= $module->module->name ?></div>
            <div class="td"><?= empty($versions[$module->module_id][$module->version])?
                                    ''
                                :
                                    $versions[$module->module_id][$module->version] ?></div>
            <div class="td"><?= reset($versions[$module->module_id]) ?></div>
            <label class="td">
                <div class="form-group-sm"><?=

                    Form::select('module-version', $versions[$module->module_id], $available, [
                        'data-module-id'        => $module->id,
                        'data-current-version'  => $module->version,
                        'class'                 => 'form-control',
                    ]) ?>
                </div>
            </label>
        </label>
    <?php endforeach ?>
    <script>
        hiddenAllNotChecked();
    </script>
</div>