<?php
    $user = \BackendAuth::getUser();
?>

<?php if ($user->is_superuser || $course->checkAccessOperation($course->id, 'dictionaryAccessEdit')) : ?>
<div data-control="toolbar">
    <a class="btn btn-sm btn-secondary oc-icon-file"
        data-control="popup"
        data-size="huge"
        data-handler="onRelationButtonCreate"
        href="javascript:;">
        <?= e(trans('backend::lang.relation.add_name', ['name'=>trans($relationLabel)])) ?>
    </a>
    <button class="btn btn-sm btn-secondary oc-icon-trash-o"
        data-request="onRelationButtonDelete"
        data-request-confirm="<?= e(trans('backend::lang.relation.delete_confirm')) ?>"
    <?php if ($relationViewMode != 'single'): ?>
        onclick="$(this).data('request-data', {
            checked: $('#<?= $this->relationGetId('view') ?> .control-list').listWidget('getChecked')
        })"
        disabled="disabled"
        data-trigger-action="enable"
        data-trigger="#<?= $this->relationGetId('view') ?> .control-list input[type=checkbox]"
        data-trigger-condition="checked"
    <?php endif ?>
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.relation.delete')) ?>
    </button>

    <a class="btn btn-sm btn-secondary oc-icon-file"
       data-control="popup"
       data-size="huge"
       data-handler="onImportDict"
       href="javascript:;">
        <?= trans('igvs.courses::lang.default.command.import') ?>

    </a>

    <?php if ($user->is_superuser || $user->hasPermission('igvs.courses.clear_import_from_intro')): ?>

    <a class="btn btn-sm btn-secondary oc-icon-file"
       data-control="popup"
       data-handler="onClearImportFromIntro"
       href="javascript:;">
        <?= trans('igvs.courses::lang.default.command.clear_import_from_intro') ?>
    </a>

    <?php endif ?>

    <a class="btn btn-sm btn-secondary oc-icon-file"
       href="<?= \Backend::url('igvs/courses') ?>/<?= $course->id ?>/exportdict" target="_blank">
        <?= trans('igvs.courses::lang.default.command.export') ?>
    </a>
</div>
<script>
    $('.cancel.btn.btn-default').on('click', function () {
        $('.popup-backdrop.fade.in.loading').hide();
    })
</script>
<?php endif; ?>