<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('igvs/courses/courses') ?>"><?= Lang::get('igvs.courses::lang.course.txt_field.courses') ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <style>
                [data-cmd="mmImageManager"],
                [data-cmd="mmVideoManager"],
                [data-cmd="mmAudioManager"],
                [data-cmd="mmFileManager"],
                [data-cmd="paragraphStyle"] {
                    display: none!important;
                }
            </style>
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Creating Course..."
                    class="btn btn-primary">
                    <?= e(trans('backend::lang.form.create')) ?>
                </button>
                <a
                    class="btn btn-default"
                    href="<?= Backend::url('igvs/courses') ?>">
                    <?= e(trans('backend::lang.form.cancel')) ?>
                </a>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('igvs/courses') ?>" class="btn btn-default">Return to courses list</a></p>

<?php endif ?>