<native tag="style">
    body.dropdown-open .dropdown-overlay {
        z-index: 0!important;
    }
</native>
<?= $this->listRender() ?>
<native tag="script">
$(document).ready(function () {
    coursesListen.cpProgress('user_<?= $this->user->id ?>');
});
</native>