<?= Form::open(['class' => 'layout']) ?>
<div class="layout-row">
    <?= $this->formRender() ?>
</div>
<div class="form-buttons">
    <div class="loading-indicator-container">
        <button
            type="submit"
            data-request="onSave"
            data-request-data="redirect:0"
            data-hotkey="ctrl+s, cmd+s, enter"
            data-load-indicator="Saving Course..."
            class="btn btn-primary">
            <?= e(trans('backend::lang.form.save')) ?>
        </button>
    </div>
</div>
<?= Form::close() ?>