<?php Block::put('head') ?>
    <base target="_blank">
<?php Block::endPut() ?>
<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('igvs/courses') ?>"><?= Lang::get('igvs.courses::lang.course.txt_field.courses') ?></a></li>
        <li><a href="<?= Backend::url("igvs/courses/{$formModel->id}/categories") ?>"><?= $formModel->code.': '.$formModel->title.' ('.$formModel->modification_name.')' ?></a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>
<?php
    $backendUriExpertise = \Config::get('cms.backendUriExpertise', 'backend');
    $is_expertise = strpos(\Request::getRequestUri(), $backendUriExpertise) !== false;
    $plugin_author_name = $is_expertise ? $backendUriExpertise : 'igvs';
?>
<?php Block::put('bc_expertise') ?>
    <a title="<?= $formModel->code.': '.$formModel->title.' ('.$formModel->modification_name.')' ?>" class="location_link" href="<?= Backend::url($plugin_author_name . "/courses/{$formModel->id}/categories") ?>">
        <i></i><span><?= $formModel->code.': '.$formModel->title.' ('.$formModel->modification_name.')' ?></span>
    </a>
    <a title="<?= $formModel->code.': '.$formModel->title.' ('.$formModel->modification_name.')' ?>" class="location_link">
        <i></i><span><?= e($this->pageTitle) ?></span>
    </a>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?php if (!$formModel->isReadOnly()): ?>

    <?= Form::open(['class' => 'layout']) ?>
        <?php if (!empty($no_theme_modules)): ?>
            <div class="container-flush">
                <div class="callout fade in callout-warning no-icon no-subheader">
                    <button type="button" class="close" data-request="onCloseThemeWarning" data-request-data="name: 'backend_accesslogs_hint'" data-dismiss="callout" aria-hidden="true">×</button>
                    <div class="content">
                        <p><?= Lang::get('igvs.courses::lang.course.message.no_theme').' ('.$formModel->theme ?>):</p>
                        <?= implode(',<br/> ', $no_theme_modules) ?>
                    </div>
                </div>
            </div>
        <?php endif ?>
        <div class="layout-row">
            <style>
                [data-cmd="mmImageManager"],
                [data-cmd="mmVideoManager"],
                [data-cmd="mmAudioManager"],
                [data-cmd="mmFileManager"],
                [data-cmd="paragraphStyle"] {
                    display: none!important;
                }
            </style>
            <?= $this->formRender() ?>
        </div>
        <div class="form-buttons">
        <?php if (isset($this->params[1]) && !in_array($this->params[1], ['update_vocabulary', 'update_members'])): ?>
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s, enter"
                    data-load-indicator="Saving Course..."
                    class="btn btn-primary">
                    <?= e(trans('backend::lang.form.save')) ?>
                </button>
                <!--button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Saving Course..."
                    class="btn btn-default">
                    <?= e(trans('backend::lang.form.save_and_close')) ?>
                </button-->
                <!--span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url("igvs/courses/{$formModel->id}/categories") ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span-->
            </div>
    <?php endif ?>
        </div>

    <?= Form::close() ?>

    <?php else: ?>
    <style>
        #Form-primaryTabs {
            margin: 0;
        }
    </style>
    <form class="layout">
        <div class="layout-row">
            <?= $this->formRenderPreview() ?>
        </div>
    </form>


    <?php endif ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('igvs/courses') ?>" class="btn btn-default">Return to courses list</a></p>

<?php endif ?>