<?php
    $role = $formModel->roles()->where('id', $value)->first();
    if($role && $model->type):
        $statuses = $formModel->statuses()->lists('name','id');
        $status_table = $role->status_table($model->type);
?>
<div class="list-widget list-scrollable-container scroll-after scroll-active-after">
<div class="control-list list-scrollable" data-control="listwidget" style="overflow: auto">
<table class="table data" data-control="rowlink">
    <thead>
        <tr>
            <th><a>Текущий статус</a></th>
            <th colspan="<?= count($statuses) ?>"><a>Разрешенные новые статусы</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <?php foreach($statuses as $status): ?>
            <th><a><?= $status ?></a></th>
            <?php endforeach ?>
        </tr>
        <?php foreach($statuses as $id => $status): ?>
        <tr>
            <th><?= $status ?></th>
            <?php foreach($statuses as $value => $code_to):
                $checkboxId = 'checkbox_'.$field->getId().'_'.$value.'_'.$id; ?>
            <td>
            <?php if($id != $value): ?>
                <div class="checkbox spec custom-checkbox">
                    <input
                        type="checkbox"
                        name="<?= $field->getName() ?>[<?= $id ?>][]"
                        id="<?= $checkboxId ?>"<?php if(isset($status_table[$id][$value])): ?>
                        checked="checked"
                        <?php endif ?>
                        value="<?= $value ?>">
                    <label
                        for="<?= $checkboxId ?>">
                    </label>
                </div>
            <?php endif ?>
            </td>
            <?php endforeach ?>
        </tr>
        <?php endforeach ?>
    </tbody>
    <tfoot>
        <tr>
            <th style="color:#f00">При создании</th>
            <?php foreach($statuses as $value => $status):
                $checkboxId = 'checkbox_'.$field->getId().'_'.$value; ?>
            <td>
                <div class="checkbox spec custom-checkbox">
                    <input
                        type="checkbox"
                        name="<?= $field->getName() ?>[null][]"
                        id="<?= $checkboxId ?>"<?php if(isset($status_table[''][$value])): ?>
                        checked="checked"
                        <?php endif ?>
                        value="<?= $value ?>">
                    <label
                        for="<?= $checkboxId ?>">
                    </label>
                </div>
            </td>
            <?php endforeach ?>
        </tr>
    </tfoot>
</table>
</div>
</div>
<style>
    .spec.custom-checkbox label:before {
        left: auto;
        bottom: auto;
    }
</style>
<?php endif ?>