<div data-control="toolbar">
    <a
        onClick="$.crud('academy/tasks/users/crudcreate', {
            size: 'giant',
            dataModel: { project_id: <?= $formModel->id ?>},
            success: function(data) {
                $.request('onRelationManageAdd', {data: {_relation_field: 'users'}})
            }
        })"
        href="javascript:;"
        class="btn btn-sm btn-secondary oc-icon-file">
        <?= e(trans('backend::lang.relation.create_name', ['name'=>trans('req')])) ?>
    </a>
    <button
        class="btn btn-sm btn-secondary oc-icon-trash-o"
        onclick="$(this).data('request-data', {
            checked: $('#<?= $this->relationGetId('view') ?> .control-list').listWidget('getChecked')
        })"
        disabled="disabled"
        data-request="onRelationButtonDelete"
        data-request-confirm="<?= e(trans('backend::lang.relation.delete_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger="#<?= $this->relationGetId('view') ?> .control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.relation.delete')) ?>
    </button>
</div>