<div class="full_blur_out" onmouseover="this.onmouseover = null; closeEditElement(this)">
    <div class="academy-cms-widget-form-toolbar">
        <div class="oc-icon-check save"
            onClick="elllem = this;$(this).request('onSave',{
                success: function() {
                    $(elllem).request('<?= $this->getEventHandler('onCancel') ?>',{data: {fieldname: '<?= $field->fieldName ?>'}});
                }
            })">
        </div>
        <div class="oc-icon-times"
            onClick="$(this).request('<?= $this->getEventHandler('onCancel') ?>',{data: {fieldname: '<?= $field->fieldName ?>'}})">
        </div>
    </div>
    <input type="hidden" name="editable_field_active" value="<?= $field->fieldName ?>">
    <?= $content ?>
</div>