.academy-cms-widget-form-editable {
    position: relative;
    padding: 0;
}
.academy-cms-widget-form-toolbar {
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
}
.academy-cms-widget-form-toolbar > * {
    display: inline-block;
    border: 1px solid #999;
    border-radius: 3px;
    width: 23px;
    cursor: pointer;
    text-align: center;
    background: none;
    padding: 0;
    background-color: #fff;
}
.academy-cms-widget-form-toolbar > *:before {
    margin: 0;
}
.academy-cms-widget-form-toolbar > *:hover {
    background-color: #eee;
}
/*.academy-cms-widget-form-editable_content .form-control {
    border-color: transparent;
    background-color: transparent;
}*/
.academy-cms-widget-form-editable_content:not(.disabled):hover .form-control {
    cursor: pointer;
    background-color: #fff!important;
    border-color: #666!important;
}
.academy-cms-widget-form-editable_content:not(.disabled):hover .form-control:before,
.academy-cms-widget-form-editable_content:not(.disabled):hover [data-control]:before {
    margin-right: 8px;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    vertical-align: baseline;

    content: "\f040";
    position: absolute;
    right: 0;
    top: 7px;
    z-index: 2;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 3px;
    width: 23px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    background-color: #eee;
    color: #000;
}
