<div is="<?= $this->getComponentName() ?>" alias="<?= $this->alias ?>" class="<?= $cssClasses ?>">
    <?php if ($controlPanel): ?>
    <template slot="controlPanel">
        <?= $controlPanel ?>
    </template>
    <?php endif ?>
    <?php if ($search): ?>
    <div slot="search" class="toolbar-item">
        <?= $search ?>
    </div>
    <?php endif ?>
</div>